.ui-radiobutton * { box-sizing: border-box; }
.ui-radiobutton { color: black; font-size: 14px; }
.ui-radiobutton span { cursor: pointer; margin: 0 10px 10px 0; }
.ui-radiobutton-block span { margin-bottom: 4px; display: block; }
.ui-radiobutton .fa { margin-right: 5px; }
.ui-radiobutton-selected { color: #3B99FC !important; }
.ui-radiobutton-selected * { color: #3B99FC !important; }
.ui-radiobutton-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-radiobutton-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-radiobutton.ui-disabled span { cursor: not-allowed; color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-selected { color: gray !important; }
.ui-radiobutton.ui-disabled .ui-radiobutton-selected * { color: gray !important; }