.ui-radiobutton { color: #000; font-size: 12px; }
.ui-radiobutton div[data-value] { cursor: pointer; margin: 0 10px 10px 0; line-height: 16px; position: relative; display: inline-block; }
.ui-radiobutton span { vertical-align: middle; }
.ui-radiobutton-block div[data-value] { margin-bottom: 4px; display: block; }
.ui-radiobutton i { width: 14px; height: 14px; display: inline-block; position: relative; border-radius: 100px; border: 1px solid #A0A0A0; margin-right: 5px; vertical-align: middle; }
.ui-radiobutton-selected i { border-color: var(--color); }
.ui-radiobutton-selected i:before { content: ' '; width: 8px; height: 8px; background-color: var(--color); display: block; position: absolute; border-radius: 100px; margin: 2px 0 0 2px; }
.ui-radiobutton-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-radiobutton-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-radiobutton.ui-disabled div[data-value] { cursor: not-allowed !important; color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-selected { color: gray !important; }
.ui-radiobutton.ui-disabled div[data-value] i { border-color: gray; }
.ui-radiobutton.ui-disabled div[data-value] i:before { background-color: gray; }

.ui-dark .ui-radiobutton i { border-color: #404040; background-color: #252525; }
.ui-dark .ui-radiobutton { color: inherit; }
.ui-dark .ui-radiobutton-selected i { border-color: var(--color); }
.ui-dark .ui-radiobutton-selected i:before { background-color: var(--color); }
.ui-dark .ui-radiobutton.ui-disabled div[data-value] { cursor: not-allowed !important; color: #606060 !important; }
.ui-dark .ui-radiobutton.ui-disabled div[data-value] i { border-color: #404040; }
.ui-dark .ui-radiobutton.ui-disabled div[data-value] i:before { background-color: #505050; }
.ui-dark .ui-radiobutton.ui-disabled .ui-radiobutton-selected { color: #505050 !important; }
