.ui-radiobutton { color: black; font-size: 14px; vertical-align: baseline; }
.ui-radiobutton .ui-radiobutton-inner[data-value]{ cursor: pointer; margin: 0 10px 10px 0; line-height: 16px; position: relative; display: inline-block; }
.ui-radiobutton span { vertical-align: middle; }
.ui-radiobutton-block .ui-radiobutton-inner[data-value]{ margin-bottom: 4px; display: block; }
.ui-radiobutton i { width: 14px; height: 14px; display: inline-block; position: relative; border-radius: 100px; border: 1px solid #A0A0A0; margin-right: 5px; vertical-align: middle; }
.ui-radiobutton-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-radiobutton-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-radiobutton-selected i { border-color: black; }
.ui-radiobutton-selected i:before { content: ' '; width: 8px; height: 8px; background-color: black; display: block; position: absolute; border-radius: 100px; margin: 2px 0 0 2px; }
.ui-radiobutton-custom { display: inline-block; border: 1px solid #ccc; padding: 10px; position: relative; margin: 0 10px 10px 0; cursor: pointer; border-radius: 2px; text-align: center; }
.ui-radiobutton-custom.ui-radiobutton-selected { background-color: #4285F4; color: white; border-color: rgba(0, 0, 0, 0.2); }
.ui-radiobutton.ui-disabled .ui-radiobutton-custom { cursor: not-allowed !important; color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-custom.ui-radiobutton-selected { background-color: #F0F0F0; border-color: #E0E0E0; color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-inner[data-value]{ cursor: not-allowed !important; color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-selected { color: gray !important; }
.ui-radiobutton.ui-disabled .ui-radiobutton-inner[data-value] i { border-color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-inner[data-value] i:before { background-color: gray; }

.ui-dark .ui-radiobutton i { border-color:#404040; background-color:#252525; }
.ui-dark .ui-radiobutton { color: inherit; }
.ui-dark .ui-radiobutton-selected i { border-color: white; }
.ui-dark .ui-radiobutton-selected i:before { background-color: white; }
.ui-dark .ui-radiobutton .ui-radiobutton-custom { background-color: #252525; border-color: rgba(255, 255, 255, 0.2); }
.ui-dark .ui-radiobutton-custom.ui-radiobutton-selected { background-color: #4285F4; color: white; border-color: rgba(0, 0, 0, 0.2); }
.ui-dark .ui-radiobutton.ui-disabled .ui-radiobutton-custom { cursor: not-allowed !important; color: gray; }
.ui-dark .ui-radiobutton.ui-disabled .ui-radiobutton-inner[data-value]{ cursor: not-allowed !important; color:#606060 !important; }
.ui-dark .ui-radiobutton.ui-disabled .ui-radiobutton-inner[data-value] i { border-color:#404040; }
.ui-dark .ui-radiobutton.ui-disabled .ui-radiobutton-inner[data-value] i:before { background-color:#505050; }
.ui-dark .ui-radiobutton.ui-disabled .ui-radiobutton-selected { color:#505050 !important; }
.ui-dark .ui-radiobutton.ui-disabled .ui-radiobutton-custom.ui-radiobutton-selected { background-color: #404040; border-color: rgba(255, 255, 255, 0.3); color: #cecece !important; }