.ui-editable-default .editable { border: 1px solid transparent; border-bottom: 1px solid #D0D0D0; padding: 1px 2px; cursor: text; outline: 0; min-height: 24px; }
.ui-editable-default .editable:hover { border-bottom-color: rgba(100,100,100,0.2); }
.ui-editable-default .editable-editing { border-bottom-color: #D0D0D0 !important; background-color: #F8F8F8; }
.editable-multiline { display: inline-block; width: 100%; }
.ui-editable-default .ui-editable-ok { border-bottom-color: 1px solid #9FE200 !important; }
.ui-editable-default .ui-editable-no { border-bottom-color: 1px solid #BE0000 !important; }
.ui-editable-default .invalid { color: red; border-bottom-color: red !important; }
.ui-editable-default .editable .editable-tag { margin-right: 5px; margin-bottom: 3px; padding: 0px 5px; cursor: default; position: relative; display: inline-block; background-color: var(--color); color: #FFF; border-radius: var(--radius); border: 1px solid rgba(0, 0, 0, 0.2); font-size: 11px; vertical-align: text-top; }
.ui-editable-default .editable .editable-tag i { margin-right: 4px; font-size: 10px; cursor: pointer; transition: transform 0.1s; display: none; }
.ui-editable-default .editable .editable-tag i:hover { transform: scale(1.2); }
.ui-editable-default.ui-editable-enabled .editable .editable-tag i { display: inline-block; }

.ui-dark .ui-editable-default .editable { border-bottom-color: #404040; }
.ui-dark .ui-editable-default .editable:hover { border-bottom-color: rgba(100,100,100,0.2); }
.ui-dark .ui-editable-default .editable-editing { border-bottom-color: #404040 !important; background-color: #333; }
.ui-dark .ui-editable-default .ui-editable-ok { border-bottom-color: 1px solid #9FE200 !important; }
.ui-dark .ui-editable-default .ui-editable-no { border-bottom-color: 1px solid #BE0000 !important; }
.ui-dark .ui-editable-default .invalid { color: red; border-bottom-color: red !important; }
.ui-dark .ui-editable-default .editable .editable-tag { background-color: var(--color); color: #FFF; border-color: rgba(0, 0, 0, 0.2); }
