.ui-serverlisting-paginate { padding: 10px 0 0; height: 50px; }
.ui-serverlisting-paginate button { width: 28px; height: 28px; background-color: white; border: 1px solid #4285F4; border-left: 0; outline: 0; border-radius: 0; font-size: 12px; color: #4285F4; padding: 1px 0 0; margin: 0; user-select: none; }
.ui-serverlisting-paginate button:first-child { margin-left: 0; border-bottom-left-radius: 3px; border-top-left-radius: 3px; border-left: 1px solid #4285F4; }
.ui-serverlisting-paginate button:last-child { margin-left: 0; border-bottom-right-radius: 3px; border-top-right-radius: 3px; }
.ui-serverlisting-paginate .selected { background-color: #4285F4 !important; color: white; }
.ui-serverlisting-fixed .ui-serverlisting-paginate { padding-left: 10px; border-top: 1px solid #E0E0E0; }

.ui-dark .ui-serverlisting-fixed .ui-serverlisting-paginate { border-top-color: #303030; }
.ui-dark .ui-serverlisting-paginate button { background-color: #202020; }