.ui-datatable { overflow: hidden; position: relative; font-size: 12px; border:1px solid #E0E0E0; }

.ui-datatable-cols { height: 31px; font-size: 12px; border-bottom: 1px solid #E0E0E0; background-color: #F5F5F5; }
.ui-datatable-col { float: left; height: 30px; line-height: 30px; padding: 0 5px; border-right: 1px solid #E0E0E0; user-select: none; }
.ui-datatable-col > i { float: right; width: 12px; text-align: center; line-height: 30px; display: none; }
.ui-datatable-col > span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ui-datatable-col.asc > i, .ui-datatable-col.desc > i { display: block; }
.ui-datatable-col.asc > span, .ui-datatable-col.desc > span { margin-right: 12px; }
.ui-datatable-sortable { cursor: pointer; }
.ui-datatable-row, .ui-datatable-empty { border-bottom: 1px solid #E0E0E0; height: 24px; }
.ui-datatable-row:hover { background-color: #F0F0F0; }
.ui-datatable-selected { background-color: rgba(249,232,196,0.5) !important; }
.ui-datatable-row-col { float: left; overflow: hidden; border-right: 1px solid #E0E0E0; height: 24px; padding: 0 5px; line-height: 23px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: default; }
.ui-datatable-row-odd_BK { background-color: #F9F9F9; }
.ui-datatable-col.asc > i:before { content: '\f106'; }
.ui-datatable-col.desc > i:before { content: '\f107'; }
.ui-datatable-pagination { height: 31px; background-color: #FFF; border-top: 1px solid #E0E0E0; }
.ui-datatable-pages { float: left; margin: 5px 0 0 5px; }
.ui-datatable-pages button { border: 0; background-color: #FFF; height: 20px; margin: 0; padding: 0; width: 20px; float: left; font-size: 11px; }
.ui-datatable-pages button:disabled { color: #C0C0C0; }
.ui-datatable-pages button[name='prev'] { border-radius: var(--radius) 0 0 var(--radius); }
.ui-datatable-pages input { height: 20px; line-height: 20px; float: left; width: 30px; text-align: center; outline: 0; border: 0; background-color: transparent; font-weight: bold; font-size: 11px; }
.ui-datatable-pages input:disabled { background-color: transparent; color: #C0C0C0; }
.ui-datatable-pages button[name='next'] { border-radius: 0 var(--radius) var(--radius) 0; }
.ui-datatable-info { line-height: 30px; float: right; color: gray; padding: 0 5px 0 0; font-size: 11px; }
.ui-datatable-changed { background-image: url(data:image/gif;base64,R0lGODdhBgAGAIAAAP8mAAAAACH5BAEAAAEALAAAAAAGAAYAAAIKhI8QGGvt4JKhAAA7); background-repeat: no-repeat; background-position: 0 0; }
.ui-datatable-cols-scroller { overflow: hidden; }
.ui-datatable-checked { background-color: rgba(249,232,196,0.5) !important; }
.ui-datatable-checkbox { width: 14px; height: 14px; border: 1px solid #D0D0D0; vertical-align: middle; cursor: pointer; font-size: 9px; padding: 1px 0 0; background-color: #FFF; border-radius: var(--radius); position: relative; display: inline-block; }
.ui-datatable-checkbox i { display: none; }
.ui-datatable-checkbox-checked { background-color: #4285F4; border-color: #4285F4; color: #FFF; }
.ui-datatable-checkbox-checked i { display: block; }
.ui-datatable-cols { font-weight: bold; }
.ui-datatable-noscroll .ui-scrollbar-area { overflow-y: hidden; }
.ui-datatable-noscroll .ui-scrollbar-y span { visibility: hidden; }

.ui-dark .ui-datatable { border-color: #404040; }
.ui-dark .ui-datatable-cols { border-bottom-color: #404040; background-color: #303030; }
.ui-dark .ui-datatable-col { border-right-color: #404040; }
.ui-dark .ui-datatable-row, .ui-dark .ui-datatable-empty { border-bottom-color: #404040; }
.ui-dark .ui-datatable-row:hover { background-color: #343434; }
.ui-dark .ui-datatable-selected { background-color: rgba(100,100,100,0.3) !important; }
.ui-dark .ui-datatable-row-col { border-right-color: #404040; }
.ui-dark .ui-datatable-row-odd_BK { background-color: #252525; }
.ui-dark .ui-datatable-pagination { background-color: #202020; border-top-color: #404040; }
.ui-dark .ui-datatable-pages button { background-color: #202020; }
.ui-dark .ui-datatable-pages button:disabled { color: #404040; }
.ui-dark .ui-datatable-pages input:disabled { color: #404040; }
.ui-dark .ui-datatable-info { color: gray; }
.ui-dark .ui-datatable-checked { background-color: rgba(100,100,100,0.3) !important; }
.ui-dark .ui-datatable-checkbox { border-color: #505050; background-color: #202020; }
.ui-dark .ui-datatable-checkbox-checked { background-color: #4285F4; border-color: #4285F4; color: #FFF; }