.ui-dynamicvalue-label { margin-bottom: 3px; font-size: 12px; text-align: left; }
.ui-dynamicvalue-label i { margin-right: 5px; }
.ui-dynamicvalue { height: 32px; border: 1px solid #E0E0E0; border-radius: 3px; background-color: white; cursor: pointer; }
.ui-dynamicvalue-value { cursor: pointer; display: block; padding: 7px 7px 0 5px; margin-right: 32px; user-select: none; font-size: 13px; color: gray; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ui-dynamicvalue-icon { color: black; cursor: pointer; width: 32px; float: right; border-left: 1px solid #E0E0E0; height: 30px; text-align: center; padding: 5px 0 0; }
.ui-dynamicvalue-is .ui-dynamicvalue-value { color: black; }
.ui-dynamicvalue-is .fa-times { color: red; }
.ui-dynamicvalue-required .ui-dynamicvalue-label { font-weight: bold; }
.ui-dynamicvalue-required .ui-dynamicvalue-label:before { color: red; content: '***'; margin-right: 5px; }
.ui-dynamicvalue-required .ui-dynamicvalue-icon { border-left-color: #D0D0D0; }
.ui-dynamicvalue-required .ui-dynamicvalue { border-color: #D0D0D0; }
.ui-dynamicvalue-invalid .ui-dynamicvalue { border: 1px solid red; }
.ui-dynamicvalue-invalid .ui-dynamicvalue-icon { border-left-color: red; color: red; }

.ui-disabled .ui-dynamicvalue * { cursor: not-allowed; }
.ui-disabled .ui-dynamicvalue { background-color: #F0F0F0; }
.ui-disabled .ui-dynamicvalue-value { color: gray; }
.ui-disabled .ui-dynamicvalue-icon i { color: gray !important; }

.ui-dark .ui-dynamicvalue { border-color: #3A3A3A; background-color: #202020; color: #707070; }
.ui-dark .ui-dynamicvalue-icon { border-left-color: #3A3A3A; color: #707070; }
.ui-dark .ui-dynamicvalue-is .ui-dynamicvalue-value { color: white; }
.ui-dark .ui-dynamicvalue-required .ui-dynamicvalue-label:before { color: red; }
.ui-dark .ui-dynamicvalue-required .ui-dynamicvalue-icon { border-color: #424242; }
.ui-dark .ui-dynamicvalue-required .ui-dynamicvalue { border-color: #424242; }
.ui-dark .ui-dynamicvalue-invalid .ui-dynamicvalue { border-color: red !important; background-color: #202020 !important; }
.ui-dark .ui-dynamicvalue-invalid .ui-dynamicvalue-icon { border-left-color: red; color: red; }
.ui-dark .ui-disabled .ui-dynamicvalue { background-color: #282828; }
.ui-dark .ui-disabled .ui-dynamicvalue-value { color: #777777; }