.ui-floatinginput { position: absolute; opacity: 0; transition: 0.25s transform cubic-bezier(0.23, 1, 0.32, 1); left: -100; top: -100; z-index: 100; box-shadow: 0 1px 20px rgba(0,0,0,0.1); background-color: #FFF; border-radius: var(--radius); border: 1px solid #E0E0E0; overflow: hidden; transition: all 0.2s; }
.ui-floatinginput-input { min-height: 38px; background: #FFF; border-radius: var(--radius) var(--radius) 0 0; line-height: 22px; }
.ui-floatinginput-input input { width: 100%; background-color: #FFF; border: 0; font-size: 12px; outline: 0; padding: 0; margin: 0; line-height: 16px; outline: 0; display: block; }
.ui-floatinginput-input textarea { width: 100%; background-color: #FFF; border: 0; font-size: 12px; outline: 0; padding: 0; margin: 0; line-height: 16px; outline: 0; resize: none; }
.ui-floatinginput-input > div { margin: 0 30px 0 35px; padding: 6px 10px 0 0; line-height: 24px; }
.ui-floatinginput-input > span { float: left; width: 16px; text-align: center; padding: 8px 0 0 12px; font-size: 12px; }
.ui-floatinginput-control input { margin: 5px 0 0; }
.ui-floatinginput-add { float: right !important; padding-left: 0 !important; color: #83c83c; text-align: left !important; font-size: 11px !important; cursor: pointer; width: 22px !important; }
.ui-floatinginput-visible { opacity: 1; }
.ui-floatinginput-summary { font-size: 11px; color: gray; border-bottom: 1px solid #E0E0E0; padding: 5px 10px 8px; line-height: 14px; }
.ui-floatinginput-summary code { background-color: #F8F8F8; padding: 1px 2px; border-radius: 2px; }
.ui-floatinginput-monospace input, .ui-floatinginput-monospace textarea { font-family: Menlo,Consolas,monospace; }
.ui-floatinginput-multiline .ui-floatinginput-control { padding: 10px 0; }
.ui-floatinginput ::-webkit-scrollbar { width: 10px; }
.ui-floatinginput ::-webkit-scrollbar-track-piece { background-color: transparent; }
.ui-floatinginput ::-webkit-scrollbar-thumb { background-color: transparent; outline: 2px solid transparent; outline-offset: -2px; border: 1px solid transparent; }
.ui-floatinginput ::-webkit-scrollbar-thumb:hover { background-color: transparent; }

.ui-dark .ui-floatinginput { background-color: #303030; border-color: #404040; box-shadow: 1px 5px 10px rgba(0,0,0,0.2); }
.ui-dark .ui-floatinginput-input { background: #303030; }
.ui-dark .ui-floatinginput-input input, .ui-dark .ui-floatinginput-input textarea { background-color: #303030; }
.ui-dark .ui-floatinginput-add:hover { color: #FFF; }
.ui-dark .ui-floatinginput-summary code { background-color: #272727; padding: 1px 2px; border-radius: 2px; }
.ui-dark .ui-floatinginput-summary { color: gray; border-bottom-color: #404040; }