.ui-notify-container { position: fixed; max-width: 400px; z-index: 100; text-align: center; width: 100%; }
.ui-notify { height: 80px; transition: 0.15s transform,opacity; transform: scale(1); transition-timing-function: ease-in; opacity: 1; }
.ui-notify figure { background-color: #FFF; box-shadow: 0 3px 20px rgba(0,0,0,0.2); border-radius: var(--radius); font-size: 14px; padding: 0; color: #000; cursor: default; position: relative; height: 60px; display: block; }
.ui-notify-dot { width: 10px; height: 10px; position: absolute; border-radius: var(--radius) var(--radius) var(--radius) var(--radius); right: 5px; bottom: 5px; }
.ui-notify-1 .ui-notify-dot { background-color: #8CC152; }
.ui-notify-2 .ui-notify-dot { background-color: #F43D35; }
.ui-notify-3 .ui-notify-dot { background-color: var(--color); }
.ui-notify-1 .ui-notify-icon { color: #8CC152; }
.ui-notify-2 .ui-notify-icon { color: #F43D35; }
.ui-notify-3 .ui-notify-icon { color: var(--color); }
.ui-notify-icon { float: left; font-size: 25px; padding: 0 0 0 10px; width: 50px; text-align: center; height: 60px; line-height: 60px; border-radius: var(--radius) 0 0 var(--radius); }
.ui-notify-message { margin: 1px 0 0 60px; line-height: 16px; height: 60px; display: table-cell; width: 100%; vertical-align: middle; padding: 0 10px; text-align: left; }
.ui-notify-hidden { transform: scale(0.7); opacity: 0.1; }

.ui-notify-container-top { left: 50%; margin-left: -200px; top: 20px; }
.ui-notify-container-top-left { left: 25px; top: 20px; }
.ui-notify-container-top-right { right: 25px; top: 20px; }
.ui-notify-container-bottom { bottom: 10px; left: 50%; margin-left: -150px; }
.ui-notify-container-bottom-left { bottom: 10px; left: 25px; }
.ui-notify-container-bottom-right { bottom: 10px; right: 25px; }

@media(max-width: 767px) {
	.ui-notify-container { left: 20px; right: 20px; margin-left: 0; width: auto; }
}

.ui-dark .ui-notify figure { background-color: #444; box-shadow: 0 3px 20px rgba(0,0,0,0.3); color: #FFF; }