.ui-form-noscroll, .ui-form-noscroll body { overflow: hidden; }
.ui-form-container { width: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(230,233,237,0.8); z-index: 5; overflow-y: scroll; transform-style: preserve-3d; overflow-scrolling: touch; }
.ui-form { background-color: #FFF; margin: 0 auto 30px; border-radius: var(--radius); box-shadow: 0 0 30px rgba(0,0,0,0.05); transform: translate(0, -500px); transition: all 0.2s; opacity: 0; }
.ui-form-animate { transform: skewX(0deg); opacity: 1; }
.ui-form .padding { padding: 15px; }
.ui-form-title { padding: 18px 15px 18px 15px; font-size: 16px; user-select: none; color: #000; background-color: #FFF; border-bottom: 1px solid #E0E0E0; height: 58px; }
.ui-form-title .ui-form-button-close { float: right; cursor: pointer; font-size: 18px; margin: -2px 0 0 0; transition: all 0.2s; background: none; border: 0; outline: 0; height: auto; color: red; text-align: right !important; width: 20px; padding: 0; }
.ui-form-title .ui-form-button-close i { font-weight: bold; }
.ui-form-title .ui-form-button-close:hover { transform: scale(1.2); }
.ui-form-title > span { font-weight: bold; }
.ui-form-title > i { margin-right: 7px; }
.ui-form > nav { padding: 0 15px 0; border-top: 1px solid #E0E0E0; background-color: #FFF; border-radius: 0 0 var(--radius) var(--radius); line-height: 65px; height: 65px; display: block; float: none; position: relative; }
.ui-form > nav button { border: 0; margin: 15px 0 0; background-color: #F0F0F0; height: 34px; padding: 0 20px; color: #000; cursor: pointer; font-family: Arial; line-height: 34px; vertical-align: middle; outline: 0; font-size: 14px; text-decoration: none; transition: all 0.3s; float: left; width: 50%; }
.ui-form > nav button i { width: 15px; text-align: center; margin-right: 5px; }
.ui-form > nav button:hover { opacity: 0.9; }
.ui-form > nav button:active { background-color: #D0D0D0; }
.ui-form > nav button:disabled { background-color: #F5F5F5 !important; border-color: #E0E0E0 !important; color: silver !important; cursor: not-allowed; box-shadow: none; }
.ui-form > nav button:first-child { border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); }
.ui-form > nav button:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.ui-form > nav button[name='submit'] { font-weight: bold; background-color: var(--color); color: #FFF; }

.ui-dark .ui-form-container { background-color: rgba(50,50,50,0.9); }
.ui-dark .ui-form { background-color: #202020; }
.ui-dark .ui-form-title { background-color: #202020; border-bottom-color: #303030; color: #FFF; }
.ui-dark .ui-form > nav { background-color: #202020; border-top-color: #303030; }
.ui-dark .ui-form > nav button { border-color: #202020; background-color: #505050; color: #E0E0E0; }
.ui-dark .ui-form > nav button[name='submit'] { background-color: var(--color); }
.ui-dark .ui-form > nav button:active { background-color: #404040; }
.ui-dark .ui-form > nav button:disabled { background-color: #303030 !important; color: #606060 !important; border-color: #202020 !important; }

@media(max-width: 767px) {
	.ui-form-container-padding { padding: 0; }
	.ui-form > nav button[name='submit'] { max-width: 180px; }
}

@media(max-width: 350px) {
	.ui-form-container-padding { padding: 0; }
	.ui-form > nav button[name='submit'] { max-width: 150px; }
}