.dg { color: black; position: relative; visibility: hidden; }
.dg-h-container { overflow: hidden; border: 1px solid #E0E0E0; }
.dg-h-body { overflow: hidden; overflow-x: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
.dg-header { position: relative; }
.dg-hrow { height: 58px; border-bottom: 1px solid #E0E0E0; }
.dg-hcol { float: left; border-left: 1px solid #E0E0E0; height: 58px; font-weight: bold; position: relative; }
.dg-sort { float: right; font-size: 11px; width: 20px; text-align: center; padding: 11px 0 0 0; color: #4285F4; }
.dg-btn-columns { cursor: pointer; color: #D0D0D0; font-size: 20px; position: absolute; right: 0; height: 58px; background-color: #D0D0D0; width: 12px; text-align: left; z-index: 3; }
.dg-btn-columns span { display: block; padding-top: 4px; font-size: 6px; color: gray; text-align: center; }
.dg-btn-columns i { position: absolute; margin-left: -5px; top: 26px; }
.dg-btn-columns:hover { background-color: #D9D9D9; color: #D9D9D9; }
.dg-sorting { cursor: pointer; }
.dg-sorting .fa-sort { color: gray; }
.dg-hcol:first-child { border-left: 0; }
.dg-resize { position: absolute; width: 10px; cursor: col-resize; height: 34px; border-right: 1px solid #D0D0D0; z-index: 2; }
.dg-label { padding: 8px 5px 0; height: 34px; font-size: 12px; user-select: none; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.dg-sorting .dg-label.center { padding-left: 25px; padding-right: 0; }
.dg-sorting .dg-label { margin-right: 24px; }
.dg-filter { padding: 0 5px; border-top: 1px solid #E0E0E0; height: 23px; }
.dg-filter input, .dg-filter label { width: 100%; outline: 0; font-size: 10px; background-color: transparent; border: 0; margin: 0; padding: 0; line-height: 23px; height: 23px; }
.dg-filter label { color: #A0A0A0; cursor: pointer; display: block; }
.dg-filter.center input { text-align: center; }
.dg-filter.right input { text-align: right; }
.dg-filter-empty { border-top: 1px solid #E0E0E0; height: 23px; cursor: not-allowed !important; background: repeating-linear-gradient(45deg,#FFFFFF,#FFFFFF 10px,#F9F9F9 10px,#F9F9F9 20px); }
.dg-hcol .dg-label { padding-top: 9px; }
.dg-filter-selected { background-color: #FBF0CA !important; }
.dg-filter-selected label { color: black; }
.dg-filter i { position: absolute; right: 5px; margin-top: 6px; font-size: 10px; color: red; display: none; cursor: pointer; }
.dg-filter-selected i { display: block; }
.dg-filter-selected input { padding-right: 12px; }
.dg-clickable .dg-row { cursor: pointer; }
.dg-v-area { overflow: hidden; }
.dg-v-container { overflow: hidden; }
.dg-v-body { overflow-y: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; overflow-x: hidden; outline: 0 !important; }
.dg-row { height: 28px; font-size: 12px; border-bottom: 1px solid #E0E0E0; }
/*.dg-v-body > div > div:nth-child(even) > .dg-row { background-color: rgba(0,0,0,0.02); }*/
.dg-row-changed { background-color: rgba(208,31,33,0.07); }
.dg-row.dg-selected { background-color: rgba(249,232,196,0.5) !important; }
.dg-row:hover { background-color: rgba(0,0,0,0.05) !important; }
.dg-col { float: left; border-left: 1px solid #E0E0E0; height: 27px; overflow: hidden; min-width: 30px; }
.dg-col:first-child { border-left: 0; }
.dg-col-changed { background-image: url(data:image/gif;base64,R0lGODdhBgAGAIAAAP8mAAAAACH5BAEAAAEALAAAAAAGAAYAAAIKhI8QGGvt4JKhAAA7); background-repeat: no-repeat; background-position: 0 0; }
.dg-value { padding: 6px 5px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; height: 28px; }
.dg-number { padding: 6px 5px 0; font-size: 11px; text-align: right; height: 28px; color: #A0A0A0; }
.dg-col--1 { width: 40px; }
.dg-col--1 .dg-label { text-overflow: clip; }
.dg-row-empty { height: 28px; font-size: 12px; border-bottom: 1px solid #F0F0F0; background-color: white !important; cursor: default; }
.dg-footer { border: 1px solid #E0E0E0; border-top: 0; height: 32px; }
.dg-pagination { float: left; }
.dg-pagination button { background-color: #FFF; border: 0; border-left: 1px solid #E0E0E0; height: 31px; width: 40px; color: black; font-size: 12px; text-align: center; outline: 0; }
.dg-pagination button:hover { background-color: #F0F0F0; }
.dg-pagination button:disabled { background-color: #F9F9F9; color: #A0A0A0; }
.dg-pagination button:first-child { border-left: 0; }
.dg-pagination button[name="page-prev"] { border-right: 1px solid #E0E0E0; width: 41px; }
.dg-pagination button[name="page-last"] { border-right: 1px solid #E0E0E0; }
.dg-pagination input { width: 40px; text-align: center; border: 0; outline: 0; font-size: 12px; padding: 0; margin: 0; background: transparent; }
.dg-pagination > div { position: relative; display: inline-block; }
.dg-pagination-items { float: right; font-size: 12px; margin: 7px 10px 0 0; font-weight: bold; }
.dg-pagination-pages { float: left; font-size: 12px; margin: 7px 0 0 10px; }
.dg-scrollbar-container-v { position: absolute; right: 0; top: 58px; width: 6px; background-color: #D0D0D0; z-index: 3; overflow: hidden; cursor: grab; }
.dg-scrollbar-v { width: 100%; height: 30px; background-color: gray; position: absolute; left: 0; top: 0; }
.dg-scrollbar-container-h { position: relative; height: 6px; background-color: #D0D0D0; overflow: hidden; cursor: grab; }
.dg-scrollbar-h { height: 100%; width: 30px; background-color: gray; position: absolute; left: 0; bottom: 0; }
.dg-scroll-h .dg-h-container { border-bottom: 0; }
.dg-noscroll .dg-v-body { overflow: hidden; }
.dg-noscroll .dg-scrollbar-container-v { display: none; }
.dg-visible { visibility: visible; }
.dg-columns:before { content: ' '; position: absolute; width: 0; height: 0; margin-top: -8px; margin-left: 158px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #404040; }
.dg-columns { position: absolute; right: 0; top: 43px; width: 182px; background-color: #404040; z-index: 1; box-shadow: 0 5px 10px rgba(0,0,0,0.1); border-radius: 2px; font-size: 12px; line-height: 16px; z-index: 4; color: white; }
.dg-columns > div { border-bottom: 1px solid #303030; overflow: hidden; }
.dg-columns-body { max-height: 180px; overflow-scrolling: touch; overflow-y: auto; padding: 8px 50px 10px 10px; width: 210px; overflow-x: hidden; }
.dg-columns label { display: block; cursor: pointer; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; }
.dg-columns label input { vertical-align: middle; }
.dg-columns label span { vertical-align: middle; margin-left: 5px; }
.dg-columns-button { margin: 10px 10px 0; display: block; width: 160px; background-color: #888888; border-radius: 2px; color: white; border: 0; font-size: 11px; height: 20px; }
.dg-columns-button:hover { background-color: #999999; }
.dg-columns-button i { margin-right: 6px; }
.dt-columns-reset { display: block; font-size: 11px; padding: 5px 0 8px 10px; cursor: pointer; }
.dt-columns-reset:hover { text-decoration: underline; }
.dg-hcol .dg-checkbox { margin-top: 0; }
.dg-checkbox { width: 15px; height: 15px; border: 1px solid #D0D0D0; vertical-align: middle; cursor: pointer; font-size: 11px; text-align: center; padding: 1px 0 0 1px; background-color: white; border-radius: 2px; margin: 5px auto 0; }
.dg-checkbox i { display: none; }
.dg-checked { background-color: #4285F4; border-color: #4285F4; color: white; }
.dg-checked i { display: block; }
.dg-required:before { content: '*'; font-size: 14px; color: red; font-weight: bold; margin-right: 3px; vertical-align: top; }
.dg input:-ms-input-placeholder { color: #A0A0A0 !important; }
.dg input::placeholder { color: #A0A0A0; opacity: 1; }
.dg input::-ms-input-placeholder { color: #A0A0A0 !important; }
.dg-col button { margin: 4px 0 0; border: 0; background-color: white; font-size: 10px; color: #404040; height: 19px; border: 1px solid #E0E0E0; border-left: 0; padding: 0 3px; outline: 0; line-height: 10px; min-width: 20px; }
.dg-col button:hover { background-color: #4285F4; color: white; }
.dg-col button[name="remove"] { background-color: #ffe5dd; color: red; }
.dg-col button[name="remove"]:hover { background-color: red; color: white; }
.dg-col button:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; border-left: 1px solid #E0E0E0; }
.dg-col button:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.dg-col button:disabled { background-color: #F0F0F0 !important; color: silver !important; cursor: not-allowed; }
.dg-editable .dg-checkbox { position: relative; display: inline-block; margin-left: 5px; margin-right: 5px; }
.dg-editable > div > .dg-checkbox { border-color: #4285F4; }
.dg-bool { height: 28px; }
.dg-bool .dg-checked { background-color: #D0D0D0; border-color: #D0D0D0; color: gray; }
.dg-editable { background-color: rgba(255,241,164,0.1); }
.dg-editable input { width: 100%; height: 28px; background-color: transparent; border: 0; outline: 0; padding: 0 4px; }
.dg-scrollbar-container-v:hover, .dg-scrollbar-container-v-focused { width: 12px; }
.dg-scrollbar-container-h:hover, .dg-scrollbar-container-h-focused { height: 12px; margin-top: -6px; z-index: 4; }

.dg-noborder .dg-h-container { border: 0; }
.dg-noborder .dg-footer { border: 0; border-top: 1px solid #E0E0E0; }

.ui-dark .dg-noborder .dg-footer { border-color: #404040; }
.ui-dark .dg-filter-selected { background-color: #3c3a32 !important; color: white; }
.ui-dark .dg-filter-selected label { color: white; }
.ui-dark .dg { color: #E0E0E0; }
.ui-dark .dg-h-container { border-color: #353535; }
.ui-dark .dg-sorting .fa-sort { color: #A0A0A0; }
.ui-dark .dg-filter { border-top-color: #353535; }
.ui-dark .dg-resize { border-right-color: #353535; }
.ui-dark .dg-filter-empty { border-top-color: #353535; height: 23px; background: repeating-linear-gradient(45deg,#252525,#252525 10px,#202020 10px,#202020 20px); }
.ui-dark .dg-number { background-color: #282828; }
.ui-dark .dg-col { border-left-color: #353535; }
.ui-dark .dg-hcol { border-left-color: #353535; }
.ui-dark .dg-hrow { border-bottom-color: #353535; color: #F0F0F0; }
.ui-dark .dg-row-empty { background-color: #202020 !important; border-bottom-color: #353535; }
.ui-dark .dg-row { border-bottom-color: #353535; }
.ui-dark .dg-selected { background-color: rgba(200,200,200,0.03) !important; }
.ui-dark .dg-v-body > div > div:nth-child(even) > .dg-row  { background-color: rgba(0,0,0,0.1); }
.ui-dark .dg-row:hover { background-color: rgba(0,0,0,0.2); }
.ui-dark .dg-row-changed:hover { background-color: rgba(208,31,33,0.2) !important; }
.ui-dark .dg-row-changed { background-color: rgba(208,31,33,0.12) !important; }
.ui-dark .dg-row-changed.dg-row:nth-child(even) { background-color: rgba(208,31,33,0.12); }
.ui-dark .dg-scrollbar-container-h { background-color: #282828; }
.ui-dark .dg-scrollbar-container-v { background-color: #282828; }
.ui-dark .dg-scrollbar-h { background-color: #454545; }
.ui-dark .dg-scrollbar-v { background-color: #454545; }
.ui-dark .dg-btn-columns:hover { color: white; }
.ui-dark .dg-col button { background-color: #303030; color: #A0A0A0; border-color: #404040; }
.ui-dark .dg-col button:hover { background-color: #404040; color: white; }
.ui-dark .dg-col button:first-child { border-left-color: #404040; }
.ui-dark .dg-col button[name="remove"] { background-color: #282828; color: red; }
.ui-dark .dg-col button:disabled { background-color: #252525 !important; color: #505050 !important; }
.ui-dark .dg-checkbox { background-color: #303030; border-color: #3A3A3A; }
.ui-dark .dg-checked { background-color: #4285F4; border-color: #4285F4; color: white; }
.ui-dark .dg-btn-columns { color: #323232; background-color: #323232; }
.ui-dark .dg-btn-columns span { color: #606060; }
.ui-dark .dg-btn-columns:hover { background-color: #353535; color: #353535; }
.ui-dark .dg-pagination button { background-color: #303030; border-left-color: #404040; color: white; }
.ui-dark .dg-pagination button:hover { background-color: #353535; }
.ui-dark .dg-pagination button:disabled { background-color: #202020; color: gray; }
.ui-dark .dg-pagination button[name="page-prev"] { border-right-color: #404040; }
.ui-dark .dg-pagination button[name="page-last"] { border-right-color: #404040; }
.ui-dark .dg-bool .dg-checked { background-color: #505050; border-color: #505050; color: gray; }
.ui-dark .dg-editable { background-color: rgba(255,241,164,0.05); }