.dg { color: #000; position: relative; visibility: hidden; background-color: #FFF; }
.dg-body { outline: 0 !important; background-color: #FFF; }
.dg .ui-scrollbar-y { margin-top: 54px; }
.dg .dg-header-scrollbar > .ui-scrollbar-area { overflow-y: hidden; }
.dg .dg-body-scrollbar > .ui-scrollbar-area { overflow-x: hidden; }
.dg-container { overflow: hidden; border-top: 1px solid #E0E0E0; border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; position: relative; }
.jc-19 .dg-container { border-bottom: 1px solid #E0E0E0; }
.dg-mobile .dg-container { border-right: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; }
.dg-header { position: relative; border-bottom: 1px solid #E0E0E0; }
.dg-hrow { height: 53px; }
.dg-hcol { float: left; border-left: 1px solid #E0E0E0; height: 54px; font-weight: bold; position: relative; }
.dg-sort { float: right; font-size: 11px; width: 20px; text-align: center; padding: 9px 0 0 0; color: var(--color); }
.dg-monospace { font-family: Menlo,Consolas,monospace; font-size: 11px; }
.dg-btn-columns { cursor: pointer; color: #D0D0D0; font-size: 20px; position: absolute; right: 0; height: 55px; background-color: #D0D0D0; width: 13px; text-align: left; z-index: 3; }
.dg-btn-columns span { display: block; padding-top: 4px; font-size: 6px; color: gray; text-align: center; }
.dg-btn-columns i { position: absolute; margin-left: -5px; top: 26px; }
.dg-btn-columns:hover { background-color: #D9D9D9; color: #D9D9D9; }
.dg-sorting { cursor: pointer; }
.dg-sorting .ti-sort { color: gray; }
.dg-hcol:first-child { border-left: 0; }
.dg-resize { position: absolute; width: 10px; cursor: col-resize; height: 30px; border-right: 1px solid #D0D0D0; z-index: 2; }
.dg-label { padding: 8px 8px 0; height: 30px; font-size: 12px; user-select: none; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.dg-sorting .dg-label.center { padding-left: 25px; padding-right: 0; }
.dg-sorting .dg-label { margin-right: 24px; }
.dg-filter { padding: 0 8px; border-top: 1px solid #E0E0E0; height: 23px; }
.dg-filter input, .dg-filter label { width: 100%; outline: 0; font-size: 10px; background-color: transparent; border: 0; margin: 0; padding: 0; line-height: 23px; height: 23px; }
.dg-filter label { color: #A0A0A0; cursor: pointer; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.dg-filter.center input { text-align: center; }
.dg-filter.right input { text-align: right; }
.dg-filter-empty { border-top: 1px solid #E0E0E0; height: 23px; cursor: not-allowed !important; background: repeating-linear-gradient(45deg,#FFF,#FFF 10px,#F9F9F9 10px,#F9F9F9 20px); }
.dg-hcol .dg-label { padding-top: 7px; }
.dg-filter-selected { background-color: #FBF0CA !important; }
.dg-filter-selected label { color: #000; }
.dg-filter i { position: absolute; right: 8px; margin-top: 6px; font-size: 10px; color: red; display: none; cursor: pointer; }
.dg-filter-selected i { display: block; }
.dg-filter-selected input { padding-right: 12px; }
.dg-clickable .dg-row { cursor: pointer; }
.dg-row { height: 28px; font-size: 12px; border-bottom: 1px solid #E0E0E0; -webkit-transform: translateZ(0); }
.dg-row-changed { background-color: rgba(208,31,33,0.07); }
.dg-row.dg-selected { background-color: rgba(249,232,196,0.5) !important; }
.dg-col { float: left; border-left: 1px solid #E0E0E0; height: 27px; overflow: hidden; min-width: 30px; }
.dg-col:first-child { border-left: 0; }
.dg-col-changed { background-image: url(data:image/gif;base64,R0lGODdhBgAGAIAAAP8mAAAAACH5BAEAAAEALAAAAAAGAAYAAAIKhI8QGGvt4JKhAAA7); background-repeat: no-repeat; background-position: 0 0; }
.dg-value { padding: 6px 8px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; height: 28px; }
.dg-number { padding: 6px 5px 0; font-size: 11px; text-align: right; height: 28px; color: #A0A0A0; }
.dg-col--1 { width: 40px; }
.dg-col--1 .dg-label { text-overflow: clip; }
.dg-row-empty { height: 28px; font-size: 12px; border-bottom: 1px solid #F0F0F0; background-color: #FFF !important; cursor: default; }
.dg-footer { border: 1px solid #E0E0E0; border-top: 0; height: 32px; }
.dg-pagination { float: left; }
.dg-pagination button { background-color: #FFF; border: 0; border-left: 1px solid #E0E0E0; height: 31px; width: 34px; color: #000; font-size: 12px; text-align: center; outline: 0; }
.dg-pagination button:hover { background-color: #F0F0F0; }
.dg-pagination button:disabled { background-color: #F9F9F9; color: #A0A0A0; }
.dg-pagination button:first-child { border-left: 0; }
.dg-pagination button[name='page-prev'] { border-right: 1px solid #E0E0E0; width: 34px; }
.dg-pagination button[name='page-last'] { border-right: 1px solid #E0E0E0; }
.dg-pagination input { width: 40px; text-align: center; border: 0; outline: 0; font-size: 12px; padding: 0; margin: 0; background: transparent; }
.dg-pagination > div { position: relative; display: inline-block; }
.dg-pagination-items { float: right; font-size: 12px; margin: 7px 10px 0 0; font-weight: bold; }
.dg-pagination-pages { float: left; font-size: 12px; margin: 7px 0 0 10px; }
.dg-visible { visibility: visible; }
.dg-columns { position: absolute; right: 0; top: 35px; width: 182px; background-color: #FFF; z-index: 1; box-shadow: 0 5px 20px rgba(0,0,0,0.1); border-radius: var(--color); font-size: 12px; line-height: 16px; z-index: 6; color: #000; border: 1px solid #E0E0E0; user-select: none; }
.dg-columns-checkbox > span { border-radius: 4px; border: 1px solid #D0D0D0; margin: 2px 5px 0 0; font-size: 8px; color: #FFF; width: 12px; height: 12px; line-height: 12px; float: left; text-align: center; }
.dg-columns-checkbox > span i { visibility: hidden; }
.dg-columns-checkbox-checked > span { background-color: #000; border-color: #000; }
.dg-columns-checkbox-checked > span i { visibility: visible; }
.dg-columns > div { border-bottom: 1px solid #D0D0D0; overflow: hidden; }
.dg-columns-body { max-height: 180px; overflow-scrolling: touch; overflow-y: auto; padding: 8px 50px 10px 3px; width: 210px; overflow-x: hidden; }
.dg-columns label { display: block; cursor: pointer; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; }
.dg-columns label input { vertical-align: middle; }
.dg-columns label span { vertical-align: middle; margin-left: 5px; }
.dg-columns-button { margin: 10px 10px 0; display: block; width: 160px; background-color: #000; border-radius: var(--radius); color: #FFF; border: 0; font-size: 11px; height: 24px; }
.dg-columns-button:hover { background-color: #404040; }
.dg-columns-button i { margin-right: 6px; }
.dt-columns-reset { display: block; font-size: 11px; padding: 3px 0 8px 10px; cursor: pointer; color: #888888; }
.dt-columns-reset:hover { text-decoration: underline; }
.dg-hcol .dg-checkbox { margin-top: 0; }
.dg-checkbox { width: 15px; height: 15px; border: 1px solid #D0D0D0; vertical-align: middle; font-size: 11px; text-align: center; padding: 1px 0 0 1px; background-color: #FFF; border-radius: 4px; margin: 5px auto 0; }
.dg-checkbox i { display: none; }
.dg-checked { background-color: var(--color); border-color: var(--color); color: #FFF; }
.dg-checked i { display: block; }
.dg-required:before { content: '*'; font-size: 14px; color: red; font-weight: bold; margin-right: 3px; vertical-align: top; }
.dg input:-ms-input-placeholder { color: #A0A0A0 !important; }
.dg input::placeholder { color: #A0A0A0; opacity: 1; }
.dg input::-ms-input-placeholder { color: #A0A0A0 !important; }
.dg-col button { margin: 4px 0 0; border: 0; background-color: #FFF; font-size: 10px; color: #404040; height: 19px; border: 1px solid #E0E0E0; border-left: 0; padding: 0 3px; outline: 0; line-height: 10px; min-width: 20px; }
.dg-col button:hover { background-color: var(--color); border-color: var(--color); color: #FFF; }
.dg-col button[name='remove'] { background-color: #ffe5dd; border-color: #ffe5dd; color: red; }
.dg-col button[name='remove']:hover { background-color: #E8483F; border-color: #E8483F; color: #FFF; }
.dg-col button:first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; border-left: 1px solid #E0E0E0; }
.dg-col button:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.dg-col button:disabled { background-color: #F0F0F0 !important; color: #A0A0A0 !important; cursor: not-allowed; }
.dg-editable .dg-checkbox { position: relative; display: inline-block; margin-left: 5px; margin-right: 5px; }
.dg-editable > div > .dg-checkbox { border-color: var(--color); }
.dg-bool { height: 28px; }
.dg-bool .dg-checked { background-color: #D0D0D0; border-color: #D0D0D0; color: gray; }
.dg-editable { background-color: rgba(255,241,164,0.1); }
.dg-editable input { width: 100%; height: 28px; background-color: transparent; border: 0; outline: 0; padding: 0 4px; }
.dg-noscroll .ui-scrollbar-area { overflow-y: hidden; }
.dg-noscroll .ui-scrollbar-y span { visibility: hidden; }
.dg-noborder .dg-container { border: 0; }
.dg-noborder .dg-footer { border: 0; border-top: 1px solid #E0E0E0; }
.dg-header-scrollbar { overflow-y: hidden; }
.dg-header-scrollbar-container { height: 58px; overflow: hidden; }
.dg-resize-line { position: absolute; width: 1px; background-color: #E0E0E0; z-index: 6; }
.dg-colorize { padding: 2px 3px; border-radius: 4px; color: #FFF; }
.dg-fluid { border-right: 1px solid #E0E0E0; }
.dg-noborder.dg-fluid { border-right: 0; }
.dg-link { color: inherit; }
.dg-link i { margin-right: 5px; }
.dg-controls { position: absolute; right: 20px; background-color: #FFF; border: 1px solid #D0D0D0; height: 34px; color: #000; z-index: 1; margin-right: 5px; border-radius: var(--radius); box-shadow: 1px 0 15px rgba(0,0,0,0.1); transition: all 0.1s; transform: scale(0); }
.dg-controls button { border: 0; min-width: 34px; height: 32px; background-color: #F0F0F0; border-left: 1px solid #E0E0E0; background-color: transparent; font-size: 12px; float: left; color: #000; padding: 0 10px; }
.dg-controls button i { font-size: 14px; }
.dg-controls button span { padding: 0 5px; }
.dg-controls button:hover { background-color: #F0F0F0; }
.dg-controls button:first-child { border-left: 0; }
.dg-controls button:disabled { color: #A0A0A0; cursor: not-allowed; background-color: transparent !important; }
.dg-controls button:disabled i { color: #A0A0A0 !important; }
.dg-controls-visible { transform: scale(1); }
.dg-row:hover, .dg-row-hover { background-color:rgba(130,130,130,0.07); }

.ui-dark .dg, .ui-dark .dg-body { background-color: #232323; }
.ui-dark .dg-footer { border-color: #404040; }
.ui-dark .dg-container { border-top-color: #353535; border-left-color: #353535; border-right-color: #353535; }
.jc-19.ui-dark .dg-container { border-bottom-color: #353535; }
.ui-dark .dg-mobile .dg-container { border-right-color: #404040; border-bottom-color: #404040; }
.ui-dark .dg-header { border-bottom-color: #353535; }
.ui-dark .dg-noborder .dg-footer { border-color: #404040; }
.ui-dark .dg-filter-selected { background-color: #3c3a32 !important; color: #FFF; }
.ui-dark .dg-filter-selected label { color: #FFF; }
.ui-dark .dg { color: #E0E0E0; }
.ui-dark .dg-sorting .ti-sort { color: #A0A0A0; }
.ui-dark .dg-filter { border-top-color: #353535; }
.ui-dark .dg-resize { border-right-color: #353535; }
.ui-dark .dg-filter-empty { border-top-color: #353535; height: 23px; background: repeating-linear-gradient(45deg,#252525,#252525 10px,#202020 10px,#202020 20px); }
.ui-dark .dg-number { background-color: #282828; }
.ui-dark .dg-col { border-left-color: #353535; }
.ui-dark .dg-hcol { border-left-color: #353535; }
.ui-dark .dg-hrow { color: #F0F0F0; }
.ui-dark .dg-row-empty { background-color: #202020 !important; border-bottom-color: #353535; }
.ui-dark .dg-row { border-bottom-color: #353535; }
.ui-dark .dg-selected { background-color: rgba(200,200,200,0.06) !important; }
.ui-dark .dg-columns { background-color: #232323; color: #FFF; border-color: #505050; }
.ui-dark .dg-columns-checkbox > span { border-color: #505050; color: #202020; }
.ui-dark .dg-columns-checkbox-checked > span { background-color: #505050; border-color: #505050; color: #D0D0D0; }
.ui-dark .dg-columns > div { border-bottom-color: #505050; }
/*.ui-dark .dg-body > div > div:nth-child(even) > .dg-row  { background-color: rgba(0,0,0,0.1); }*/
.ui-dark .dg-row-changed:hover { background-color: rgba(208,31,33,0.2) !important; }
.ui-dark .dg-row-changed { background-color: rgba(208,31,33,0.12) !important; }
.ui-dark .dg-row-changed.dg-row:nth-child(even) { background-color: rgba(208,31,33,0.12); }
.ui-dark .dg-btn-columns:hover { color: #FFF; }
.ui-dark .dg-col button { background-color: #303030; color: #A0A0A0; border-color: #404040; }
.ui-dark .dg-col button:hover { background-color: #404040; color: #FFF; }
.ui-dark .dg-col button:first-child { border-left-color: #404040; }
.ui-dark .dg-col button[name='remove'] { background-color: #282828; color: red; }
.ui-dark .dg-col button:disabled { background-color: #252525 !important; color: #505050 !important; }
.ui-dark .dg-checkbox { background-color: #303030; border-color: #3A3A3A; }
.ui-dark .dg-checked { background-color: var(--color); border-color: var(--color); color: #FFF; }
.ui-dark .dg-btn-columns { color: #323232; background-color: #323232; }
.ui-dark .dg-btn-columns span { color: #606060; }
.ui-dark .dg-btn-columns:hover { background-color: #353535; color: #353535; }
.ui-dark .dg-pagination button { background-color: #303030; border-left-color: #404040; color: #FFF; }
.ui-dark .dg-pagination button:hover { background-color: #353535; }
.ui-dark .dg-pagination button:disabled { background-color: #202020; color: gray; }
.ui-dark .dg-pagination button[name='page-prev'] { border-right-color: #404040; }
.ui-dark .dg-pagination button[name='page-last'] { border-right-color: #404040; }
.ui-dark .dg-bool .dg-checked { background-color: #505050; border-color: #505050; color: gray; }
.ui-dark .dg-editable { background-color: rgba(255,241,164,0.05); }
.ui-dark .dg-resize-line { background-color: #404040; }
.ui-dark .dg-fluid { border-right-color: #404040; }
.ui-dark .dg-controls { background-color: #333; border-color: #404040; box-shadow: 1px 0 15px rgba(0,0,0,0.3); }
.ui-dark .dg-controls button { border-left-color: #404040; color: #FFF; }
.ui-dark .dg-controls button:disabled { color: #505050; }
.ui-dark .dg-controls button:disabled i { color: #505050 !important; }
.ui-dark .dg-controls button:hover { background-color: #404040; }
.ui-dark .dg-row:hover, .ui-dark .dg-row-hover { background-color: rgba(0,0,0,0.2); }
.dg-hfunc { width: 15px; height: 15px; vertical-align: middle; font-size: 11px; text-align: center; background-color: #FFF; margin: 0px auto 0; }
