.ui-textboxtags * { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.ui-textboxtags { border: 1px solid #E0E0E0; padding: 4px 5px; border-radius: 2px; position: relative; display: block; width: 100%; background-color: white; }
.ui-textboxtags-label { margin-bottom: 5px; font-size: 12px; color: gray; text-align: left; }
.ui-textboxtags-label .fa { width: 14px; }
.ui-textboxtags-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textboxtags-invalid { border: 1px solid #E1A1A1 !important; background-color: #FFF3F3 !important; }
.ui-textboxtags-values { min-height: 60px; }
.ui-textboxtags-tag { padding: 4px 6px 4px 8px; line-height: 16px; vertical-align: middle; background-color: #F0F0F0; font-size: 12px; position: relative; display: inline-block; margin: 2px; border-radius: 3px; }
.ui-textboxtags-tag .fa { font-size: 12px; color: red; margin-left: 5px; cursor: pointer; }
.ui-textboxtags input { background-color: transparent; font-size: 12px; color: black; width: auto; position: relative; display: inline-block; border: 0; width: 99px; outline: 0; margin: 2px; padding: 5px 0; }