.hidden { display: none; }
.ui-panel { background-color: white; margin: 0 0 0 auto; transform: scale(0.8); transition: all 0.2s; opacity: 0; width: 100%; }
.ui-panel-noscroll, .ui-panel-noscroll body { overflow: hidden; }
.ui-panel-container { width: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(230,233,237,0.8); z-index: 5; overflow: none; transform-style: preserve-3d; height: 100%; }
.ui-panel-inline { right: 0; left: auto; background: transparent; }
.ui-panel-inline .ui-panel { border-left: 1px solid #E0E0E0; background-color: rgba(255,255,255,0.9) }
.ui-panel-header { height: 60px; }
.ui-panel-body { overflow-scrolling: touch; overflow-y: auto; }
.ui-panel-animate .ui-panel { transform: scale(1); opacity: 1; }
.ui-panel-inline.ui-panel-animate { transition: box-shadow 0.5s; box-shadow: -10px 0 20px rgba(0,0,0,0.02); }
.ui-panel-title { padding: 0 0 0 20px; font-size: 16px; user-select: none; color: black; background-color: white; border-bottom: 1px solid #E0E0E0; position: absolute; left: 0; right: 0; top: 0; height: 60px; }
.ui-panel-title .ui-panel-button-close { float: right; cursor: pointer; font-size: 18px; transition: all 0.2s; background: none; border: 0; outline: 0; height: auto; color: red; text-align: center; !important; padding: 0; width: auto; border-left: 1px solid #E0E0E0; width: 60px; height: 60px; }
.ui-panel-title .ui-panel-button-close:hover { background-color: #EB3324; color: white; }
.ui-panel-title > span { font-weight: bold; max-width: 70%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: relative; display: inline-block; vertical-align: middle; padding: 18px 0 0 0; }
.ui-panel-title > .fa { margin: 19px 7px 0 0; float: left; }