a.tag2302 { display: inline-block; position: relative; text-decoration: none; background-color: #E4EDF4; color: #586D8D; border-radius: 3px; font-size: 12px; padding: 5px 10px 3px; border-bottom: 2px solid #D3E5F4; }
a.tag2302:hover { background-color: #D5E7F4; }
.tag2302-container .tag2302 { margin: 0 0 8px; }