
<div style="width:500px;height:300px">

	<div data---="template__myfiles__template:mytemplate;drop:template_drop">

		<script type="text/html" data-name="list">
			<div class="list">
				{{ foreach m in value }}
					<div draggable{{ if m.isfolder }} class="droppable"{{ fi }}>{{ m.name }}</div>
				{{ end }}
			</div>
		</script>

		<script type="text/html" data-name="icons">
			<div class="icons">
				{{ foreach m in value }}
					<span draggable class="mr5 {{ if m.isfolder }} droppable{{ fi }}"><i class="{{ m.icon }}" class="mr5"></i>{{ m.name }}</span>
				{{ end }}
			</div>
		</script>

	</div>

</div>

<script>
	var myfiles = [{ icon: 'fa fa-folder', name: 'temp', isfolder: true }, { icon: 'fa fa-file', name: 'logo.png' }, { icon: 'fa fa-file', name: 'logo.svg' }];
	var mytemplate = 'list';

	function template_drop(e, target, item) {

		console.log(e, target, item);
		// @target {jQuery element}

		if (item) {
			// @item {jQuery element}
		} else {
			var files = e.target.files || e.originalEvent.dataTransfer.files;
		}
	}

</script>