.ui-message * { box-sizing: border-box; }
.ui-message { background-color: rgba(255,255,255,0.9); position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 20; width: 100%; display: table; height: 100%; transition: 0.5s all; opacity: 0; }
.ui-message > div { display: table-cell; vertical-align: middle; text-align: center; color: white; padding: 15px; }
.ui-message .fa { position: absolute; margin: -75px 0 0 -35px; width: 70px; left: 50%; height: 70px; padding-top: 15px; border-radius: 100px; font-size: 30px; border-width: 5px; border-style: solid; text-align: center; }
.ui-message-body { padding: 30px; position: relative; display: inline-block; border-radius: 4px; max-width: 600px; text-align: left; transform: scale(0.5); transition: 0.3s all; }
.ui-message-warning { background-color: #DA4453; }
.ui-message-warning .fa { background-color: #ED5565; border-color: #DA4453; }
.ui-message-success { background-color: #8CC152; }
.ui-message-success .fa { background-color: #A0D468; border-color: #8CC152; }
.ui-message button { display: block; width: 240px; margin: 20px auto 0; cursor: pointer; outline: 0; background-color: #E0E0E0; border: 0; border-radius: 4px; color: gray; padding: 0 20px; height: 40px; font-weight: bold; }
.ui-message button:hover { background-color: #E5E5E5; }
.ui-message-visible { opacity: 1; }
.ui-message-visible .ui-message-body { -webkit-transform: scale(1); transform: scale(1); }
.hidden { display: none; }