.ui-splashscreen { position: fixed; left: 0; top: 0; bottom: 0; right: 0; overflow: hidden; background-color: black; z-index: 1000; transition: all 0.3s; color: #A0A0A0; }
.ui-splashscreen > div { display: table; width: 80%; height: 100%; margin: 0 auto; }
.ui-splashscreen-body { display: table-cell; vertical-align: middle; text-align: center; transition: all 0.5s; opacity: 0.5; transform: scale(1.4); }
.ui-splashscreen-body p { margin: 10px 0 0; font-size: 14px; padding: 0; }
.ui-splashscreen-animate .ui-splashscreen-body { opacity: 1; transform: scale(1); }
.ui-splashscreen-animate .fa-spin { animation-duration: 1.3s; }
.ui-splashscreen-animate { background-color: white; }
.ui-splashscreen-removing { opacity: 0; transform: scale(0.5); }