.ui-developer { position: fixed; background-color: #FFF; z-index: 10000; border: 2px solid #E0E0E0; min-height: 200px; width: 460px; font-size: 11px; box-shadow: 0 10px 15px rgba(0,0,0,0.1); color: #000000; user-select: none; }
.ui-developer svg { border-bottom: 1px solid #E0E0E0; }
.ui-developer path { stroke-width: 2px; fill: none; }
.ui-developer line { stroke-width: 1px; stroke: #F0F0F0; }
.ui-developer-changed { font-weight: bold; }
.ui-developer-label > i { margin-right: 5px; color: #A0A0A0; }
.ui-developer-changed { font-weight: bold; }
.ui-developer-live { line-height: 0; }
.ui-developer-set { stroke: #DA4453; }
.ui-developer-meta { padding: 10px 5px 5px; background-color: #F8F8F8; }
.ui-developer-info { padding: 10px 5px; border-top: 1px solid #E0E0E0; }
.ui-developer-idle { margin: 5px 0 0 5px; color: gray; }
.ui-developer-get { stroke: #E0B818; }
.ui-developer-components { stroke: #4A89DC; }
.ui-developer-binders { stroke: #967ADC; }
.ui-developer-exec { stroke: #D770AD; }
.ui-developer-events { stroke: #998F67; }
.ui-developer-setters { stroke: #37BC9B; }
.ui-developer-requests { stroke: #8CC152; }
.ui-developer-cmd { stroke: #FF8100; }
.ui-developer-returns { stroke: #777; }
.ui-developer-label { float: left; width: 50%; padding: 0 5px; height: 15px; overflow: hidden; vertical-align: top; line-height: 12px; }
.ui-developer-irequests > i { color: #8CC152; }
.ui-developer-ievents > i { color: #998F67; }
.ui-developer-iset > i { color: #DA4453; }
.ui-developer-iget > i { color: #E0B818; }
.ui-developer-icomponents > i { color: #4A89DC; }
.ui-developer-ibinders > i { color: #967ADC; }
.ui-developer-iexec > i { color: #D770AD; }
.ui-developer-isetters > i { color: #37BC9B; }
.ui-developer-icmd > i { color: #FF8100; }
.ui-developer-ireturns > i { color: #777; }
.ui-developer-label { float: left; width: 50%; padding: 0 5px; height: 15px; overflow: hidden; vertical-align: top; line-height: 12px; }
.ui-developer-label em { color: gray; font-size: 10px; font-weight: normal; }
.ui-developer-label span { float: right; margin-left: 5px; color: #777; font-weight: normal; }
.ui-developer-label span i { margin: 0 2px; }
.ui-developer-minus { color: red !important; }
.ui-developer-plus { color: green !important; }
.ui-developer-pluginspeak { float: right; }
.ui-developer-version { float: right; color: gray; margin: 9px 10px 0 0; }
.ui-developer-clear { display: block; border-top: 1px solid #E0E0E0; padding: 8px 10px; cursor: pointer; color: #D14343; }
.ui-developer-clear i { margin-right: 3px; }
.ui-developer-hr { margin: 5px 0; border-top: 1px solid #E0E0E0; height: 1px; }

.ui-dark .ui-developer-clear { border-color: #404040; }
.ui-dark .ui-developer { background-color: #202020; border-color: #404040; color: #E0E0E0; box-shadow: 0 5px 30px rgba(0,0,0,0.2); }
.ui-dark .ui-developer svg { border-bottom-color: #404040; }
.ui-dark .ui-developer-meta { background-color: #252525; }
.ui-dark .ui-developer line { stroke: #303030; }
.ui-dark .ui-developer-info { border-top-color: #404040; }
.ui-dark .ui-developer-changed { color: yellow; }
.ui-dark .ui-developer-hr { border-top-color: #404040; }