.ui-autocomplete-container { position: absolute; z-index: 60; }
.ui-autocomplete { background-color: #FFF; width: 100%; margin: -5px 0 0 0; padding: 2px 0; border-radius: 0 0 var(--radius) var(--radius); box-shadow: 0 5px 20px rgba(0,0,0,0.1); border: 1px solid #E0E0E0; line-height: 14px; overflow: hidden; }
.ui-autocomplete ul { list-style-type: none; margin: 0; padding: 0; }
.ui-autocomplete li { margin: 0; padding: 0 12px; border-bottom: 1px solid #F0F0F0; cursor: pointer; font-size: 13px; color: #505050; height: 30px; line-height: 30px; }
.ui-autocomplete li:last-child { border-bottom: 0; }
.ui-autocomplete .selected { background-color: #F0F0F0; }
.ui-autocomplete li span { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }

.ui-dark .ui-autocomplete { background-color: #303030; border-color: #404040; }
.ui-dark .ui-autocomplete li { color: gray; border-bottom-color: #404040; }
.ui-dark .ui-autocomplete .selected { background-color: #454545; color: #FFF; }