@white: #FFFFFF;
@grapefruit: #DA4453;
@bittersweet: #E9573F;
@sunflower: #F6BB42;
@grass: #8CC152;
@mint: #37BC9B;
@aqua: #3BAFDA;
@blue-jeans: #4A89DC;
@lavender: #967ADC;
@ping-rose: #D770AD;
@light-gray: #E6E9ED;
@medium-gray: #AAB2BD;
@dark-gray: #434A54;

@default: @light-gray;

.button.is-small {
  height: 27px;
  font: normal bold 11px Arial;
}

.button.is-large {
  height: 45px;
  font: normal bold 16px Arial;
}

.make_color(@primary-color) {
  color: @primary-color
}

.make_button(@primary-color, @secondary-color: @white) {
  position: relative;
  display: inline-block;
  border: 1px solid @primary-color;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: @secondary-color;
  background-color: @primary-color;

  &:hover {
    color: @secondary-color;
    background-color: darken(@primary-color, 11%);
    & when (@secondary-color = @white) {
      border-color: @secondary-color;
    }
  }

  &[disabled] {
    background-color: lighten(@primary-color, 30%);
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }

  &.is-outlined {
    & when (@secondary-color = @white) {
      color: @primary-color;
    }
    background-color: transparent;
    border-color: @primary-color;
  }
  &.is-outlined:hover {
    color: @secondary-color;
    background-color: darken(@primary-color, 11%);
  }

  &.is-outlined[disabled] {
    color: lighten(@primary-color, 30%);
    background-color: transparent;
    border-color: lighten(@primary-color, 30%);
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
  &.is-outlined:hover[disabled] {
    color: lighten(@primary-color, 30%);
    background-color: transparent;
    border-color: lighten(@primary-color, 30%);
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }

}

.button {
  .make_button(@default, @dark-gray);
}

.button.is-grapefruit {
  .make_button(@grapefruit)
}

.button.is-bittersweet {
  .make_button(@bittersweet);
}

.button.is-sunflower {
  .make_button(@sunflower);
}

.button.is-grass {
  .make_button(@grass);
}

.button.is-mint {
  .make_button(@mint);
}

.button.is-aqua {
  .make_button(@aqua);
}

.button.is-blue-jeans {
  .make_button(@blue-jeans);
}

.button.is-lavender {
  .make_button(@lavender);
}

.button.is-pink-rose {
  .make_button(@ping-rose);
}

.button.is-light-gray {
  .make_button(@light-gray, @dark-gray);
}

.button.is-medium-gray {
  .make_button(@medium-gray, @dark-gray);
}

.button.is-dark-gray {
  .make_button(@dark-gray);
}

.is-default {
  .make_color(@default)
}

.is-grapefruit {
  .make_color(@grapefruit)
}

.is-bittersweet {
  .make_color(@bittersweet);
}

.is-sunflower {
  .make_color(@sunflower);
}

.is-grass {
  .make_color(@grass);
}

.is-mint {
  .make_color(@mint);
}

.is-aqua {
  .make_color(@aqua);
}

.is-blue-jeans {
  .make_color(@blue-jeans);
}

.is-lavender {
  .make_color(@lavender);
}

.is-pink-rose {
  .make_color(@ping-rose);
}

.is-light-gray {
  .make_color(@light-gray);
}

.is-medium-gray {
  .make_color(@medium-gray);
}

.is-dark-gray {
  .make_color(@dark-gray);
}
