.button.is-small {
  height: 27px;
  font: normal bold 11px Arial;
}
.button.is-large {
  height: 45px;
  font: normal bold 16px Arial;
}
.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E6E9ED;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #434A54;
  background-color: #E6E9ED;
}
.button:hover {
  color: #434A54;
  background-color: #c5ccd6;
}
.button[disabled] {
  background-color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-outlined {
  background-color: transparent;
  border-color: #E6E9ED;
}
.button.is-outlined:hover {
  color: #434A54;
  background-color: #E6E9ED;
}
.button.is-outlined[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-outlined:hover[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-grapefruit {
  position: relative;
  display: inline-block;
  border: 1px solid #DA4453;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #DA4453;
}
.button.is-grapefruit:hover {
  color: #FFFFFF;
  background-color: #c02635;
  border-color: #FFFFFF;
}
.button.is-grapefruit[disabled] {
  background-color: #f3c4c8;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-grapefruit.is-outlined {
  color: #DA4453;
  background-color: transparent;
  border-color: #DA4453;
}
.button.is-grapefruit.is-outlined:hover {
  color: #FFFFFF;
  background-color: #DA4453;
}
.button.is-grapefruit.is-outlined[disabled] {
  color: #f3c4c8;
  background-color: transparent;
  border-color: #f3c4c8;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-grapefruit.is-outlined:hover[disabled] {
  color: #f3c4c8;
  background-color: transparent;
  border-color: #f3c4c8;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-bittersweet {
  position: relative;
  display: inline-block;
  border: 1px solid #E9573F;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #E9573F;
}
.button.is-bittersweet:hover {
  color: #FFFFFF;
  background-color: #d73419;
  border-color: #FFFFFF;
}
.button.is-bittersweet[disabled] {
  background-color: #f9cfc8;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-bittersweet.is-outlined {
  color: #E9573F;
  background-color: transparent;
  border-color: #E9573F;
}
.button.is-bittersweet.is-outlined:hover {
  color: #FFFFFF;
  background-color: #E9573F;
}
.button.is-bittersweet.is-outlined[disabled] {
  color: #f9cfc8;
  background-color: transparent;
  border-color: #f9cfc8;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-bittersweet.is-outlined:hover[disabled] {
  color: #f9cfc8;
  background-color: transparent;
  border-color: #f9cfc8;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-sunflower {
  position: relative;
  display: inline-block;
  border: 1px solid #F6BB42;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #F6BB42;
}
.button.is-sunflower:hover {
  color: #FFFFFF;
  background-color: #f3a80c;
  border-color: #FFFFFF;
}
.button.is-sunflower[disabled] {
  background-color: #fdf0d4;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-sunflower.is-outlined {
  color: #F6BB42;
  background-color: transparent;
  border-color: #F6BB42;
}
.button.is-sunflower.is-outlined:hover {
  color: #FFFFFF;
  background-color: #F6BB42;
}
.button.is-sunflower.is-outlined[disabled] {
  color: #fdf0d4;
  background-color: transparent;
  border-color: #fdf0d4;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-sunflower.is-outlined:hover[disabled] {
  color: #fdf0d4;
  background-color: transparent;
  border-color: #fdf0d4;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-grass {
  position: relative;
  display: inline-block;
  border: 1px solid #8CC152;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #8CC152;
}
.button.is-grass:hover {
  color: #FFFFFF;
  background-color: #70a13a;
  border-color: #FFFFFF;
}
.button.is-grass[disabled] {
  background-color: #d7e9c3;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-grass.is-outlined {
  color: #8CC152;
  background-color: transparent;
  border-color: #8CC152;
}
.button.is-grass.is-outlined:hover {
  color: #FFFFFF;
  background-color: #8CC152;
}
.button.is-grass.is-outlined[disabled] {
  color: #d7e9c3;
  background-color: transparent;
  border-color: #d7e9c3;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-grass.is-outlined:hover[disabled] {
  color: #d7e9c3;
  background-color: transparent;
  border-color: #d7e9c3;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-mint {
  position: relative;
  display: inline-block;
  border: 1px solid #37BC9B;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #37BC9B;
}
.button.is-mint:hover {
  color: #FFFFFF;
  background-color: #2a9177;
  border-color: #FFFFFF;
}
.button.is-mint[disabled] {
  background-color: #a7e5d6;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-mint.is-outlined {
  color: #37BC9B;
  background-color: transparent;
  border-color: #37BC9B;
}
.button.is-mint.is-outlined:hover {
  color: #FFFFFF;
  background-color: #37BC9B;
}
.button.is-mint.is-outlined[disabled] {
  color: #a7e5d6;
  background-color: transparent;
  border-color: #a7e5d6;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-mint.is-outlined:hover[disabled] {
  color: #a7e5d6;
  background-color: transparent;
  border-color: #a7e5d6;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-aqua {
  position: relative;
  display: inline-block;
  border: 1px solid #3BAFDA;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #3BAFDA;
}
.button.is-aqua:hover {
  color: #FFFFFF;
  background-color: #2391ba;
  border-color: #FFFFFF;
}
.button.is-aqua[disabled] {
  background-color: #bce4f2;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-aqua.is-outlined {
  color: #3BAFDA;
  background-color: transparent;
  border-color: #3BAFDA;
}
.button.is-aqua.is-outlined:hover {
  color: #FFFFFF;
  background-color: #3BAFDA;
}
.button.is-aqua.is-outlined[disabled] {
  color: #bce4f2;
  background-color: transparent;
  border-color: #bce4f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-aqua.is-outlined:hover[disabled] {
  color: #bce4f2;
  background-color: transparent;
  border-color: #bce4f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-blue-jeans {
  position: relative;
  display: inline-block;
  border: 1px solid #4A89DC;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #4A89DC;
}
.button.is-blue-jeans:hover {
  color: #FFFFFF;
  background-color: #276cc7;
  border-color: #FFFFFF;
}
.button.is-blue-jeans[disabled] {
  background-color: #caddf5;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-blue-jeans.is-outlined {
  color: #4A89DC;
  background-color: transparent;
  border-color: #4A89DC;
}
.button.is-blue-jeans.is-outlined:hover {
  color: #FFFFFF;
  background-color: #4A89DC;
}
.button.is-blue-jeans.is-outlined[disabled] {
  color: #caddf5;
  background-color: transparent;
  border-color: #caddf5;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-blue-jeans.is-outlined:hover[disabled] {
  color: #caddf5;
  background-color: transparent;
  border-color: #caddf5;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-lavender {
  position: relative;
  display: inline-block;
  border: 1px solid #967ADC;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #967ADC;
}
.button.is-lavender:hover {
  color: #FFFFFF;
  background-color: #734ed0;
  border-color: #FFFFFF;
}
.button.is-lavender[disabled] {
  background-color: #f6f3fc;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-lavender.is-outlined {
  color: #967ADC;
  background-color: transparent;
  border-color: #967ADC;
}
.button.is-lavender.is-outlined:hover {
  color: #FFFFFF;
  background-color: #967ADC;
}
.button.is-lavender.is-outlined[disabled] {
  color: #f6f3fc;
  background-color: transparent;
  border-color: #f6f3fc;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-lavender.is-outlined:hover[disabled] {
  color: #f6f3fc;
  background-color: transparent;
  border-color: #f6f3fc;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-pink-rose {
  position: relative;
  display: inline-block;
  border: 1px solid #D770AD;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #D770AD;
}
.button.is-pink-rose:hover {
  color: #FFFFFF;
  background-color: #cb4494;
  border-color: #FFFFFF;
}
.button.is-pink-rose[disabled] {
  background-color: #f8e8f2;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-pink-rose.is-outlined {
  color: #D770AD;
  background-color: transparent;
  border-color: #D770AD;
}
.button.is-pink-rose.is-outlined:hover {
  color: #FFFFFF;
  background-color: #D770AD;
}
.button.is-pink-rose.is-outlined[disabled] {
  color: #f8e8f2;
  background-color: transparent;
  border-color: #f8e8f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-pink-rose.is-outlined:hover[disabled] {
  color: #f8e8f2;
  background-color: transparent;
  border-color: #f8e8f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-light-gray {
  position: relative;
  display: inline-block;
  border: 1px solid #E6E9ED;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #434A54;
  background-color: #E6E9ED;
}
.button.is-light-gray:hover {
  color: #434A54;
  background-color: #c5ccd6;
}
.button.is-light-gray[disabled] {
  background-color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-light-gray.is-outlined {
  background-color: transparent;
  border-color: #E6E9ED;
}
.button.is-light-gray.is-outlined:hover {
  color: #434A54;
  background-color: #E6E9ED;
}
.button.is-light-gray.is-outlined[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-light-gray.is-outlined:hover[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-medium-gray {
  position: relative;
  display: inline-block;
  border: 1px solid #AAB2BD;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #434A54;
  background-color: #AAB2BD;
}
.button.is-medium-gray:hover {
  color: #434A54;
  background-color: #8a95a4;
}
.button.is-medium-gray[disabled] {
  background-color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-medium-gray.is-outlined {
  background-color: transparent;
  border-color: #AAB2BD;
}
.button.is-medium-gray.is-outlined:hover {
  color: #434A54;
  background-color: #AAB2BD;
}
.button.is-medium-gray.is-outlined[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-medium-gray.is-outlined:hover[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-dark-gray {
  position: relative;
  display: inline-block;
  border: 1px solid #434A54;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #FFFFFF;
  background-color: #434A54;
}
.button.is-dark-gray:hover {
  color: #FFFFFF;
  background-color: #2a2f35;
  border-color: #FFFFFF;
}
.button.is-dark-gray[disabled] {
  background-color: #8c96a4;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-dark-gray.is-outlined {
  color: #434A54;
  background-color: transparent;
  border-color: #434A54;
}
.button.is-dark-gray.is-outlined:hover {
  color: #FFFFFF;
  background-color: #434A54;
}
.button.is-dark-gray.is-outlined[disabled] {
  color: #8c96a4;
  background-color: transparent;
  border-color: #8c96a4;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button.is-dark-gray.is-outlined:hover[disabled] {
  color: #8c96a4;
  background-color: transparent;
  border-color: #8c96a4;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
