/*
.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
}
*/
.button.is-small {
  height: 27px;
  font: normal bold 11px Arial;
}
.button.is-large {
  height: 45px;
  font: normal bold 16px Arial;
}
.is-grapefruit {
  color: #DA4453;
}
.is-grapefruit.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #DA4453;
}
.is-grapefruit.button:hover {
  color: #fff;
  background-color: #c02635;
  border-color: #fff;
}
.is-grapefruit.button[disabled] {
  background-color: #f3c4c8;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-grapefruit.button.is-outlined {
  color: #DA4453;
  background-color: transparent;
  border-color: #DA4453;
}
.is-grapefruit.button.is-outlined:hover {
  color: #fff;
  background-color: #DA4453;
}
.is-grapefruit.button.is-outlined[disabled] {
  color: #f3c4c8;
  background-color: transparent;
  border-color: #f3c4c8;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-grapefruit.button.is-outlined:hover[disabled] {
  color: #f3c4c8;
  background-color: transparent;
  border-color: #f3c4c8;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-bittersweet {
  color: #E9573F;
}
.is-bittersweet.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #E9573F;
}
.is-bittersweet.button:hover {
  color: #fff;
  background-color: #d73419;
  border-color: #fff;
}
.is-bittersweet.button[disabled] {
  background-color: #f9cfc8;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-bittersweet.button.is-outlined {
  color: #E9573F;
  background-color: transparent;
  border-color: #E9573F;
}
.is-bittersweet.button.is-outlined:hover {
  color: #fff;
  background-color: #E9573F;
}
.is-bittersweet.button.is-outlined[disabled] {
  color: #f9cfc8;
  background-color: transparent;
  border-color: #f9cfc8;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-bittersweet.button.is-outlined:hover[disabled] {
  color: #f9cfc8;
  background-color: transparent;
  border-color: #f9cfc8;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-sunflower {
  color: #F6BB42;
}
.is-sunflower.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #F6BB42;
}
.is-sunflower.button:hover {
  color: #fff;
  background-color: #f3a80c;
  border-color: #fff;
}
.is-sunflower.button[disabled] {
  background-color: #fdf0d4;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-sunflower.button.is-outlined {
  color: #F6BB42;
  background-color: transparent;
  border-color: #F6BB42;
}
.is-sunflower.button.is-outlined:hover {
  color: #fff;
  background-color: #F6BB42;
}
.is-sunflower.button.is-outlined[disabled] {
  color: #fdf0d4;
  background-color: transparent;
  border-color: #fdf0d4;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-sunflower.button.is-outlined:hover[disabled] {
  color: #fdf0d4;
  background-color: transparent;
  border-color: #fdf0d4;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-grass {
  color: #8CC152;
}
.is-grass.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #8CC152;
}
.is-grass.button:hover {
  color: #fff;
  background-color: #70a13a;
  border-color: #fff;
}
.is-grass.button[disabled] {
  background-color: #d7e9c3;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-grass.button.is-outlined {
  color: #8CC152;
  background-color: transparent;
  border-color: #8CC152;
}
.is-grass.button.is-outlined:hover {
  color: #fff;
  background-color: #8CC152;
}
.is-grass.button.is-outlined[disabled] {
  color: #d7e9c3;
  background-color: transparent;
  border-color: #d7e9c3;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-grass.button.is-outlined:hover[disabled] {
  color: #d7e9c3;
  background-color: transparent;
  border-color: #d7e9c3;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-mint {
  color: #37BC9B;
}
.is-mint.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #37BC9B;
}
.is-mint.button:hover {
  color: #fff;
  background-color: #2a9177;
  border-color: #fff;
}
.is-mint.button[disabled] {
  background-color: #a7e5d6;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-mint.button.is-outlined {
  color: #37BC9B;
  background-color: transparent;
  border-color: #37BC9B;
}
.is-mint.button.is-outlined:hover {
  color: #fff;
  background-color: #37BC9B;
}
.is-mint.button.is-outlined[disabled] {
  color: #a7e5d6;
  background-color: transparent;
  border-color: #a7e5d6;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-mint.button.is-outlined:hover[disabled] {
  color: #a7e5d6;
  background-color: transparent;
  border-color: #a7e5d6;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-aqua {
  color: #3BAFDA;
}
.is-aqua.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #3BAFDA;
}
.is-aqua.button:hover {
  color: #fff;
  background-color: #2391ba;
  border-color: #fff;
}
.is-aqua.button[disabled] {
  background-color: #bce4f2;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-aqua.button.is-outlined {
  color: #3BAFDA;
  background-color: transparent;
  border-color: #3BAFDA;
}
.is-aqua.button.is-outlined:hover {
  color: #fff;
  background-color: #3BAFDA;
}
.is-aqua.button.is-outlined[disabled] {
  color: #bce4f2;
  background-color: transparent;
  border-color: #bce4f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-aqua.button.is-outlined:hover[disabled] {
  color: #bce4f2;
  background-color: transparent;
  border-color: #bce4f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-blue-jeans {
  color: #4A89DC;
}
.is-blue-jeans.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #4A89DC;
}
.is-blue-jeans.button:hover {
  color: #fff;
  background-color: #276cc7;
  border-color: #fff;
}
.is-blue-jeans.button[disabled] {
  background-color: #caddf5;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-blue-jeans.button.is-outlined {
  color: #4A89DC;
  background-color: transparent;
  border-color: #4A89DC;
}
.is-blue-jeans.button.is-outlined:hover {
  color: #fff;
  background-color: #4A89DC;
}
.is-blue-jeans.button.is-outlined[disabled] {
  color: #caddf5;
  background-color: transparent;
  border-color: #caddf5;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-blue-jeans.button.is-outlined:hover[disabled] {
  color: #caddf5;
  background-color: transparent;
  border-color: #caddf5;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-lavender {
  color: #967ADC;
}
.is-lavender.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #967ADC;
}
.is-lavender.button:hover {
  color: #fff;
  background-color: #734ed0;
  border-color: #fff;
}
.is-lavender.button[disabled] {
  background-color: #f6f3fc;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-lavender.button.is-outlined {
  color: #967ADC;
  background-color: transparent;
  border-color: #967ADC;
}
.is-lavender.button.is-outlined:hover {
  color: #fff;
  background-color: #967ADC;
}
.is-lavender.button.is-outlined[disabled] {
  color: #f6f3fc;
  background-color: transparent;
  border-color: #f6f3fc;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-lavender.button.is-outlined:hover[disabled] {
  color: #f6f3fc;
  background-color: transparent;
  border-color: #f6f3fc;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-pink-rose {
  color: #D770AD;
}
.is-pink-rose.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #D770AD;
}
.is-pink-rose.button:hover {
  color: #fff;
  background-color: #cb4494;
  border-color: #fff;
}
.is-pink-rose.button[disabled] {
  background-color: #f8e8f2;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-pink-rose.button.is-outlined {
  color: #D770AD;
  background-color: transparent;
  border-color: #D770AD;
}
.is-pink-rose.button.is-outlined:hover {
  color: #fff;
  background-color: #D770AD;
}
.is-pink-rose.button.is-outlined[disabled] {
  color: #f8e8f2;
  background-color: transparent;
  border-color: #f8e8f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-pink-rose.button.is-outlined:hover[disabled] {
  color: #f8e8f2;
  background-color: transparent;
  border-color: #f8e8f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-light-gray {
  color: #E6E9ED;
}
.is-light-gray.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #434A54;
  background-color: #E6E9ED;
}
.is-light-gray.button:hover {
  color: #434A54;
  background-color: #c5ccd6;
  border-color: #434A54;
}
.is-light-gray.button[disabled] {
  background-color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-light-gray.button.is-outlined {
  background-color: transparent;
  border-color: #E6E9ED;
}
.is-light-gray.button.is-outlined:hover {
  color: #434A54;
  background-color: #E6E9ED;
}
.is-light-gray.button.is-outlined[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-light-gray.button.is-outlined:hover[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-medium-gray {
  color: #AAB2BD;
}
.is-medium-gray.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #434A54;
  background-color: #AAB2BD;
}
.is-medium-gray.button:hover {
  color: #434A54;
  background-color: #8a95a4;
  border-color: #434A54;
}
.is-medium-gray.button[disabled] {
  background-color: #ffffff;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-medium-gray.button.is-outlined {
  background-color: transparent;
  border-color: #AAB2BD;
}
.is-medium-gray.button.is-outlined:hover {
  color: #434A54;
  background-color: #AAB2BD;
}
.is-medium-gray.button.is-outlined[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-medium-gray.button.is-outlined:hover[disabled] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-dark-gray {
  color: #434A54;
}
.is-dark-gray.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
  color: #fff;
  background-color: #434A54;
}
.is-dark-gray.button:hover {
  color: #fff;
  background-color: #2a2f35;
  border-color: #fff;
}
.is-dark-gray.button[disabled] {
  background-color: #8c96a4;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-dark-gray.button.is-outlined {
  color: #434A54;
  background-color: transparent;
  border-color: #434A54;
}
.is-dark-gray.button.is-outlined:hover {
  color: #fff;
  background-color: #434A54;
}
.is-dark-gray.button.is-outlined[disabled] {
  color: #8c96a4;
  background-color: transparent;
  border-color: #8c96a4;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.is-dark-gray.button.is-outlined:hover[disabled] {
  color: #8c96a4;
  background-color: transparent;
  border-color: #8c96a4;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
