/*
.button {
  position: relative;
  display: inline-block;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 0 15px;
  font: normal bold 12px Arial;
  outline: 0;
}
*/

.button.is-small {
  height: 27px;
  font: normal bold 11px Arial;
}

.button.is-large {
  height: 45px;
  font: normal bold 16px Arial;
}

.make(@primary-color, @secondary-color: #fff) {
  .is-& {
    color: @primary-color;

    &.button {
      position: relative;
      display: inline-block;
      border: 1px solid #E0E0E0;
      border-radius: 4px;
      cursor: pointer;
      height: 35px;
      padding: 0 15px;
      font: normal bold 12px Arial;
      outline: 0;
      color: @secondary-color;
      background-color: @primary-color;

      &:hover {
        color: @secondary-color;
        background-color: darken(@primary-color, 11%);
        border-color: @secondary-color;
      }

      &[disabled] {
        background-color: lighten(@primary-color, 30%);
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        cursor: not-allowed;
      }

      &.is-outlined {
        & when (@secondary-color = #fff) {
          color: @primary-color;
        }
        background-color: transparent;
        border-color: @primary-color;
      }
      &.is-outlined:hover {
        color: @secondary-color;
        background-color: @primary-color;
      }

      &.is-outlined[disabled] {
        color: lighten(@primary-color, 30%);
        background-color: transparent;
        border-color: lighten(@primary-color, 30%);
        -webkit-box-shadow: none;
        box-shadow: none;
        cursor: not-allowed;
      }
      &.is-outlined:hover[disabled] {
        color: lighten(@primary-color, 30%);
        background-color: transparent;
        border-color: lighten(@primary-color, 30%);
        -webkit-box-shadow: none;
        box-shadow: none;
        cursor: not-allowed;
      }

    }
  }
}

grapefruit {
  .make(#DA4453)
}

bittersweet {
  .make(#E9573F);
}

sunflower {
  .make(#F6BB42);
}

grass {
  .make(#8CC152);
}

mint {
  .make(#37BC9B);
}

aqua {
  .make(#3BAFDA);
}

blue-jeans {
  .make(#4A89DC);
}

lavender {
  .make(#967ADC);
}

pink-rose {
  .make(#D770AD);
}

light-gray {
  .make(#E6E9ED, #434A54);
}

medium-gray {
  .make(#AAB2BD, #434A54);
}

dark-gray {
  .make(#434A54);
}

