.ui-windows-item { position: absolute; border-radius: var(--radius); box-shadow: 0 10px 20px rgba(0,0,0,0.03); background-color: #FFF; z-index: 4; }
.ui-windows-title { border: 1px solid #E0E0E0; border-radius: var(--radius) var(--radius) 0 0; height: 36px; }
.ui-windows-control { float: right; width: 34px; text-align: center; border-left: 1px solid #E0E0E0; line-height: 34px; cursor: pointer; font-size: 13px; }
i.ui-windows-control { transform: scale(1); font-size: 15px; }
.ui-windows-control:hover { background-color: #F9F9F9; }
.ui-windows-control.ti-times { color: red; border-radius: 0 var(--radius) 0 0; }
.ui-windows-title span { cursor: default; line-height: 35px; display: block; margin-right: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 0 0 10px; font-weight: bold; }
.ui-windows-nomove .ui-windows-title span { cursor: default; }
.ui-windows-title span i { margin-right: 5px; }
.ui-windows-body { border: 1px solid #E0E0E0; border-top: 0; border-radius: 0 0 var(--radius) var(--radius); overflow-x: hidden; }
.ui-windows-moving .ui-windows-item { pointer-events: none; }
.ui-windows-dragged { z-index: 6; pointer-events: unset !important; }
.ui-windows-dragged .ui-windows-title { background-color: #FAFAFA; }
.ui-windows-maximized { box-shadow: none; }
.ui-windows-maximized .ui-windows-title .ui-windows-control.ti-maximize:before { content: '\ea01'; }
.ui-windows-maximized .ui-windows-title { border-left: 0; border-right: 0; border-radius: 0; border-top: 0 }
.ui-windows-maximized .ui-windows-control { height: 31px; }
.ui-windows-maximized .ui-windows-body { border: 0; }
.ui-windows-maximized .ui-windows-title .ti-window:before { content: '\ea01'; }
.ui-windows-minimized .ui-windows-body { display: none; }
.ui-windows-nominimize .ui-windows-control[data-name='minimize'] { display: none; }
.ui-windows-nomaximize .ui-windows-control[data-name='maximize'] { display: none; }
.ui-windows-noclose .ui-windows-control[data-name='close'] { display: none; }
.ui-windows-nomenu .ui-windows-control[data-name='menu'] { display: none; }
.ui-windows-noresize .ui-windows-resize { display: none; }
.ui-windows-minimized .ui-windows-resize { display: none; }
.ui-windows-resize { position: absolute; width: 5px; height: 5px; }
.ui-windows-resize-tl { left: 0; top: 0; cursor: nwse-resize; }
.ui-windows-resize-tr { right: 0; top: 0; cursor: nesw-resize; }
.ui-windows-resize-bl { left: 0; bottom: 0; cursor: nesw-resize; }
.ui-windows-resize-br { right: 0; bottom: 0; cursor: nwse-resize; }
.ui-windows-block iframe, .ui-windows-block webview { pointer-events: none; }
.ui-windows-resizer { position: absolute; border-radius: var(--radius); border: 1px dashed #C0C0C0; z-index: 7; pointer-events: none; }

.ui-dark .ui-windows-item { background-color: #202020; box-shadow: 0 10px 20px rgba(0,0,0,0.08); }
.ui-dark .ui-windows-title { border-color: #404040; }
.ui-dark .ui-windows-body { border-color: #404040; }
.ui-dark .ui-windows-control { border-color: #404040; }
.ui-dark .ui-windows-control:hover { background-color: #272727; }
.ui-dark .ui-windows-dragged .ui-windows-title { background-color: #272727; }
.ui-dark .ui-windows-resizer { border-color: #777; }