.ui-modal-noscroll, .ui-modal-noscroll body { overflow: hidden; }
.ui-modal-container { position: fixed; left: 0; right: 0; bottom: 0; }
.ui-modal-bg { background-color: rgba(250,250,250,0.8); left: 0; top: 0; right: 0; bottom: 0; }
.ui-modal { background-color: #FFF; margin: 0 auto; border-radius: var(--radius); box-shadow: 0 0 30px rgba(0,0,0,0.05); transform: scale(0); transition: transform 0.2s; position: absolute; left: 50%; overflow: hidden; border: 1px solid #E0E0E0; }
.ui-modal-visible .ui-modal { transform: scale(1); }
.ui-modal-body-area { width: 100%; }
.ui-modal-icon { float: left; height: 50px; line-height: 50px; margin-right: 7px; }
.ui-modal-header { border-bottom: 1px solid #E0E0E0; height: 50px; padding: 0 0 0 15px; }
.ui-modal-header label { height: 50px; line-height: 50px; font-size: 16px; float: left; padding: 0; margin: 0; font-weight: bold; color: #000000; }
.ui-modal-header label i { margin-right: 5px; }
.ui-modal-header .cancel { float: right; line-height: 50px; width: 28px; color: red; transition: transform 0.2s; font-size: 16px; }
.ui-modal-header .cancel:hover { transform: scale(1.2); }
.ui-modal-footer { border-top: 1px solid #E0E0E0; height: 60px; padding: 0 15px; line-height: 58px; text-align: right; }
.ui-modal-footer button { height: 33px; border: 0; background-color: #404040; color: #FFF; border-radius: 5px; padding: 0 15px; margin: 0; line-height: 28px; font-weight: bold; }
.ui-modal-footer button:disabled { background-color: #E0E0E0; color: #A0A0A0; cursor: not-allowed; }
.ui-modal-footer .link { font-size: 12px; vertical-align: middle; position: relative; display: inline-block; margin: 0 10px; }
.ui-modal-footer i { margin-right: 5px; }
.ui-modal .padding { padding: 15px; }
.ui-modal-align-1 { bottom: 0; }
.ui-modal-align-2 { bottom: 0; }
.ui-modal-align-3 { top: 0; }
.ui-modal-align-4 { top: 0; }
.ui-modal-align-1 .ui-modal { left: auto; right: 25px; bottom: 25px; top: auto; }
.ui-modal-align-2 .ui-modal { left: 25px; bottom: 25px; top: auto; }
.ui-modal-align-3 .ui-modal { left: 25px; top: 25px; }
.ui-modal-align-4 .ui-modal { left: auto; right: 25px; top: 25px; }
.ui-modal-noscrollbar::-webkit-scrollbar { display: none; }
.ui-modal-noscrollbar { overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none; }

.ui-dark .ui-modal { background-color: #202020; border-color: #404040; }
.ui-dark .ui-modal-bg { background-color: rgba(50,50,50,0.9); }
.ui-dark .ui-modal-footer { border-top-color: #303030; }
.ui-dark .ui-modal-header { border-bottom-color: #303030; }
.ui-dark .ui-modal-header label { color: #FFF; }
.ui-dark .ui-modal-footer .link { color: gray; }
.ui-dark .ui-modal-footer button:disabled { background-color: #404040; color: gray; cursor: not-allowed; }

@media(max-width: 768px) {
	.ui-modal { width: 90%; left: 50%; right: auto; bottom: auto; }
}
