.ui-modal-noscroll, .ui-modal-noscroll body { overflow: hidden; }
.ui-modal { background-color: white; margin: 0 auto 30px; border-radius: 3px; box-shadow: 0 0 30px rgba(0,0,0,0.05); transform: scale(0); transition: transform 0.2s; position: absolute; left: 50%; overflow: hidden; }
.ui-modal-visible .ui-modal { transform: scale(1); }
.ui-modal-container { background-color: rgba(0,0,0,0.1); position: fixed; left: 0; right: 0; top: 0; bottom: 0; }
.ui-modal-body-area { overflow-x: hidden; overflow-y: auto; overflow-scrolling: touch; width: 100%; }
.ui-modal-body { margin-right: 30px; }
.ui-modal-header { border-bottom: 2px solid #E0E0E0; height: 55px; padding: 0 0 0 15px; }
.ui-modal-icon { float: left; height: 55px; line-height: 55px; margin-right: 7px; }
.ui-modal-header label { height: 55px; line-height: 55px; font-size: 16px; float: left; padding: 0; margin: 0; font-weight: bold; color: black; }
.ui-modal-header label i { margin-right: 5px; }
.ui-modal-header .cancel { float: right; line-height: 55px; width: 28px; color: red; transition: transform 0.2s; font-size: 16px; }
.ui-modal-header .cancel:hover { transform: scale(1.2); }
.ui-modal-footer { border-top: 2px solid #E0E0E0; height: 55px; padding: 0 15px; line-height: 55px; text-align: right; }
.ui-modal-footer button { height: 28px; border: 0; background-color: #4285F4; color: white; border-radius: 2px; padding: 0 15px; margin: 0; line-height: 28px; font-weight: bold; }
.ui-modal-footer button:disabled { background-color: #E0E0E0; color: #A0A0A0; cursor: not-allowed; }
.ui-modal-footer .link { font-size: 12px; vertical-align: middle; position: relative; display: inline-block; margin: 0 10px; }
.ui-modal-footer i { margin-right: 5px; }
.ui-modal .padding { padding: 15px; }

.ui-dark .ui-modal { background-color: #202020; }
.ui-dark .ui-modal-container { background-color: rgba(100,100,100,0.1); position: fixed; left: 0; right: 0; top: 0; bottom: 0; }
.ui-dark .ui-modal-footer { border-top-color: #303030; }
.ui-dark .ui-modal-header { border-bottom-color: #303030; }
.ui-dark .ui-modal-header label { color: white; }
.ui-dark .ui-modal-footer .link { color: gray; }
.ui-dark .ui-modal-footer button:disabled { background-color: #404040; color: gray; cursor: not-allowed; }

@media(max-width: 768px) {
	.ui-modal { width: 90%; }
}