.ui-gauge text { font-family: Arial; fill: #000000; font-weight: bold; }
.ui-gauge-pointer path { fill: #000000; }
.ui-gauge-pointer circle { fill: #000000; }

.ui-dark .ui-gauge text { fill: #FFFFFF; }
.ui-dark .ui-gauge-pointer path { fill: #FFFFFF; }
.ui-dark .ui-gauge-pointer circle { fill: #FFFFFF; }