.ui-cookie2 { position: fixed; right: 40px; bottom: 40px; max-width: 320px; background-color: #133762; color: #FFF; padding: 20px; box-shadow: 0 5px 10px rgba(0,0,0,0.2); font-size: 14px; line-height: 18px; border-radius: var(--radius); z-index: 100; }
.ui-cookie2 a { color: #FFF; font-weight: bold; }
.ui-cookie2-buttons { margin-top: 20px; }
.ui-cookie2-icon { text-align: center; font-size: 40px; margin-bottom: 20px; }
.ui-cookie2-buttons button { border: 0; background-color: transparent; font-size: 12px; color: #FFF; border-radius: var(--radius); font-weight: bold; height: 40px; width: 30%; outline: 0; }
.ui-cookie2-buttons button:first-child { background-color: #2A69BB; width: 60%; }

@media(max-width: 440px) {
	.ui-cookie2 { left: 20px; right: 20px; bottom: 20px; max-width: inherit; }
}