.ui-wiki { position: fixed; right: 20px; top: 20px; bottom: 20px; max-width: 600px; width: 100%; box-shadow: 0 0 30px rgba(0,0,0,0.1); z-index: 32; background-color: #FFF; border-radius: var(--radius); }
.ui-wiki-topics-body { overflow: auto; height: 100%; }
.ui-wiki-topic label { padding: 8px 15px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px solid #E0E0E0; cursor: pointer; color: #505050; font-size: 18px; }
.ui-wiki-topic label i { width: 24px; }
.ui-wiki-topic label i:before { content: '\e910' }
.ui-wiki-topic label:hover { background-color: #F0F0F0; }
.ui-wiki-topic-body { display: none; padding: 18px; }
.ui-wiki-title { padding: 0; font-weight: bold; height: 60px; border-bottom: 1px solid #E0E0E0; border-radius: var(--radius) var(--radius) 0 0; }
.ui-wiki-title span { display: block; margin-right: 50px; line-height: 60px; font-size: 20px; padding-left: 15px; }
.ui-wiki-title button { float: right; width: 50px; height: 50px; background: transparent; color: #A0A0A0; border: 0; font-size: 20px; margin: 5px 5px 0 0; }
.ui-wiki-title button:hover { color: #000; }
.ui-wiki-visible .ui-wiki-topic-body { display: block; border-bottom: 1px solid #E0E0E0; }
.ui-wiki-visible label { background-color: var(--color) !important; border-bottom-color: var(--color) !important; color: #FFF !important; }
.ui-wiki-visible label i:before { content: '\e90e' }

.ui-dark .ui-wiki { background-color: #303030; box-shadow: 0 0 30px rgba(0,0,0,0.3); }
.ui-dark .ui-wiki-title { border-bottom-color: #404040; color: #FFF; }
.ui-dark .ui-wiki-topic label { border-bottom-color: #404040; color: #C0C0C0; }
.ui-dark .ui-wiki-topic label:hover { background-color: #353535; }
.ui-dark .ui-wiki-title button:hover { color: #FFF; }
.ui-dark .ui-wiki-visible .ui-wiki-topic-body { border-bottom-color: #404040; }

.ui-wiki .hljs{color:#333;background:#f8f8f8}
.ui-wiki .hljs-comment,.hljs-quote{color:#998}
.ui-wiki .hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333}
.ui-wiki .hljs-number,.hljs-literal,.hljs-variable,.hljs-template-variable,.hljs-tag .hljs-attr{color:#008080}
.ui-wiki .hljs-string,.hljs-doctag{color:#d14}
.ui-wiki .hljs-title,.hljs-section,.hljs-selector-id{color:#900}
.ui-wiki .hljs-subst{font-weight:normal}
.ui-wiki .hljs-type,.hljs-class .hljs-title{color:#458}
.ui-wiki .hljs-tag,.hljs-name,.hljs-attribute{color:#000080}
.ui-wiki .hljs-regexp,.hljs-link{color:#009926}
.ui-wiki .hljs-symbol,.hljs-bullet{color:#990073}
.ui-wiki .hljs-built_in,.hljs-builtin-name{color:#0086b3}
.ui-wiki .hljs-meta{color:#999}
.ui-wiki .hljs-deletion{background:#fdd}
.ui-wiki .hljs-addition{background:#dfd}

.ui-dark .ui-wiki .hljs{color:gray;background:#191919}
.ui-dark .ui-wiki .hljs-comment,.hljs-quote{color:#505050}
.ui-dark .ui-wiki .hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333}
.ui-dark .ui-wiki .hljs-number,.hljs-literal,.hljs-variable,.hljs-template-variable,.hljs-tag .hljs-attr{color:#008080}
.ui-dark .ui-wiki .hljs-string,.hljs-doctag{color:#d14}.hljs-title,.hljs-section,.hljs-selector-id{color:#900}
.ui-dark .ui-wiki .hljs-type,.hljs-class .hljs-title{color:#458}
.ui-dark .ui-wiki .hljs-tag,.hljs-name,.hljs-attribute{color:#000080}
.ui-dark .ui-wiki .hljs-regexp,.hljs-link{color:#009926}
.ui-dark .ui-wiki .hljs-symbol,.hljs-bullet{color:#990073}
.ui-dark .ui-wiki .hljs-built_in,.hljs-builtin-name{color:#0086b3}
.ui-dark .ui-wiki .hljs-meta{color:#999}
.ui-dark .ui-wiki .hljs-deletion{background:#fdd}
.ui-dark .ui-wiki .hljs-addition{background:#dfd}