.ui-wiki { position: fixed; right: 0; top: 45px; bottom: 0; max-width: 600px; width: 100%; box-shadow: -10px 0 10px rgba(0,0,0,0.03); z-index: 32; background-color: white; }
.ui-wiki-topics-body { overflow: auto; height: 100%; }
.ui-wiki-topic label { padding: 5px 15px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px solid #E0E0E0; cursor: pointer; color: #505050; font-size: 13px; }
.ui-wiki-topic label i { margin-right: 5px; }
.ui-wiki-topic label i:before { content: '\f054' }
.ui-wiki-topic label:hover { background-color: #F0F0F0; }
.ui-wiki-topic-body { display: none; padding: 18px; }
.ui-wiki-title { padding: 0; font-weight: bold; height: 50px; border-bottom: 1px solid #E0E0E0; }
.ui-wiki-title span { display: block; margin-right: 50px; line-height: 50px; font-size: 16px; padding-left: 10px; }
.ui-wiki-title button { float: right; width: 50px; height: 50px; background-color: red; color: white; border: 0; font-size: 16px; }
.ui-wiki-title button:hover { opacity: 0.8; }
.ui-wiki-visible .ui-wiki-topic-body { display: block; border-bottom: 1px solid #E0E0E0; }
.ui-wiki-visible label { background-color: #4285F4 !important; border-bottom-color: #4285F4 !important; color: white !important; }
.ui-wiki-visible label i:before { content: '\f078' }

.ui-dark .ui-wiki { background-color: #404040; }
.ui-dark .ui-wiki-title { border-bottom-color: #404040; }
.ui-dark .ui-wiki-topic label { border-bottom-color: #404040; color: gray; }
.ui-dark .ui-wiki-topic label:hover { background-color: #303030; }
.ui-dark .ui-wiki-visible .ui-wiki-topic-body { border-bottom-color: #404040; }