.ui-dashboard { position: relative; min-height: 200px; }
.ui-dashboard-item { position: absolute; z-index: 1; overflow: hidden; }
.ui-dashboard-item figure { position: relative; border: 1px solid #E0E0E0; border-radius: 0 0 var(--radius) var(--radius); background-color: #FFF; overflow: hidden; }
.ui-dashboard-title { background-color: #FFF; height: 0; border: 1px solid #E0E0E0; border-bottom: 0; line-height: 30px; padding: 0 5px 0 10px; font-size: 12px; border-radius: var(--radius) var(--radius) 0 0; cursor: grab; font-weight: bold; display: none; }
.ui-dashboard-title > div { margin-right: 40px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ui-dashboard-body { position: relative; }
.ui-dashboard-control { float: right; line-height: 29px; cursor: pointer; color: gray; display: none; width: 18px; text-align: center; }
.ui-dashboard-selected { z-index: 2; }
.ui-dashboard-selected .ui-dashboard-title { border-color: #D0D0D0; }
.ui-dashboard-selected .ui-dashboard-body figure { border-color: #D0D0D0; }
.ui-dashboard-canresize .ui-dashboard-resize-button { position: absolute; border: 2px solid gray; border-top: 0; border-left: 0; width: 10px; height: 10px; right: 0; bottom: 0; cursor: nwse-resize; }
.ui-dashboard-canresize .ui-dashboard-resize-button:hover { border-color: #000; }
.ui-dashboard-header .ui-dashboard-title { height: 30px; display: block; }
.ui-dashboard-control:hover { opacity: 0.9; }
.ui-dashboard-canremove .ui-dashboard-control[data-name='remove'] { display: block; }
.ui-dashboard-cansettings .ui-dashboard-control[data-name='settings'] { display: block; }
.ui-dashboard-mousedown .ui-dashboard-body { pointer-events: none; }
.ui-dashboard-noscroll { touch-action: none; }
.ui-dashboard-1-init { transition: all 0.2s; opacity: 0; }
.ui-dashboard-1-run { opacity: 1; }
.ui-dashboard-2-init { transition: all 0.2s; transform: scale(1.5); }
.ui-dashboard-2-run { transform: scale(1); }
.ui-dashboard-3-init { transition: all 0.2s; transform: scale(0.5); }
.ui-dashboard-3-run { transform: scale(1); }
.ui-dashboard-4-init { transition: all 0.2s; transform: rotateY(-90deg); }
.ui-dashboard-4-run { transform: rotateY(-1deg); }
.ui-dashboard-5-init { transition: all 0.2s; transform: translate(-100px); opacity: 0; }
.ui-dashboard-5-run { transform: translate(0); opacity: 1; }
.ui-dashboard-6-init { transition: all 0.2s; transform: translate(0, -100px); opacity: 0; }
.ui-dashboard-6-run { transform: translate(0, 0); opacity: 1; }
.ui-dashboard-grid { stroke: #F0F0F0; stroke-width: 2px; }
.ui-dashboard > svg { border: 4px solid #FFF; }
.ui-dashboard > svg rect { stroke: #FFF; stroke-width: 2px; }
.ui-dashboard-nogrid svg { display: none; }

.ui-dark .ui-dashboard > svg { border-color: #202020; }
.ui-dark .ui-dashboard > svg rect { stroke: #202020; stroke-width: 2px; }
.ui-dark .ui-dashboard-item figure { border-color: #404040; }
.ui-dark .ui-dashboard-title { border-color: #404040; background-color: #202020; }
.ui-dark .ui-dashboard-item figure { background-color: #202020; }
.ui-dark .ui-dashboard-selected .ui-dashboard-title { border-color: #505050; }
.ui-dark .ui-dashboard-selected .ui-dashboard-body figure { border-color: #505050; }
.ui-dark .ui-dashboard-canresize .ui-dashboard-resize-button:hover { border-color: #FFF; }
.ui-dark .ui-dashboard-grid { stroke: #333; }