@media (max-width:768px) {
	.table-xs thead { display: none; }
	.table-xs tbody { margin-top: 15px; display: block; }
	.table-xs td { display: block; }
	.table-xs td:before { content: attr(data-label); font-weight: bold; border-right: 1px solid #E0E0E0; width: 100px; float: left; margin-right: 10px; }
	.table-xs tr { margin-bottom: 20px; display: block; }
}