.ui-pagination { height: 60px; border-top: 2px solid #F0F0F0; padding-top: 20px; margin-top: 20px; }
.ui-pagination nav { border: 1px solid #E0E0E0; position: relative; display: inline-block; border-radius: var(--radius); user-select: none; }
.ui-pagination span { font-size: 11px; border-left: 1px solid #E0E0E0; width: 26px; padding: 5px 0; position: relative; display: inline-block; text-align: center; color: gray; text-decoration: none; cursor: pointer; vertical-align: top; }
.ui-pagination span:first-child { border-left: 0; }
.ui-pagination i { color: var(--color); }
.ui-pagination .selected { background-color: #F0F0F0; }
.ui-pagination div { float: right; font-size: 11px; color: #A0A0A0; padding-top: 7px; }

.ui-dark .ui-pagination { border-top-color: #404040; }
.ui-dark .ui-pagination nav { border-color: #404040; }
.ui-dark .ui-pagination span { border-left-color: #404040; color: gray; }
.ui-dark .ui-pagination i { color: var(--color); }
.ui-dark .ui-pagination .selected { background-color: #353535; }
.ui-dark .ui-pagination div { color: #A0A0A0; }

@media(max-width: 767px) {
	.ui-pagination { height: 100px; text-align: center; }
	.ui-pagination nav { display: inline-block; }
	.ui-pagination div { float: none; margin-bottom: 10px; }
}