.ui-textarea { border: 1px solid #E0E0E0; padding: 0; border-radius: var(--radius); position: relative; display: block; width: 100%; background-color: #FFF; overflow: hidden; }
.ui-textarea-placeholder { position: absolute; top: 3px; left: 5px; cursor: text; color: #6f6f6f; user-select: none; font-size: 13px; }
.ui-textarea textarea { border: 0; width: 100%; height: 100%; outline: 0; font: normal 13px Arial; color: #000; resize: none; min-height: 50px; background-color: #FFF; padding: 4px 5px; }
.ui-textarea-label { margin-bottom: 3px; font-size: 12px; text-align: left; }
.ui-textarea-label .ti { margin-right: 5px; }
.ui-textarea-required .ui-textarea-label { font-weight: bold; }
.ui-textarea-required .ui-textarea-label:before { color: red; content: '***'; margin-right: 5px; }
.ui-textarea-required .ui-textarea { border-color: #D0D0D0; }
.ui-textarea-invalid .ui-textarea { border-color: red !important; }
.ui-textarea-monospace textarea { font-family: monospace; font-size: 14px; }
.ui-textarea-helper { margin-top: 8px; font-size: 11px; color: red; text-align: left; display: none; }
.ui-textarea-helper-show { display: block; }
.ui-disabled.ui-textarea { background-color: #F0F0F0; cursor: not-allowed; }
.ui-disabled .ui-textarea-placeholder { cursor: not-allowed; }
.ui-disabled.ui-textarea textarea { background-color: #F0F0F0; color: gray; }
.ui-disabled .ui-textarea { background-color: #F0F0F0; }
.ui-disabled .ui-textarea textarea { background-color: #F0F0F0; cursor: not-allowed; color: gray; }
.ui-textarea-noscrollbar textarea::-webkit-scrollbar { display: none; }
.ui-textarea-noscrollbar textarea { -ms-overflow-style: none; scrollbar-width: none; }

.ui-dark .ui-textarea { border-color: #353535; background-color: #202020; }
.ui-dark .ui-textarea textarea { color: #FFF; background-color: #202020; }
.ui-dark .ui-textarea-required .ui-textarea-label:before { color: red; }
.ui-dark .ui-textarea-required .ui-textarea { border-color: #454545; }
.ui-dark .ui-textarea-invalid .ui-textarea { border-color: red !important; }
.ui-dark .ui-disabled.ui-textarea { background-color: #282828; }
.ui-dark .ui-disabled.ui-textarea textarea { background-color: #282828; color: #707070; }
.ui-dark .ui-disabled .ui-textarea { background-color: #282828; }
.ui-dark .ui-disabled .ui-textarea textarea { background-color: #282828; color: #707070; }
