.ui-textarea-container * { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.ui-textarea { border: 1px solid #E0E0E0; padding: 4px 5px; border-radius: 2px; position: relative; display: block; width: 100%; background-color: white; }
.ui-textarea textarea { border: 0; width: 100%; outline: 0; font: normal 14px Arial; color: black; resize: none; min-height: 50px; background-color: white; padding: 0; }
.ui-textarea-label { margin-bottom: 5px; font-size: 12px; text-align: left; color: #656D78; }
.ui-textarea-label .fa { width: 14px; }
.ui-textarea-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textarea-invalid { border-color: #E7B8B8 !important; background-color: #FFF3F3 !important; }
.ui-textarea-invalid textarea { background-color: #FFF3F3 !important; }
.ui-textarea-code textarea { font-family: monospace; font-size: 14px; }