.ui-console { position: fixed; left: 0; right: 0; bottom: 0; transition: all 0.15s; transform: translate(0,150px); height: 150px; z-index: 32; border: 5px solid rgba(100,100,100,0.1); border-bottom: 0; }
.ui-console-visible { transform: translate(0,0); }
.ui-console-tabs { height: 26px; padding: 0; background-color: rgba(230,230,230,0.8); border-radius: var(--radius) var(--radius) 0 0; }
.ui-console-tabs span { float: left; min-width: 24px; height: 26px; line-height: 26px; text-align: center; cursor: pointer; color: gray; font-size: 12px; padding: 0 7px; }
.ui-console-tabs span i { margin-right: 5px; }
.ui-console-tabs > div span:first-child { border-radius: var(--radius) 0 0 0; }
.ui-console-tabs > div { float: left; }
.ui-console-tabs span:hover { color: #000; }
.ui-console-selected { background-color: #FFF; color: #000 !important; }
.ui-console-output { height: 120px; background-color: #FFF; overflow: auto; overflow-scrolling: touch; }
.ui-console-tabs > .ui-console-close { color: red !important; float: right; border-right: 0; margin-left: 3px; height: 22px; line-height: 22px; }
.ui-console-tabs > .ui-console-clear { color: #777; float: right; border-right: 0; border-right: 1px solid #D0D0D0; height: 22px; line-height: 22px; }
.ui-console-message { height: 24px; font-size: 12px; border-bottom: 1px solid #F0F0F0; line-height: 24px; padding: 0 5px 0 6px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: 30px; }
.ui-console-message i { width: 12px; margin-right: 7px; text-align: center; }
.ui-console-error { color: red; }
.ui-console-warning { color: #E8A826; }
.ui-console-success { color: #8CC152; }
.ui-console-info { color: #3BAFDA; }
.ui-console-body { overflow: hidden; }

.ui-dark .ui-console { border: 5px solid rgba(0,0,0,0.8); }
.ui-dark .ui-console-tabs { height: 26px; padding: 0; background-color: rgba(0,0,0,0.8); }
.ui-dark .ui-console-output { background-color: #222; }
.ui-dark .ui-console-selected { background-color: #222; color: #FFF !important; }
.ui-dark .ui-console-tabs > .ui-console-clear { color: #555; border-right: 1px solid #202020; }
.ui-dark .ui-console-message { border-bottom-color: #303030; }
.ui-dark .ui-console-tabs span:hover { color: #FFF; }