.ui-intro-noscroll, .ui-intro-noscroll body { overflow: hidden; }
.ui-intro { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,0.8); width: 100%; height: 100%; overflow: hidden; z-index: 20; }
.ui-intro-body { position: relative; top: 50%; background-color: #FFF; border-radius: var(--radius); width: 100%; margin: 0 auto; display: block; box-shadow: 0 5px 10px rgba(0,0,0,0.02); transition: all 0.3s; transform: scale(1.5); }
.ui-intro-body-visible { transform: scale(1); }
.ui-intro-body > span { position: absolute; color: red; right: 15px; top: 10px; cursor: pointer; font-size: 16px; }
.ui-intro-figures { display: table; width: 100%; height: 325px; }
.ui-intro .visible { display: table-cell; }
.ui-intro figure { display: none; vertical-align: middle; text-align: center; width: 100%; height: 100%; overflow: hidden; }
i.ui-intro-button { margin: 14px 3px 0; cursor: pointer; color: silver; font-size: 11px; }
.ui-intro-pagination { padding: 0 0 0 10px; border-top: 1px solid #4783EE; }
.ui-intro-pagination .selected { color: #4783EE; }
.ui-intro-pagination button { float: right; border: 0; background-color: #4783EE; color: #FFF; border-radius: 0 0 3px 0; font: normal 11px Arial; text-transform: uppercase; font-weight: bold; height: 40px; width: 150px; padding: 0; margin: 0; outline: 0; }
.ui-intro-pagination button:hover { opacity: 0.8; }
.ui-intro-pagination button i { margin-left: 5px; }