.ui-intro-noscroll, .ui-intro-noscroll body { overflow: hidden; }
.ui-intro { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,0.8); width: 100%; height: 100%; overflow: hidden; z-index: 20; color: #000; }
.ui-intro-body { position: relative; top: 50%; background-color: #FFF; border-radius: var(--radius); width: 100%; margin: 0 auto; display: block; box-shadow: 0 5px 10px rgba(0,0,0,0.02); transition: transform 0.3s; transform: scale(1.5); }
.ui-intro-body-visible { transform: scale(1); }
.ui-intro-body > span { position: absolute; color: red; right: 15px; top: 10px; cursor: pointer; font-size: 16px; }
.ui-intro-figures { display: table; width: 100%; }
.ui-intro .visible { display: table-cell; }
.ui-intro figure { display: none; vertical-align: middle; text-align: center; width: 100%; height: 100%; overflow: hidden; }
i.ui-intro-button { margin: 14px 5px 0; cursor: pointer; color: silver; font-size: 14px; }
.ui-intro-pagination { padding: 10px; background-color: #F0F0F0; height: 60px; border-radius: 0 0 var(--radius) var(--radius); }
.ui-intro-pagination .selected { color: var(--color); }
.ui-intro-pagination button { float: right; border: 0; background-color: var(--color); color: #FFF; border-radius: var(--radius); font: normal 13px Arial; text-transform: uppercase; font-weight: bold; height: 40px; width: 150px; padding: 0; margin: 0; outline: 0; }
.ui-intro-pagination button:hover { opacity: 0.9; }
.ui-intro-pagination button.next i { margin-left: 5px; }
.ui-intro-pagination button.done i { margin-right: 5px; }

.ui-dark .ui-intro { background-color: rgba(0,0,0,0.8); color: #000; }
.ui-dark .ui-intro-body { background-color: #202020; }
.ui-dark .ui-intro-body > span { color: red; }
.ui-dark i.ui-intro-button { color: #666; }
.ui-dark .ui-intro-pagination { background-color: #303030; }
.ui-dark .ui-intro-pagination .selected { color: var(--color); }