.ui-features-layer { position: fixed; width: 100%; height: 100%; left: 0; top: 0; overflow: hidden; z-index: 101; background-color: rgba(0,0,0,0.8); transition: 0.25s transform cubic-bezier(0.23, 1, 0.32, 1); transform: scale(0.8); }
.ui-features { position: absolute; left: -100; top: -100; z-index: 20; width: 500px; box-shadow: 0 1px 20px rgba(0,0,0,0.2); transform: translate(0px,20px); background-color: #FFFFFF; border-radius: 2px; overflow: hidden; }
.ui-features-search { height: 60px; background: #FFFFFF; border-radius: 2px 2px 0 0; border-bottom: 1px solid #E0E0E0; }
.ui-features-search input { width: 100%; background-color: #FFFFFF; border: 0; font-size: 20px; outline: 0; }
.ui-features-search > div { margin-left: 42px; padding: 15px 10px 0 0; }
.ui-features-search > span { float: left; width: 32px; text-align: right; padding: 17px 0 0 0; font-size: 18px; }
.ui-features .selected { font-weight: bold; background-color: #F8F8F8; color: #1484FC !important; }
.ui-features-visible { opacity: 1; transform: scale(1); }
.ui-features-container { max-height: 200px; overflow-x: hidden; overflow-y: auto; overflow-scrolling: touch; }
.ui-features ul { list-style-type: none; margin: 0; padding: 0; }
.ui-features li { border-bottom: 1px solid #E5E5E5; font-size: 14px; padding: 8px 15px 0; background-color: #FFFFFF; cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: 37px; }
.ui-features li i { margin-right: 10px; width: 25px; border-right: 1px solid #E0E0E0; }
.ui-features li:hover { background-color: #F8F8F8; }
.ui-features-noscroll { overflow: hidden !important; }

.ui-dark .ui-features { background-color: #404040; }
.ui-dark .ui-features-search { background: #202020; border-bottom-color: #404040; }
.ui-dark .ui-features-search input { background-color: #202020; }
.ui-dark .ui-features .selected { background-color: #303030; color: #FFFFFF !important; }
.ui-dark .ui-features li { border-bottom-color: #404040; background-color: #202020; }
.ui-dark .ui-features li i { border-right-color: #404040; }
.ui-dark .ui-features li:hover { background-color: #282828; }