.ui-emoji-container { position: absolute; z-index: 110; }
.ui-emoji { border: 1px solid #E0E0E0; font-size: 14px; color: #000; width: 330px; z-index: 10; background-color: #FFF; box-shadow: 0 5px 10px rgba(0,0,0,0.08); border-radius: var(--radius); z-index: 80; overflow: hidden; }
.ui-emoji-header { height: 100px; background-color: #fcfcfc; border-bottom: 1px solid #e0e0e0; }
.ui-emoji-nav { padding: 13px 5px 6px 5px; text-align: center; }
.ui-emoji-nav span { cursor: pointer; font-size: 26px; width: 11%; display: inline-block; user-select: none; }
.ui-emoji-nav span.active { border-bottom: 2px solid #e0e0e0; }
.ui-emoji-search { padding: 0 10px; }
.ui-emoji-search span { float: left; width: 30px; text-align: center; height: 30px; padding: 7px 0 0; font-size: 12px; background-color: #FFF; border: 1px solid #e0e0e0; border-radius: var(--radius) 0 0 var(--radius); color: #A0A0A0; cursor: pointer; }
.ui-emoji-search .fa-times { color: #ff0000; }
.ui-emoji-search div { margin-left: 30px; }
.ui-emoji-search-input { margin: 0; width: 100%; border: 1px solid #e0e0e0; padding: 0 9px; height: 30px; border-radius: 0 var(--radius) var(--radius) 0; border-left: 0; appearance: none; }
.ui-emoji-search-input:focus { outline: none; }
.ui-emoji-scroll { overflow: auto; height: 305px; }
.ui-emoji-content { position: relative; height: 305px; padding: 0 10px 10px; }
.ui-emoji-content-title { margin: 25px 0 5px; padding: 0 0 5px; border-bottom: 1px solid #e0e0e0; text-transform: capitalize; color: #777; }
.ui-emoji div.ui-emoji-content-title:first-child { margin: 15px 0 5px; }
.ui-emoji-content span { padding: 5px; cursor: pointer; font-size: 24px; width: 12.5%; height: 30px; display: inline-block; text-align: center; user-select: none; }
.ui-emoji-content span:hover { transform: scale(1.15); }
.ui-emoji-empty { text-align: center; top: 40%; left: 22%; position: absolute; color: #a5a5a5; }
.ui-emoji-empty div { font-size: 50px; margin-bottom: 10px; line-height: 50px; opacity: 0.4; user-select: none; }
.ui-emoji-footer { text-align: right; padding: 6px 10px 3px 0; font-size: 18px; border-top: 1px solid #e0e0e0; background-color: #fcfcfc; }
.ui-emoji-footer .ui-emoji-footer-text { font-size: 12px; text-align: left; float: left; margin-top: 4px; margin-left: 10px; color: #808080; }
.ui-emoji-footer span { padding: 0 0px 0 6px; cursor: pointer; user-select: none; }

.ui-dark .ui-emoji { background-color: #202020; border-color: #303030; }
.ui-dark .ui-emoji .active { border-color: #5d5d5d; }
.ui-dark .ui-emoji-header { background-color: #202020; border-color: #303030; }
.ui-dark .ui-emoji-content-title { border-color: #303030; color: #ababab; }
.ui-dark .ui-emoji-footer { background-color: #202020; border-color: #303030; }
.ui-dark .ui-emoji-footer-text { color: #ababab; }
.ui-dark .ui-emoji-search span { background-color: #3a3a3a; border-color: #303030; color: #A0A0A0; }
.ui-dark .ui-emoji-search-input { border-color: #303030; background-color: #1f1f1f; color: #FFF; }

@media(max-width: 767px) {
	.ui-emoji .ui-emoji-nav span { cursor: pointer; font-size: 26px; }
	.ui-emoji .ui-emoji-content span { min-width: 45px; }
}
