.ui-diagram-padding { padding: 20px 50px 20px 20px; float: left; }
.ui-diagram ul { position: relative; padding: 1em 0; white-space: nowrap; margin: 0 auto; text-align: center; }
.ui-diagram ul::after { content: ''; display: table; clear: both; }
.ui-diagram li { display: inline-block; vertical-align: top; text-align: center; list-style-type: none; position: relative; padding: 1em .5em 0 .5em; }
.ui-diagram li::before, .ui-diagram li::after { content: ''; position: absolute; top: 0; right: 50%; border-top: 1px solid #D0D0D0; width: 50%; height: 15px; }
.ui-diagram li::after { right: auto; left: 50%; border-left: 1px solid #D0D0D0; }
.ui-diagram li:only-child::after, .ui-diagram li:only-child::before { display: none; }
.ui-diagram li:only-child { padding-top: 0; }
.ui-diagram li:first-child::before, .ui-diagram li:last-child::after { border: 0 none; }
.ui-diagram li:last-child::before { border-right: 1px solid #D0D0D0; border-radius: 0 2px 0 0; }
.ui-diagram li:first-child::after { border-radius: 2px 0 0 0; }
.ui-diagram ul ul::before { content: ''; position: absolute; top: 0; left: 50%; border-left: 1px solid #D0D0D0; width: 0; height: 15px; }
.ui-diagram li .ui-diagram-item { border: 1px solid #D0D0D0; padding: 0; text-decoration: none; display: inline-block; border-radius: 2px; position: relative; top: 1px; }
.ui-diagram li .ui-diagram-item:hover, .ui-diagram li .ui-diagram-item:hover + ul li .ui-diagram-item { border: 1px solid #4285F4 !important; cursor: default; }
.ui-diagram li .ui-diagram-item:hover + ul li::after, .ui-diagram li .ui-diagram-item:hover + ul li::before, .ui-diagram li .ui-diagram-item:hover + ul::before, .ui-diagram li .ui-diagram-item:hover + ul ul::before { border-color: #4285F4; }

.ui-diagram-reverse { transform: rotate(180deg); transform-origin: 50%; }
.ui-diagram-reverse .ui-diagram-item { transform: rotate(180deg); }

.ui-dark .ui-diagram li::before, .ui-dark .ui-diagram li::after { border-top-color: #404040; }
.ui-dark .ui-diagram li::after { border-left-color: #404040; }
.ui-dark .ui-diagram li:last-child::before { border-right-color: #404040; }
.ui-dark .ui-diagram ul ul::before { border-left-color: #404040; }
.ui-dark .ui-diagram li .ui-diagram-item { border: 1px solid #404040; }