.ui-gallery-noscroll { overflow: hidden !important; overflow-scrolling: auto !important; }
.ui-gallery-preview, .ui-gallery img { border-radius: 3px; cursor: pointer; }
.ui-gallery-preview { position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(255,255,255,0.8); height: 100%; z-index: 10; overflow: hidden; }
.ui-gallery-table { width: 100%; height: 100%; display: table; }
.ui-gallery-cell { vertical-align: middle; align-self: center; display: table-cell; }
.ui-gallery-cell img { margin: 0 auto; border-radius: 4px; box-shadow: 0 10px 20px rgba(0,0,0,0.1); width: auto; max-height: 100%; height: 100%; display: block; }
.ui-gallery-cell div { position: absolute; bottom: 20px; top: 20px; right: 20px; left: 20px; z-index: 2; }
.ui-gallery-preview button { position: absolute; width: 50px; height: 80px; background-color: #369CE6; color: white; font-size: 20px; border: 0; top: 50%; margin-top: -60px; outline: 0; cursor: pointer; z-index: 5; }
.ui-gallery-preview button * { cursor: pointer; }
.ui-gallery-preview button:hover { opacity: 0.9; }
.ui-gallery-preview button[name="next"] { right: 0; border-radius: 3px 0 0 3px; }
.ui-gallery-preview button[name="prev"] { border-radius: 0 3px 3px 0; }

@media(max-width: 980px) {
	.ui-gallery-cell img { width: 100%; max-height: auto; height: auto; max-width: 100%; display: block; border-radius: 0; }
	.ui-gallery-cell div { position: relative; bottom: 0; top: 0; right: 0; left: 0; display: block; }
}