.ui-flow { position: relative; transform-origin: top left; transition: transform 0.2s; }
.ui-flow .component { position: absolute; left: 150px; top: 150px; border: 2px solid #E0E0E0; background-color: #FFF; border-radius: var(--radius); box-shadow: 1px 1px 10px rgba(0,0,0,0.03); }
.ui-flow-h .inputs { margin: 0; position: relative; top: 0; left: 0; }
.ui-flow-h .input { background-color: #FFF; padding: 0 8px; font-size: 11px; color: gray; border-top: 1px solid #E0E0E0; line-height: 20px; }
.ui-flow-h .input > span { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-left: 2px; }
.ui-flow-h .input .component-io { float: left; margin: 3px 0 0 -15px; }
.ui-flow-h .input:last-child { border-radius: 0 0 var(--radius) var(--radius); }
.ui-flow-h .outputs { margin: 0; position: relative; }
.ui-flow-h .output { background-color: #FFF; padding: 0 8px; font-size: 11px; color: gray; border-top: 1px solid #E0E0E0; line-height: 20px; }
.ui-flow-h .output > span { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ui-flow-h .output .component-io { float: right; margin: 3px -15px 0 0; }
.ui-flow-h .output:last-child { border-radius: 0 0 var(--radius) var(--radius); }
.ui-flow .component-io { width: 12px; height: 12px; line-height: 12px; border-radius: var(--radius); background-color: #A0A0A0; text-align: center; float: left; margin-top: 1px; font-size: 9px; }
.ui-flow .content { padding: 10px 8px; min-width: 200px; min-height: 24px; cursor: default; }
.ui-flow-h .output.connected { color: #000; }
.ui-flow .output.connected .component-io { background-color: #68B25B !important; }
.ui-flow .input.connected .component-io { background-color: #68B25B !important; }
.ui-flow .connection { stroke-width: 2; stroke: #000; fill: none; }
.ui-flow .connection-draft { stroke: var(--color); }
.ui-flow .component-selected { border-color: var(--color); }
.ui-flow .connection-selected { stroke-width: 6px !important; }
.ui-flow .component-focused { z-index: 1; }
.ui-flow .area { position: relative; }
.ui-flow path.highlight { stroke-width: 3.5px !important; }
.ui-flow > svg { margin: -1px 0 0 -1px; outline: 0; }
.ui-flow-grid { stroke: #F8F8F8; stroke-width: 2; }
.ui-flow .output.connected .component-io.disabled, .ui-flow .input.connected .component-io.disabled, .ui-flow .output .component-io.disabled, .ui-flow .input .component-io.disabled { background-color: red !important; color: #FFF; }
.ui-flow .traffic { fill: transparent; stroke-width: 3px; }
.ui-flow-connections { position: absolute; pointer-events: none; }
.ui-flow-connections path { pointer-events: auto; }
.ui-flow-groups { position: relative; }
.ui-flow-group { position: absolute; background: rgba(0,0,0,0.05); border-radius: var(--radius); border: 2px solid rgba(0,0,0,0.05); color: #000; }
.ui-flow-group > div { position: relative; width: 100%; height: 100%; }
.ui-flow-group > div > span { width: 15px; height: 15px; position: absolute; }
.ui-flow-group > div > label { display: block; padding: 15px; font-size: 18px; font-weight: bold; }
.ui-flow .group-selected { border-color: var(--color); }
.ui-flow-resize-tl { cursor: nwse-resize; top: -2px; left: -2px; border-radius: var(--radius) 0 0 0; }
.ui-flow-resize-tr { cursor: nesw-resize; right: -2px; top: -2px; border-radius: 0 var(--radius) 0 0; }
.ui-flow-resize-br { cursor: nwse-resize; right: -2px; bottom: -2px; border-radius: 0 0 var(--radius) 0; }
.ui-flow-resize-bl { cursor: nesw-resize; bottom: -2px; left: -2px; border-radius: 0 0 0 var(--radius); }
.ui-flow-drag { cursor: grab !important; }
.ui-flow-dragged .ui-flow-groups { pointer-events: none; }
.ui-flow-selection { background: rgba(0,0,0,0.1); position: absolute; left: 0; top: 0; width: 0; height: 0; }
.ui-flow .connection-type-transform { stroke-dasharray: 4; }

.ui-dark .ui-flow-grid { stroke: #303030; }
.ui-dark .ui-flow .component { border-color: #404040; background-color: #303030; }
.ui-dark .ui-flow .output .component-io { color: #606060; }
.ui-dark .ui-flow .input .component-io { color: #606060; }
.ui-dark .ui-flow .output, .ui-dark .ui-flow .input { background-color: #303030; color: #FFF; border-color: #404040; }
.ui-dark .ui-flow .connection { stroke: #999; }
.ui-dark .ui-flow .connection-draft { stroke: var(--color); }
.ui-dark .ui-flow .component-selected { border-color: var(--color); }
.ui-dark .ui-flow-group { background: rgba(0,0,0,0.3); border-color: rgba(0,0,0,0.3); color: #FFF; }
.ui-dark .ui-flow .group-selected { border-color: var(--color); }
.ui-dark .ui-flow-selection { background: rgba(255,255,255,0.1); }
.ui-dark #ui-flow-arrow { fill: #999; }
