.ui-box-noscroll, .ui-box-noscroll body { overflow: hidden; }
.ui-box-container { width: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 5; overflow: hidden; transform-style: preserve-3d; }
.ui-box-bg { background-color: rgba(230,233,237,0.8);  }
.ui-box-nobg .ui-box { border: 1px solid #E9E9E9; }
.ui-box-transparent { pointer-events: none; }
.ui-box { background-color: #FFF; border-radius: 3px; box-shadow: 0 10px 30px rgba(0,0,0,0.1); transform: scale(0); transition: all 0.15s; opacity: 0; text-align: left; position: relative; margin: 0 auto; pointer-events: all; }
.ui-box-animate { transform: scale(1); opacity: 1; }
.ui-box-title { padding: 0 var(--gap); line-height: 57px; font-size: 16px; user-select: none; color: #000; background-color: #FFF; border-bottom: 1px solid #E0E0E0; height: 58px; border-radius: 3px 3px 0 0; }
.ui-box-title .ui-box-button-close { float: right; cursor: pointer; font-size: 18px; margin: 1px 0 0; background: none; border: 0; outline: 0; height: auto; color: red; text-align: right !important; width: 20px; padding: 0; }
.ui-box-title .ui-box-button-close:hover { transform: scale(1.1); }
.ui-box-title > nav { float: right; margin-right: 18px; font-size: 14px; }
.ui-box-title > span { font-weight: bold; }
.ui-box-title > nav button { border: 0; margin: 15px 0 0; background-color: #F0F0F0; height: 28px; padding: 0 10px; color: #000; cursor: pointer; font-family: Arial; line-height: 23px; vertical-align: middle; outline: 0; font-size: 12px; text-decoration: none; transition: all 0.3s; float: left; border-left: 1px solid #E0E0E0; }
.ui-box-title > nav button i { width: 12px; text-align: center; margin-right: 5px; }
.ui-box-title > nav button:hover { opacity: 0.8; }
.ui-box-title > nav button:active { background-color: #D0D0D0; }
.ui-box-title > nav button:disabled { background-color: #F5F5F5 !important; border-color: #E0E0E0 !important; color: silver !important; cursor: not-allowed; box-shadow: none; }
.ui-box-title > nav button:disabled i { color: silver !important; }
.ui-box-title > nav button:first-child { border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); border-left: 0; }
.ui-box-title > nav button:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.ui-box-title i { margin-right: 7px; }
.ui-box > nav { padding: 0 15px 0; border-top: 1px solid #E0E0E0; background-color: #FFF; border-radius: 0 0 3px 3px; line-height: 65px; height: 65px; display: block; float: none; width: 100%; }
.ui-box > nav button { border: 0; margin: 15px 0 0; background-color: #F0F0F0; height: 34px; padding: 0 20px; color: #000; cursor: pointer; font-family: Arial; line-height: 34px; vertical-align: middle; outline: 0; font-size: 14px; text-decoration: none; transition: all 0.3s; float: left; width: 50%; }
.ui-box > nav button i { width: 15px; text-align: center; margin-right: 5px; }
.ui-box > nav button:hover { opacity: 0.8; }
.ui-box > nav button:active { background-color: #D0D0D0; }
.ui-box > nav button:disabled { background-color: #F5F5F5 !important; border-color: #E0E0E0 !important; color: silver !important; cursor: not-allowed; box-shadow: none; }
.ui-box > nav button:disabled i { color: silver !important; }
.ui-box > nav button:first-child { border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); }
.ui-box > nav button:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.ui-box > nav button[name='submit'] { font-weight: bold; background-color: var(--color); color: #FFF; }
.ui-box-style-2 .ui-box { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.ui-box-style-3 .ui-box { border-top-right-radius: 0; border-top-left-radius: 0; }
.ui-box-align-left { margin: 0 auto 0 0; }
.ui-box-align-right { margin: 0 0 0 auto; }

.ui-dark .ui-box { background-color: #202020; }
.ui-dark .ui-box-container { background-color: rgba(50,50,50,0.9); }
.ui-dark .ui-box-title { background-color: #202020; border-bottom-color: #303030; color: #FFF; }
.ui-dark .ui-box-title > nav { background-color: #202020; border-top-color: #303030; }
.ui-dark .ui-box-title > nav button { border-color: #404040; background-color: #505050; color: #E0E0E0; }
.ui-dark .ui-box-title > nav button:active { background-color: #404040; }
.ui-dark .ui-box-title > nav button:disabled i { color: #606060 !important; }
.ui-dark .ui-box-title > nav button:disabled { background-color: #303030 !important; color: #606060 !important; border-color: #202020 !important; }
.ui-dark .ui-box > nav { background-color: #202020; border-top-color: #303030; }
.ui-dark .ui-box > nav button { border-color: #202020; background-color: #505050; color: #F0F0F0; }
.ui-dark .ui-box > nav button[name='submit'] { background-color: var(--color); }
.ui-dark .ui-box > nav button:active { background-color: #404040; }
.ui-dark .ui-box > nav button:disabled i { color: #606060 !important; }
.ui-dark .ui-box > nav button:disabled { background-color: #303030 !important; color: #606060 !important; border-color: #202020 !important; }

@media(max-width: 767px) {
	.ui-box-container { background: none; padding: 0 !important; }
	.ui-box { border-radius: 0; max-width: none !important; width: 100% !important; }
}