.ui-kanban { position: relative; }
.ui-kanban-container { position: relative; }
.ui-kanban-group { float: left; width: 240px; }
.ui-kanban-group-body { border: 1px solid #D0D0D0; margin: 10px; overflow: hidden; }
.ui-kanban-group-scrollbar { height: 100%; }
.ui-kanban-body { padding: 10px; }
.ui-kanban figure { padding: 7px 10px; border-top: 1px solid #D0D0D0; cursor: grab; }
.ui-kanban figure:first-child { border-top: 0; }
.ui-kanban figure:hover { background-color: #F8F8F8; }

.ui-dark .ui-kanban-group-body { border-color: #404040; }
.ui-dark .ui-kanban figure { border-top-color: #404040; }
.ui-dark .ui-kanban figure:hover { background-color: #303030; }