.ui-tabmenu ul { padding: 0; margin: 0 0 10px; display: block; position: relative; font-size: 12px; list-style-type: none; height: 26px; }
.ui-tabmenu li { float: left; line-height: 26px; border: 0; margin: 0 1px 0 0; padding: 0; background-color: #F0F0F0; text-align: center; color: gray; cursor: pointer; min-width: 80px; }
.ui-tabmenu li:first-child { border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); }
.ui-tabmenu li:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.ui-tabmenu li.selected { background-color: var(--color); color: #FFF; }
.ui-tabmenu i { margin-right: 5px; }
.ui-tabmenu.ui-disabled li.selected { background-color: #E0E0E0; }
.ui-tabmenu.ui-disabled li { cursor: not-allowed; color: #A0A0A0; }
.ui-dark .ui-tabmenu li { background-color: #303030; color: #A0A0A0; }
.ui-dark .ui-tabmenu li.selected { background-color: var(--color); color: #FFF; }
.ui-dark .ui-tabmenu.ui-disabled li.selected { background-color: #404040; }
.ui-dark .ui-tabmenu.ui-disabled li { color: #888; }