.ui-tabmenu ul { padding: 0; margin: 0 0 10px; font-size: 12px; list-style-type: none; display: flex; justify-content: flex-start; gap: 8px; }
.ui-tabmenu li { min-width: 100px; text-align: center; padding: 5px 15px; background-color: #F0F0F0; border-radius: var(--radius); cursor: pointer; flex-shrink: 0; font-size: 13px; }
.ui-tabmenu li:hover { background-color: #F5F5F5; }
.ui-tabmenu li.selected { background-color: var(--color); color: #FFF; }
.ui-tabmenu i { margin-right: 5px; }
.ui-tabmenu.ui-disabled li.selected { background-color: #E0E0E0; }
.ui-tabmenu.ui-disabled li { cursor: not-allowed; color: #A0A0A0; }

.ui-dark .ui-tabmenu li { background-color: #303030; color: #A0A0A0; }
.ui-dark .ui-tabmenu li.selected { background-color: var(--color); color: #FFF; }
.ui-dark .ui-tabmenu.ui-disabled li.selected { background-color: #404040; }
.ui-dark .ui-tabmenu.ui-disabled li { color: #888; }