.ui-feedbackbutton { transition: all .2s; cursor: pointer; color: #fff; position: fixed; bottom: 20px; text-align: center; line-height: 60px; width: 50px; height: 50px; border-radius: 50%; }
.ui-feedbackbutton-left { left: 30px; }
.ui-feedbackbutton-right { right: 30px; }
.ui-feedbackbutton .ui-feedbackbutton-inner i { color: #fff; font-size: 20px; display: inline; }
.ui-feedbackbutton .ui-feedbackbutton-inner span { display: none; color: #fff; }
.ui-feedbackbutton .ui-feedbackbutton-close { display: none; background-color: #fff; transition: transform .2s; box-shadow: 0 0 10px 5px rgba(0,0,0,0.08); position: absolute; top: -8px; right: -8px; height: 23px; width: 23px; border-radius: 50%; }
.ui-feedbackbutton .ui-feedbackbutton-close i { color: #333; display: inherit; margin-top: 4px; font-size: 16px; }
.ui-feedbackbutton .ui-feedbackbutton-close:hover { transform: scale(1.1); }
.ui-feedbackbutton:hover { width: auto; border-radius: 4px; padding-left: 10px; padding-right: 10px; }
.ui-feedbackbutton:hover .ui-feedbackbutton-inner span { display: inline; position: relative; bottom: 4px; }
.ui-feedbackbutton:hover .ui-feedbackbutton-inner i { margin-right: 8px; }
.ui-feedbackbutton:hover .ui-feedbackbutton-close { display: block; }

.ui-large .ui-feedbackbutton { width: 65px; height: 65px; line-height: 80px; }
.ui-large .ui-feedbackbutton .ui-feedbackbutton-inner i { font-size: 26px; }
.ui-large .ui-feedbackbutton:hover { padding-left: 20px; padding-right: 20px; }
.ui-large .ui-feedbackbutton .ui-feedbackbutton-inner span { font-size: 16px; bottom: 6px; }