.ui-pin { margin-left: -5px; margin-right: -5px; }
.ui-pin-input { position: relative; display: inline-block; }
.ui-pin-input div { border: 2px solid #000; padding: 5px 2px; border-radius: var(--radius); background-color: #FFF; margin: 5px; }
.ui-pin-input input { width: 100%; border: 0; background-color: #FFF; outline: 0; font-size: 20px; text-align: center; font-weight: bold; border-radius: 0; appearance: none; color: #000; }
.ui-pin-invalid .ui-pin-input div, .ui-pin-invalid input { background-color: #FFF3F3; }
.ui-disabled .ui-pin-input div { background-color: #F0F0F0; border-color: #D0D0D0; }
.ui-disabled .ui-pin-input input { background-color: #F0F0F0; cursor: not-allowed; color: gray; }

.ui-dark .ui-pin-input div { background-color: #252525; border-color: #353535; }
.ui-dark .ui-pin-input input { background-color: #252525; color: #FFF; }
.ui-dark .ui-disabled .ui-pin-input div { background-color: #282828; border-color: #282828; }
.ui-dark .ui-disabled .ui-pin-input input { background-color: #282828; color: gray; }