.ui-folder { border: 1px solid #E0E0E0; border-radius: var(--radius); }
.ui-folder-path { height: 40px; border-bottom: 1px solid #E0E0E0; background-color: #F8F8F8; font-size: 13px; line-height: 40px; overflow: hidden; white-space: nowrap; border-radius: var(--radius) var(--radius) 0 0; }
.ui-folder-path span { position: relative; display: inline-block; margin-left: 8px; color: gray; cursor: pointer; }
.ui-folder-path span:hover { color: #000; }
.ui-folder-path i { position: relative; display: inline-block; margin-left: 8px; color: #505050; }
.ui-folder-item { height: 32px; position: relative; border-top: 1px solid #E0E0E0; cursor: pointer; }
.ui-folder-item:first-child { border-top: 0; }
.ui-folder-selected { background-color: #F0F0F0; }
.ui-folder-item:hover .ui-folder-item-options { display: block; }
.ui-folder-item-icon { width: 28px; float: left; margin: 0; height: 32px; line-height: 32px; text-align: center; }
.ui-folder-item-name { margin-left: 30px; height: 32px; line-height: 32px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ui-folder-item-options { position: absolute; right: 10px; font-size: 14px; top: 6px; display: none; width: 18px; height: 20px; }
.ui-folder-checkbox { width: 16px; height: 16px; line-height: 16px; border-radius: var(--radius); background-color: #FFF; border: 1px solid #E0E0E0; font-size: 11px; text-align: center; float: left; padding: 1px 0 0; margin: 7px 0 0 8px; }
.ui-folder-checkbox i { display: none; margin: 0; width: 100% !important; }
.ui-folder-checkbox-checked { background-color: #4285F4 !important; border-color: #4285F4 !important; color: #FFF; }
.ui-folder-checkbox-checked i { display: block !important; }
.ui-folder-up { height: 32px; line-height: 32px; padding: 0 10px; font-size: 20px; cursor: pointer; font-weight: bold; color: #000; }
.ui-folder-dragenter { background-color: #F8F8F8; }

.ui-dark .ui-folder { border-color: #404040; background-color: #252525; }
.ui-dark .ui-folder-item { border-top-color: #404040; color: #A0A0A0; }
.ui-dark .ui-folder-checkbox { background-color: #303030; border-color: #404040; }
.ui-dark .ui-folder-selected { background-color: #303030; }
.ui-dark .ui-folder-up { border-top-color: #404040; color: #FFF; }
.ui-dark .ui-folder-path { background-color: #303030; border-bottom-color: #404040; }
.ui-dark .ui-folder-path i { color: gray; }
.ui-dark .ui-folder-path span:hover { color: #FFF; }
.ui-dark .ui-folder-dragenter { background-color: #292929; }
