.ui-nosqlcounter .last { border-radius: 0 var(--radius) 0 0; }
.ui-nosqlcounter span { border-bottom: 1px solid rgba(255,255,255,0.5); display: block; padding: 2px 0; overflow: hidden; white-space: nowrap; }
.ui-nosqlcounter .empty div { background-color: #A0A0A0; }
.ui-nosqlcounter .current div { background-color: #E74024; }
.ui-nosqlcounter-table { height: 100%; width: 100%; border: 0; display: table; background-color: #F8F8F8; border-radius: var(--radius) var(--radius) 0 0; border: 1px solid #E5E5E5; }
.ui-nosqlcounter-cell { height: 100%; width: 100%; border: 0; display: table-cell; vertical-align: bottom; }
.ui-nosqlcounter-cell > div div { background-color: #5186ED; width: 100%; position: absolute; bottom: 0; }
.ui-nosqlcounter-cell > div { position: relative; display: inline-block; vertical-align: bottom; border-left: 1px solid #FFF; text-align: center; font-size: 8px; width: 8.333%; cursor: default; overflow: hidden; color: #FFF; border-left: 1px solid #E0E0E0; height: 100%; }
.ui-nosqlcounter-cell > div:first-child { border-left: 0; }
.ui-nosqlcounter-cell > div:first-child div { border-radius: var(--radius) 0 0 0; }
.ui-nosqlcounter-cell > div:last-child div { border-radius: 0px var(--radius) 0 0; }
.ui-nosqlcounter-cell > div:hover { opacity: 0.8; }
.ui-nosqlcounter-labels { margin-top: 5px; }
.ui-nosqlcounter-labels > div { position: relative; display: inline-block; vertical-align: top; text-align: center; font-size: 8px; width: 8.333%; overflow: hidden; color: #A0A0A0; }

.ui-dark .ui-nosqlcounter-table { background-color: #303030; border-color: #404040; }
.ui-dark .ui-nosqlcounter .empty div { background-color: #505050; }
.ui-dark .ui-nosqlcounter-cell > div div { background-color: #5186ED }
.ui-dark .ui-nosqlcounter-cell > div { border-left-color: rgba(255,255,255,0.2); }
.ui-dark .ui-nosqlcounter .current div { background-color: #E74024; }