.ui-confirm * { box-sizing: border-box; }
.ui-confirm-noscroll, .ui-confirm-noscroll body { overflow: hidden; }
.ui-confirm { background-color: rgba(255,255,255,0.9); position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 100; width: 100%; display: table; height: 100%; transition: 0.5s all; opacity: 0; }
.ui-confirm > div { display: table-cell; vertical-align: middle; text-align: center; color: white; padding: 15px; }
.ui-confirm-body { padding: 30px; position: relative; display: inline-block; border-radius: 4px; max-width: 600px; text-align: left; transform: scale(0.5); transition: 0.3s all; color: gray; border: 1px solid #E0E0E0; background-color: white; box-shadow: 0 0 30px rgba(0,0,0,0.1); }
.ui-confirm-message { border-bottom: 1px solid #F0F0F0; padding: 0 0 20px 0; margin-bottom: 20px; }
.ui-confirm button { font-size: 12px; position: relative; display: inline-block; cursor: pointer; outline: 0; background-color: #E0E0E0; border: 0; border-radius: 4px; color: gray; padding: 0 20px; height: 30px; font-weight: normal; margin: 0 10px 0 0; }
.ui-confirm button .fa { margin-right: 5px; }
.ui-confirm button:hover { opacity: 0.9; }
.ui-confirm button[data-index="0"] { color: white; font-weight: bold; font-weight: bold; background-color: #EC2C28; }
.ui-confirm-visible { opacity: 1; }
.ui-confirm-visible .ui-confirm-body { -webkit-transform: scale(1); transform: scale(1); }
.ui-confirm-click { transform: scale(1.07) !important; }
.hidden { display: none; }

@media(max-width: 767px) {
	.ui-confirm button { display: block; margin: 10px 0 0; display: block; width: 100%; }
}