.ui-contentslider { overflow: hidden; width: 100%; position: relative; display: block; }
.ui-contentslider-item { position: absolute; opacity: 0; transition: all 0.5s; transform: scale(0.8) rotateX(90deg); width: 100%; }
.ui-contentslider-item-visible { opacity: 1 !important; transform: scale(1) rotateX(0deg) !important; }
.ui-contentslider-pagination { text-align: center; }
.ui-contentslider-pagination .fa { margin: 2px 3px; color: #A0A0A0; cursor: pointer; font-size: 9px; }
.ui-contentslider-pagination-selected { color: #000 !important; }