.ui-parameters { font-size: 11px; border: 1px solid #E0E0E0; }
.ui-parameters-search { height: 30px; background-color: #FFF; font-size: 12px; border-bottom: 1px solid #E0E0E0; }
.ui-parameters-search span { float: left; width: 30px; line-height: 30px; text-align: center; }
.ui-parameters-search .ti-times { color: red; cursor: pointer; }
.ui-parameters-search div { margin-left: 30px; }
.ui-parameters-search input { width: 100%; border: 0; outline: 0; background: transparent; font-size: 12px; height: 30px; }
.ui-parameters-modified { font-weight: bold; }
.ui-parameters-modified input::placeholder { font-weight: normal; }
.ui-parameters-item { height: 24px; font-size: 11px; border-bottom: 1px solid #E0E0E0; }
.ui-parameters-name { width: 40%; float: left; line-height: 23px; padding: 0 8px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-parameters-type { float: right; width: 20%; line-height: 23px; padding: 0 8px; text-overflow: ellipsis; overflow: hidden; text-overflow: ellipsis; border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; color: gray; background-color: #F9F9F9; }
.ui-parameters-value { float: right; width: 40%; padding: 0 0 0 8px; user-select: none; }
.ui-parameters-value div { display: block; line-height: 23px; }
.ui-parameters-value input { border: 0; background: transparent; width: 100%; outline: 0; height: 23px; font-size: 11px; line-height: 23px; padding: 0; margin: 0; }
.ui-parameters-unit div { margin-right: 30px; }
.ui-parameters-unit span { color: gray; width: 30px; float: right; line-height: 23px; text-align: center; }
.ui-parameters-boolean { cursor: pointer; }
.ui-parameters-invalid { background-color: #FFE1E1; }
.ui-parameters-hidetype .ui-parameters-type { display: none; }
.ui-parameters-hidetype .ui-parameters-name { margin-right: 120px; }
.ui-parameters-hidetype .ui-parameters-value { border-left: 1px solid #E0E0E0; }

.ui-dark .ui-parameters-invalid { background-color: #653d3d; }
.ui-dark .ui-parameters-search span { color: gray; }
.ui-dark .ui-parameters-search { background-color: #252525; border-bottom-color: #404040; }
.ui-dark .ui-parameters { border-color: #404040; }
.ui-dark .ui-parameters-modified { color: #FFF; }
.ui-dark .ui-parameters-item { border-bottom-color: #404040; }
.ui-dark .ui-parameters-type { background-color: #282828; border-left-color: #404040; border-right-color: #404040; }
.ui-dark .ui-parameters-hidetype .ui-parameters-value { border-left: 1px solid #404040; }