.ui-statsbarsimple { border-radius: 100px; border: 1px solid #E0E0E0; padding: 2px; overflow: hidden; }
.ui-statsbarsimple-table { height: 20px; display: table; width: 100%; table-layout: fixed; }
.ui-statsbarsimple-table > div { display: table-cell; cursor: default; font-size: 11px; line-height: 20px; padding: 0 8px; color: #FFF; overflow: hidden; }
.ui-statsbarsimple-table > div:first-child { border-radius: 100px 0 0 100px; }
.ui-statsbarsimple-table > div:last-child { border-radius: 0 100px 100px 0; }
.ui-statsbarsimple-table > div:hover { opacity: 0.9; }
.ui-statsbarsimple-table span { display: block; max-width: 100%; width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; transform: translate(0,50px); transition: transform 0.2s; }
.ui-statsbarsimple-table span i { margin-right: 5px; }
.ui-statsbarsimple-show span { transform: translate(0,0); }

.ui-dark .ui-statsbarsimple { border-color: #505050; }
.ui-large .ui-statsbarsimple-table { height: 28px; }
.ui-large .ui-statsbarsimple-table > div { line-height: 28px; font-size: 13px; }