.ui-checkboxlist-checkbox { line-height: 16px; font-size: 12px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ui-checkboxlist-label .fa { margin-right: 5px; }
.ui-checkboxlist-label { margin-bottom: 3px; font-size: 12px; color: gray; }
.ui-checkboxlist-required .ui-checkboxlist-label:before { color: red; content: '***'; margin-right: 5px; }
.ui-checkboxlist-item { cursor: pointer; padding-bottom: 2px; }
.ui-checkboxlist-item span { cursor: pointer; vertical-align: middle; }
.ui-checkboxlist-item div { position: relative; display: inline-block; width: 16px; height: 16px; border: 1px solid #D0D0D0; margin-right: 6px; vertical-align: middle; cursor: pointer; color: white; font-size: 11px; text-align: center; padding: 1px 0 0 1px; background-color: white; border-radius: 2px; }
.ui-checkboxlist-item .fa { display: none; }
.ui-checkboxlist-checked div { background-color: #4285F4; border-color: #4285F4; }
.ui-checkboxlist-checked .fa { display: block !important; }
.ui-checkboxlist.ui-disabled .ui-checkboxlist-item div { background-color: #F0F0F0 !important; border-color: #E0E0E0 !important; color: gray !important; }

.ui-dark .ui-checkboxlist-item div { border-color: #3A3A3A; background-color: #303030; }
.ui-dark .ui-checkboxlist-checked div { background-color: #4285F4; border-color: #4285F4; }
.ui-dark .ui-checkbox.ui-disabled div { background-color: #303030 !important; border-color: #3A3A3A !important; color: gray !important; }
.ui-dark .ui-checkboxlist.ui-disabled .ui-checkboxlist-item div { background-color: #303030 !important; border-color: #3A3A3A !important; color: gray !important; }