.sidebar9438 { border: 2px solid #0071CF; font-size: 14px; }
.sidebar9438-title { background-color: #0071CF; font: normal normal 20px Arial; padding: 10px; color: white; text-align: center; }
.sidebar9438-body { padding: 15px; color: #666666; line-height: 18px; }
.sidebar9438-body a { color: #0070D6; text-decoration: none; }
.sidebar9438-body a:hover { text-decoration: underline; }