.ui-rating { color: #A0A0A0; font-size: 12px; text-align: center; }
.ui-rating > div { margin-top: 8px; }
.ui-rating i { margin-left: 5px; cursor: pointer; font-size: 12px; }
.ui-rating i:first-child { margin-left: 0; }
.ui-rating-selected { color: #FFB715; }