.ui-listbox { border: 1px solid #E0E0E0; font-size: 14px; color: #000; position: relative; }
.ui-listbox ul { list-style-type: none; width: 100%; height: 100%; overflow: auto; margin: 0; padding: 0; overflow-scrolling: touch; }
.ui-listbox li { border-bottom: 1px solid #E0E0E0; padding: 5px 10px; cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; overflow-scrolling: }
.ui-listbox li .fa { width: 22px; font-size: 12px; border-right: 1px solid #E0E0E0; margin-right: 7px; color: #A0A0A0; }
.ui-listbox li:hover { background-color: #F0F0F0; }
.ui-listbox-selected { background-color: #FFE7A4 !important; font-weight: bold; }
.ui-listbox-search-empty { height: 34px; }
.ui-listbox-search { border-bottom: 1px solid #E0E0E0; height: 34px; background-color: #FFF; position: absolute; width: 100%; box-shadow: 0 5px 10px rgba(0,0,0,0.05); }
.ui-listbox-search input { width: 100%; outline: 0; background-color: #FFF; font: normal normal 12px Arial; border: 0; margin: 0; padding: 0; }
.ui-listbox-search span { float: left; width: 30px; text-align: center; height: 30px; padding: 8px 0 0; font-size: 12px; color: #A0A0A0; }
.ui-listbox-search .fa-times { color: red; cursor: pointer; }
.ui-listbox-search div { margin-left: 30px; padding: 6px 10px 0 0; }
.ui-listbox-invalid { border-color: #E1A1A1; background-color: #FFF3F3 !important; }
.ui-listbox-invalid .ui-listbox-search { border-color: #E1A1A1; }
.ui-listbox.ui-listbox-disabled input { background-color: #F0F0F0; color: gray; cursor: not-allowed; }
.ui-listbox.ui-listbox-disabled .ui-listbox-search { background-color: #F0F0F0; cursor: not-allowed; }
.ui-listbox.ui-listbox-disabled ul { color: #c7c7c7 !important; overflow: hidden; }
.ui-listbox.ui-listbox-disabled li:hover { background-color: #FFF; }
.ui-listbox.ui-listbox-disabled li { cursor: not-allowed; }
.ui-listbox.ui-listbox-disabled .ui-listbox-selected { background-color: #f1f1f1 !important; color: #c3c3c3 !important; }
.ui-listbox-container  { overflow: hidden; }
.ui-listbox-noscrollbar::-webkit-scrollbar { display: none; }
.ui-listbox-noscrollbar { overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none; }

.ui-dark .ui-listbox { border-color: #3A3A3A; background-color: #202020; }
.ui-dark .ui-listbox li { border-bottom-color: #3A3A3A; color: #FFF; }
.ui-dark .ui-listbox li:hover { background-color: #2b2b2b; }
.ui-dark .ui-listbox-selected { background-color: #2b2b2b !important; }
.ui-dark .ui-listbox-search, .ui-dark .ui-listbox-search input { color: #FFF; background-color: #202020; }
.ui-dark .ui-listbox-search { border-bottom-color: #4c4c4c; }
.ui-dark .ui-listbox.ui-listbox-disabled .ui-listbox-selected { background-color: #2b2b2b !important; color: #757575 !important; }
.ui-dark .ui-listbox.ui-listbox-disabled .ui-listbox-search, .ui-dark .ui-listbox.ui-listbox-disabled input { background-color: #2b2b2b; }
.ui-dark .ui-listbox.ui-listbox-disabled li { color: #505050; }
.ui-dark .ui-listbox.ui-listbox-disabled li:hover { background-color: #202020; }