.ui-listdetail { position: relative; }
.ui-listdetail-resizer { display: none; }
.ui-listdetail-detail { border-left: 1px solid #E0E0E0; float: right; box-sizing: border-box; }
.ui-listdetail-visible .ui-listdetail-resizer { display: block; top: 0; width: 1px; background-color: #E0E0E0; position: absolute; cursor: ew-resize; z-index: 2; }
.ui-listdetail-visible .ui-listdetail-resizer:hover { background-color: #D0D0D0; }
.ui-listdetail-resizing .ui-listdetail-resizer { background-color: #C0C0C0 !important; }
.ui-listdetail-horizontal .ui-listdetail-detail, .ui-listdetail-vertical .ui-listdetail-detail { border-left: 0; border-top: 1px solid #E0E0E0; float: none; width: 100%; }
.ui-listdetail-horizontal.ui-listdetail-visible .ui-listdetail-resizer,
.ui-listdetail-vertical.ui-listdetail-visible .ui-listdetail-resizer { width: 100%; height: 1px; cursor: ns-resize; }
.ui-dark .ui-listdetail-detail { border-left-color: #404040; }
.ui-dark .ui-listdetail-visible .ui-listdetail-resizer { background-color: #404040; }
.ui-dark .ui-listdetail-visible .ui-listdetail-resizer:hover { background-color: #454545; }
.ui-dark .ui-listdetail-resizing .ui-listdetail-resizer { background-color: #323232 !important; }
.ui-dark .ui-listdetail-horizontal .ui-listdetail-detail, .ui-dark .ui-listdetail-vertical .ui-listdetail-detail { border-top-color: #404040; }