body{padding:50px;margin:0;background-color:#F0F0F0;font-family:Arial;height:100%;}
html{height:100%;}

.ui-grid { overflow: hidden; border: 1px solid #E0E0E0; }
.ui-grid-scroller { overflow-x: hidden; overflow-y: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
.ui-grid table { width: 100%; table-layout: fixed; }
.ui-grid .wrap { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%; padding: 5px 10px; font-size: 12px; }
.ui-grid-empty { height: 0 !important; }
.ui-grid-empty td { height: 0 !important; }
.ui-grid-noscroll { overflow: hidden !important; }
.ui-grid td, .ui-grid th { overflow: hidden; cursor: default; border-left: 1px solid #E0E0E0; }
.ui-grid th .fa { margin-right: 5px; font-size: 11px; }
.ui-grid td { height: 32px; }
.ui-grid td:first-child, .ui-grid th:first-child { border-left: 0; }
.ui-grid tbody tr:nth-child(odd) { background-color: #F9F9F9; }
.ui-grid tbody tr { border-top: 1px solid #E0E0E0; }
.ui-grid-row:hover { background-color: #FFF9D1 !important; }
.ui-grid tbody tr:first-child { border-top: 0; }
.ui-grid th input { width: 100%; font-size: 10px; color: black; outline: 0; border: 0; background-color: transparent; padding: 0 5px; margin: 0; text-align: center; }
.ui-grid-columnname { border-bottom: 1px solid #E0E0E0; height: 34px; background: linear-gradient(white,#F0F0F0); }
.ui-grid-columnsort { cursor: pointer !important; }
.ui-grid-columnfilter { background-color: white; padding: 0 5px; height: 24px; border-bottom: 1px solid #D0D0D0; }
.ui-grid-selected { background-color: #FFE7A1 !important; }
.ui-grid-columnfilterempty { cursor: not-allowed !important; background: repeating-linear-gradient(45deg,#FFFFFF,#FFFFFF 10px,#F9F9F9 10px,#F9F9F9 20px); }
.ui-grid-meta { float: right; font-size: 14px; margin: 23px 0 0 0; font-weight: bold; }
.ui-grid-pages { margin: 23px 0 0 15px; float: left; font-size: 14px; }
.ui-grid-pagination { margin: 15px 0 0 0; float: left; }
.ui-grid-pagination button { width: 35px; height: 35px; text-align: center; background-color: white; border: 1px solid #E0E0E0; outline: 0; vertical-align: top; font-size: 14px; }
.ui-grid-pagination button:first-child { border-radius: 3px 0 0 3px; border-right: 0; }
.ui-grid-pagination button:last-child { border-radius: 0 3px 3px 0; border-left: 0; }
.ui-grid-pagination button:hover { background-color: #F0F0F0 }
.ui-grid-pagination .page { width: 50px; position: relative; display: inline-block; height: 35px; background-color: white; vertical-align: top; border: 1px solid #E0E0E0; border-left: 0; border-right: 0; padding: 7px 0 0 0; }
.ui-grid-pagination .page input { width: 100%; text-align: center; border: 0; background-color: white; outline: 0; font-size: 14px; font-weight: bold; }
.ui-grid-pagination button:disabled { color: silver; cursor: not-allowed; background-color: white; }
.ui-grid-container { margin: 10px 20px 20px; }
.ui-grid-noscroll .ui-grid-scrollbar { display: none; }

.right { text-align: right; }
.center { text-align: center; }
.hidden { display: none; }