.ui-largeform-noscroll, .ui-largeform-noscroll body { overflow: hidden; }
.ui-largeform-container { width: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(230,233,237,0.8); z-index: 5; overflow: hidden; transform-style: preserve-3d; padding: 0 30px; }
.ui-largeform { background-color: #FFF; border-radius: 3px; box-shadow: 0 10px 30px rgba(0,0,0,0.1); transform: scale(0); transition: all 0.15s; opacity: 0; text-align: left; position: relative; margin: 0 auto; }
.ui-largeform-animate { transform: scale(1); opacity: 1; }
/*.ui-largeform-animate-click { transform: skewX(-2deg); }*/
.ui-largeform-title { padding: 0 var(--gap); line-height: 57px; font-size: 18px; user-select: none; color: #000; background-color: #FFF; border-bottom: 1px solid #E0E0E0; height: 58px; border-radius: 3px 3px 0 0; }
.ui-largeform-title .ui-largeform-button-close { float: right; cursor: pointer; font-size: 18px; margin: 1px 0 0; transition: all 0.2s; background: none; border: 0; outline: 0; height: auto; color: red; text-align: right !important; width: 20px; padding: 0; }
.ui-largeform-title .ui-largeform-button-close:hover { transform: scale(1.1); }
.ui-largeform-title > span { font-weight: bold; }
.ui-largeform-title i { margin-right: 7px; }
.ui-largeform > nav { padding: 0 15px 0; border-top: 1px solid #E0E0E0; background-color: #FFF; border-radius: 0 0 3px 3px; line-height: 65px; height: 65px; display: block; float: none; width: 100%; }
.ui-largeform > nav button { border: 0; margin: 15px 0 0; background-color: #F0F0F0; height: 34px; padding: 0 20px; color: #000; cursor: pointer; font-family: Arial; line-height: 34px; vertical-align: middle; outline: 0; font-size: 14px; text-decoration: none; transition: all 0.3s; float: left; width: 50%; }
.ui-largeform > nav button i { width: 15px; text-align: center; margin-right: 5px; }
.ui-largeform > nav button:hover { opacity: 0.9; }
.ui-largeform > nav button:active { background-color: #D0D0D0; }
.ui-largeform > nav button:disabled { background-color: #F5F5F5 !important; border-color: #E0E0E0 !important; color: silver !important; cursor: not-allowed; box-shadow: none; }
.ui-largeform > nav button:disabled i { color: silver !important; }
.ui-largeform > nav button:first-child { border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); }
.ui-largeform > nav button:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.ui-largeform > nav button[name='submit'] { font-weight: bold; background-color: var(--color); color: #FFF; }
.ui-largeform-style-2 .ui-largeform { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }

.ui-dark .ui-largeform { background-color: #202020; }
.ui-dark .ui-largeform-container { background-color: rgba(50,50,50,0.9); }
.ui-dark .ui-largeform-title { background-color: #202020; border-bottom-color: #303030; color: #FFF; }
.ui-dark .ui-largeform > nav { background-color: #202020; border-top-color: #303030; }
.ui-dark .ui-largeform > nav button { border-color: #202020; background-color: #505050; color: #E0E0E0; }
.ui-dark .ui-largeform > nav button[name='submit'] { background-color: var(--color); }
.ui-dark .ui-largeform > nav button:active { background-color: #404040; }
.ui-dark .ui-largeform > nav button:disabled i { color: #606060 !important; }
.ui-dark .ui-largeform > nav button:disabled { background-color: #303030 !important; color: #606060 !important; border-color: #202020 !important; }

@media(max-width: 767px) {
	.ui-largeform-container { background: none; padding: 0; }
	.ui-largeform { border-radius: 0; }
}