.ui-input { position: relative; font-size: 13px; }
.ui-input-required .ui-input-control { border-color: #D0D0D0; }
.ui-input-label { margin-bottom: 3px; font-size: 12px; }
.ui-input-label i { margin-right: 4px; }
.ui-input-required .ui-input-label:before { content: '***'; color: red; margin-right: 3px; }
.ui-input-control { border: 1px solid #E0E0E0; border-radius: var(--radius); height: 32px; background-color: #FFF; }
.ui-input-input { padding: 6px 2px 0 6px; position: relative; line-height: 20px; }
.ui-input-placeholder { position: absolute; color: gray; margin: 0; user-select: none; cursor: text; width: 100%; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-input-control input { border: 0; outline: 0; background-color: #FFF; width: 100%; padding: 0; margin: 0; line-height: 16px; font-size: 13px; color: #000; font-family: Arial; }
.ui-input-control .ui-input-value { line-height: 19px; height: 18px; cursor: pointer; border-radius: var(--radius); outline: 0; }
.ui-input-control input::-ms-expand { display: none; }
.ui-input-icon-left { width: 32px; height: 30px; line-height: 32px; float: left; text-align: center; border-right: 1px solid #E0E0E0; }
.ui-input-icon-right { width: 32px; height: 30px; line-height: 32px; float: right; border-left: 1px solid #E0E0E0; text-align: center; }
.ui-input-required .ui-input-label { font-weight: bold; }
.ui-input-required .ui-input-icon-left { border-color: #D0D0D0; }
.ui-input-required .ui-input-icon-right { border-color: #D0D0D0; }
.ui-input-ricon .ui-input-input { margin-right: 35px; }
.ui-input-licon .ui-input-input { margin-left: 32px; }
.ui-input-ricon .fa-times, .ui-input-licon .fa-times { color: red; }
.ui-input-value { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ui-input-click { cursor: pointer; }
.ui-input-error { margin-top: 7px; font-size: 11px; color: red; }
.ui-input .right input, .ui-input .right .ui-input-placeholder { text-align: right; }
.ui-input .center input, .ui-input .center .ui-input-placeholder { text-align: center; }
.ui-input-dropdown, .ui-input-dropdown input, .ui-input-dropdown .ui-input-placeholder { cursor: pointer; }
.ui-input-invalid .ui-input-control, .ui-input-invalid .ui-input-icon-left, .ui-input-invalid .ui-input-icon-right { border-color: red; }
.ui-input.ui-disabled .ui-input-control { background-color: #F0F0F0; color: #777; }
.ui-input.ui-disabled input { background-color: #F0F0F0; color: #A0A0A0; }
.ui-input.ui-disabled .ui-input-placeholder { color: #A0A0A0; }
.ui-input.ui-disabled .ui-input-icon-left, .ui-input.ui-disabled .ui-input-icon-right { color: gray; }
.ui-input-increment { padding: 5px 0 0; }
.ui-input-increment i { display: block; line-height: 10px; font-size: 15px; cursor: pointer; }
.ui-input-inner { line-height: 17px; }
.ui-input-inner .ui-input-label { position: absolute; z-index: 1; margin: 11px 0 0 7px; font-size: 13px; }
.ui-input-inner.ui-input-binded .ui-input-label { font-size: 11px; margin-top: 3px; color: gray; }
.ui-input-inner .ui-input-input { padding-top: 9px; }
.ui-input-binded.ui-input-inner .ui-input-input { padding-top: 15px; }
.ui-input-inner .ui-input-control { height: 38px; }
.ui-input-inner .ui-input-icon-left, .ui-input-inner .ui-input-icon-right { height: 37px; line-height: 37px; }
.ui-input-inner.ui-input-required .ui-input-label:before { content: '*'; }
.ui-input-inner .ui-input-increment { padding: 8px 0 0; }
.ui-input-inner .ui-input-increment i { line-height: 10px; }
.ui-input-masked input { letter-spacing: 1px; font-family: Menlo,Consolas,monospace; }
.ui-input-monospace input { font-family: Menlo,Consolas,monospace; }
.ui-input-icon-custom { font-size: 11px; }
.ui-input-inner .ui-input-value { line-height: 13px; height: 14px; margin-top: 3px; font-size: 13px !important; }
.ui-input-type-icon .ui-input-value, .ui-input-type-emoji .ui-input-value { font-size: 15px; }
.ui-input-type-icon .ui-input-control, .ui-input-type-color .ui-input-control, .ui-input-type-color .ui-input-emoji { cursor: pointer; }

.ui-dark .ui-input-required .ui-input-control { border-color: #404040; }
.ui-dark .ui-input-control { border-color: #303030; background-color: #202020; }
.ui-dark .ui-input-required .ui-input-icon-left { border-color: #404040; }
.ui-dark .ui-input-required .ui-input-icon-right { border-color: #404040; }
.ui-dark .ui-input-control input { background-color: #202020; color: #FFF; }
.ui-dark .ui-input-control { background-color: #202020; }
.ui-dark .ui-input-icon-left, .ui-dark .ui-input-icon-right { border-color: #303030; color: gray; }
.ui-dark .ui-input.ui-disabled .ui-input-control { background-color: #282828; color: #999; }
.ui-dark .ui-input.ui-disabled input { background-color: #282828; color: #777; }
.ui-dark .ui-input.ui-disabled .ui-input-placeholder { color: #777; }
