.ui-suggestion { position: absolute; opacity: 0; transition: 0.25s transform cubic-bezier(0.23, 1, 0.32, 1); left: -100; top: -100; z-index: 100; width: 240px; box-shadow: 0 1px 20px rgba(0,0,0,0.1); transform: translate(0px,20px); background-color: #FFF; border-radius: var(--radius); border: 1px solid #E0E0E0; }
.ui-suggestion-body { overflow: hidden; }
.ui-suggestion-search { height: 38px; background: #FFF; border-radius: var(--radius) var(--radius) 0 0; border-bottom: 1px solid #E0E0E0; }
.ui-suggestion-search input { width: 100%; background-color: #FFF; border: 0; font-size: 12px; outline: 0; padding: 0; margin: 0; line-height: 16px; outline: 0; }
.ui-suggestion-search > div { margin-left: 35px; padding: 8px 10px 0 0; }
.ui-suggestion-search > span { float: left; width: 16px; text-align: center; padding: 11px 0 0 12px; font-size: 12px; }
.ui-suggestion-search .ti-times { color: red; cursor: pointer; }
.ui-suggestion-arrow { position: absolute; top: -10px; left: 107px; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #E0E0E0; }
.ui-suggestion-arrow:before { content: ' '; position: absolute; width: 0; height: 0; margin-top: 2px; margin-left: -8px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #FFF; }
.ui-suggestion-visible { opacity: 1; transform: translate(0px,0px); }
.ui-suggestion-container { height: 150px; overflow-x: hidden; overflow-y: auto; overflow-scrolling: touch; margin: 0 25px 0 0; padding: 0; width: 265px; }
.ui-suggestion ul { list-style-type: none; margin: 0; padding: 0; }
.ui-suggestion .selected { background-color: #F0F0F0; color: #000000; }
.ui-suggestion li { border-top: 1px solid #F0F0F0; font-size: 12px; padding: 3px 10px; background-color: #FFF; cursor: pointer; margin: 0; line-height: 16px; }
.ui-suggestion li:first-child { border-top: 0; }

.ui-dark .ui-suggestion { background-color: #303030; border-color: #404040; box-shadow: 1px 5px 10px rgba(0,0,0,0.2); }
.ui-dark .ui-suggestion-search { background: #303030; }
.ui-dark .ui-suggestion li { background-color: #303030; border-color: #404040; }
.ui-dark .ui-suggestion-search { border-bottom-color: #404040; }
.ui-dark .ui-suggestion-search input { background-color: #303030; }
.ui-dark .ui-suggestion-arrow { border-bottom-color: #404040; }
.ui-dark .ui-suggestion-arrow:before { border-bottom-color: #303030; }
.ui-dark .ui-suggestion .selected { background-color: #404040; color: #FFF; }