.ui-table-border > table { border: 1px solid #E0E0E0; }
.ui-table-border .ui-table-thead > tr > th, .ui-table-border .ui-table-tbody > tr > td { border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; }
.ui-table > table { width: 100%; margin: 0; padding: 0; font-size: 13px; table-layout: fixed; }
.ui-table-thead { margin-bottom: 10px; }
.ui-table-thead th { padding: 8px 4px; border-bottom: 2px solid #E0E0E0; }
.ui-table-nohead, .ui-table-nohead tr, .ui-table-nohead th { height: 0 !important; overflow: hidden !important; padding: 0 !important; margin: 0 !important; border-bottom: 0; }
.ui-table-tbody > tr { border-bottom: 1px solid #E0E0E0; }
.ui-table-tbody > tr > td { padding: 5px 4px; }
.ui-table-selectable .ui-table-tbody tr { cursor: pointer; }
.ui-table-selectable .ui-table-tbody tr:hover { background-color: rgba(100,100,100,.05); }
.ui-table-selected { background-color: rgba(253,255,191,.41) !important; }
.ui-table-detailed .ui-table-selected { border-bottom-color: transparent; }
.ui-table-detail { background-color: transparent !important; cursor: inherit !important; }
.ui-table-detail td { padding: 20px 4px !important; }
.ui-table-empty { font-size: 12px; color: gray; padding: 15px 0; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; text-align: center; }
.ui-table-empty i { margin-right: 5px; }

.ui-dark .ui-table-border > table { border: 1px solid #404040; }
.ui-dark .ui-table-border .ui-table-thead > tr > th, .ui-table-border .ui-table-tbody > tr > td { border-left: 1px solid #404040; border-right: 1px solid #404040; }
.ui-dark .ui-table-thead th { padding: 8px 4px; border-bottom: 2px solid #404040; }
.ui-dark .ui-table-tbody > tr { border-bottom: 1px solid #404040; }
.ui-dark .ui-table-selectable .ui-table-tbody tr:hover { background-color: rgba(100,100,100,.2); }
.ui-dark .ui-table-selected { background-color: rgba(100,100,100,.3) !important; }
.ui-dark .ui-table-empty { border-top-color: #404040; border-bottom-color: #404040; }