.ui-colorselector { margin: 0; padding: 0; list-style-type: none; }
.ui-colorselector li { position: relative; display: inline-block; width: 10%; margin: 10px 0; height: 20px; vertical-align: middle; cursor: pointer; }
.ui-colorselector li:first-child { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-colorselector li:last-child { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-colorselector .selected { margin: 0; height: 30px; }
.ui-colorselector-label { font-size: 12px; color: #656D78; }
.ui-colorselector.ui-disabled li { cursor: not-allowed; opacity: 0.9; }