.ui-centered-noscroll, .ui-centered-noscroll body { overflow: hidden; }
.ui-centered-container { position: fixed; width: 100%; height: 100%; z-index: 5; background-color: rgba(255,255,255,0.95); left: 0; top: 0; }
.ui-centered-body { display: table-cell; vertical-align: middle; text-align: center; }
.ui-centered-content { display: table; width: 100%; height: 100%; }
.ui-centered-button { font-size: 14px; color: #A0A0A0; position: absolute; right: 15px; top: 15px; cursor: pointer; opacity: 0.7; transition: all 0.3s; width: 24px; height: 24px; text-align: center; line-height: 24px; z-index: 2; }
.ui-centered-button:active { top: 21px; }
.ui-centered-button:hover { opacity: 1; }

.ui-dark .ui-centered-container { background-color: rgba(20,20,20,0.95); }
.ui-dark .ui-centered-button { color: #777777; }