.ui-approve-noscroll, .ui-approve-noscroll body { overflow: hidden; }
.ui-approve { background-color: rgba(255,255,255,0.9); position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 100; width: 100%; display: table; height: 100%; transition: 0.5s all; opacity: 0; }
.ui-approve > div { display: table-cell; vertical-align: middle; text-align: center; color: #FFF; padding: 15px; }
.ui-approve-body { color: #000; padding: 0; position: relative; display: inline-block; max-width: 300px; text-align: left; transform: scale(0.8); transition: 0.15s all; border: 0; background-color: #FFF; box-shadow: 0 0 30px rgba(0,0,0,0.1);}
.ui-approve-content { padding: 50px 30px; text-align: center; }
.ui-approve-content > i { font-size: 50px; display: block; margin-bottom: 10px; }
.ui-approve-buttons { height: 40px; }
.ui-approve button { font-size: 12px; float: left; cursor: pointer; outline: 0; background-color: #E0E0E0; border: 0; border-radius: 0; color: gray; padding: 0; width: 50%; height: 40px; font-weight: normal; margin: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.ui-approve button i { margin-right: 5px; }
.ui-approve button:hover { opacity: 0.9; }
.ui-approve-close { position: absolute; color: #C0C0C0; font-size: 11px; right: 8px; top: 5px; cursor: pointer; }
.ui-approve-close:hover { color: #A0A0A0; }
.ui-approve-visible { opacity: 1; }
.ui-approve-visible .ui-approve-body { -webkit-transform: scale(1); transform: scale(1); }
.ui-approve-click { transform: scale(1.07) !important; }

.ui-dark .ui-approve { background-color: rgba(0,0,0,0.9) }
.ui-dark .ui-approve-body { background-color: #202020; }
.ui-dark .ui-approve-content { border-bottom-color: #303030; color: #FFF; }
.ui-dark .ui-approve button { background-color: #505050; color: #C0C0C0; }
.ui-dark .ui-approve-close { color: #505050; }
.ui-dark .ui-approve-close:hover { color: #888; }

.ui-approve button[data-index='0'] { color: #FFF; font-weight: bold; font-weight: bold; background-color: #EC2C28; }

@media(max-width: 340px) {
	.ui-approve button { display: block; margin: 8px 0 0; display: block; width: 100%; height: 34px; font-size: 13px; }
}