<!-- BIND data-jc="binder" into the body element -->
<div data-jc="binder">
	<div data-b="user.logged" data-b-html="n => n ? 'logged' : 'unlogged'" data-b-class="n => n ? '+green -red' : '–green +red'">...</div>
	<div data-b="user.datetime" data-b-html="n => n ? n.format('dd.MM.yyyy HH:mm') : 'bla bla bla'"></div>
	<div data-b="user.logged" data-b-visible="n => n">LOGGED</div>
	<div data-b="user.datetime">{{ if value }}{{ value | format('dd.MM.yyyy HH:mm:ss') }}{{ else }}Tangular{{ fi }}</div>
	<div data-b="user.datetime" data-b-template="true"><script type="text/html">{{ if value }}{{ value | format('dd.MM.yyyy HH:mm:ss') }}{{ else }}Tangular{{ fi }}</script></div>
</div>

<script>
	var user = {};

	user.logged = false;
	user.datetime;

	setInterval(function() {
		SET('user.logged', !user.logged);
	}, 2000);

	setInterval(function() {
		SET('user.datetime', new Date());
	}, 1000);

	STYLE('.green{color:green}.red{color:red;}');
</script>