:root {
	--color: #4285F4;
	--rgb: 66,133,244;
	--radius: 3px;
	--gap: 20px;
	--margin: 15px;
}

.ui-dark { color: #E0E0E0; background-color: #202020; }
.b { font-weight: bold; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.m { margin-bottom: var(--margin); }
.nmr { margin-right: 0!important; }
.nml { margin-left: 0!important; }
.nmt { margin-top: 0!important; }
.nmb { margin-bottom: 0!important; }
.npl { padding-left: 0!important; }
.npr { padding-right: 0!important; }
.npt { padding-top: 0!important; }
.npb { padding-bottom: 0!important; }
.table-small { font-size: 12px; }
.ui-dark hr { border-color: #404040; }
.table-small>tbody>tr>td,.table-small>tfoot>tr>td { padding: 3px 5px; }
.table-small>thead>tr>th { padding: 5px; }
.ui-dark .table-striped>tbody>tr:nth-child(odd) { background-color: #292929; }
.ui-dark .table>thead>tr>th,.ui-dark .table>tbody>tr>th,.ui-dark .table>tfoot>tr>th,.ui-dark .table>thead>tr>td,.ui-dark .table>tbody>tr>td,.ui-dark .table>tfoot>tr>td { border-top-color: #373737; }
.ui-dark .table>thead>tr>th { border-bottom-color: #373737; }
.ui-dark .table-bordered { border-color: #373737; }
.ui-dark .table-bordered>thead>tr>th,.ui-dark .table-bordered>tbody>tr>th,.ui-dark .table-bordered>tfoot>tr>th,.ui-dark .table-bordered>thead>tr>td,.ui-dark .table-bordered>tbody>tr>td,.ui-dark .table-bordered>tfoot>tr>td { border-color: #373737; }
.padding { padding: var(--gap); }
.help { font-size: 11px; color: #909090; margin-top: 8px; line-height: 13px; }
.help i { margin-right: 5px; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 1px 3px; border-radius: 2px; border: 1px solid #E0E0E0; }
.ui-dark .help { color: #656565; }
.ui-dark .help code { background-color: #353535; border-color: #303030; color: #777; }
.ui-dark .help .link { color: #79D0FF; }
.hellip { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.np { padding: 0!important; }
.silver { color: #A0A0A0!important; }
.red { color: #D63B32!important; }
.blue { color: #377BB5!important; }
.gray { color: gray!important; }
.orange { color: #EC8632!important; }
.green { color: #68B25B!important; }
.color { color: var(--color)!important; }
.center { text-align: center!important; }
.right { text-align: right!important; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.noscrollbar::-webkit-scrollbar { display: none; }
.noscrollbar { overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none; }
ui-component, ui-plugin, ui-import { display: block; }
.block { display: block; }

.ui-scrollbar { overflow: hidden; }
.ui-scrollbar-area { overflow: scroll; overflow-scrolling: touch;-webkit-overflow-scrolling: touch; }
.ui-scrollbar-body { margin: 0; float: left; }
.ui-scrollbar-path { position: relative; z-index: 2; }
.ui-scrollbar > .ui-scrollbar-path { visibility: hidden; }
.ui-scrollbar-y { width: 6px; height: 100%; position: absolute; right: 0; top: 0; z-index: 5; }
.ui-scrollbar-x { height: 6px; width: 100%; position: absolute; left: 0; bottom: 0; z-index: 5; }
.ui-scrollbar-y span { height: 30px; width: 100%; display: block; position: relative; padding: 5px 0; }
.ui-scrollbar-path b { width: 100%; height: 100%; display: block; background-color: rgba(0,0,0,0.2); border-radius: 5px; }
.ui-scrollbar-x span { vertical-align: top; width: 30px; height: 100%; display: block; position: relative; padding: 0 14px 0 5px; }
.ui-scrollbar-y span: hover b,.ui-scrollbar-x span: hover b { background-color: rgba(0,0,0,0.3)}
.ui-scrollbar-isx .ui-scrollbar-padding { padding-right: 30px; }
.ui-scrollbar-hidden span { display: none!important; }
.ui-scrollbar-notready { display: none!important; }
.ui-dark .ui-scrollbar-y b,.ui-dark .ui-scrollbar-x b { background-color: rgba(0,0,0,0.5)}
.ui-dark .ui-scrollbar-y span: hover b,.ui-dark .ui-scrollbar-x span: hover b { background-color: rgba(0,0,0,0.5)}
.ui-scrollbar-touch .ui-scrollbar-y { display: none!important; }
.ui-scrollbar-touch .ui-scrollbar-x { display: none!important; }
.ui-scrollbar-touch .ui-scrollbar-body { margin: 0!important; }
.ui-scrollbar-touch .ui-scrollbar-padding { padding-right: 0; }
.ui-scrollbar-y:hover:not(.ui-scrollbar-hidden),.ui-scrollbar-y-show { visibility: visible; width: 10px !important; margin-left: -4px !important; }
.ui-scrollbar-x:hover:not(.ui-scrollbar-hidden),.ui-scrollbar-x-show { visibility: visible; height: 10px !important; margin-top: -4px !important; }
.nogutters { margin-right: 0; margin-left: 0; }
.nogutters>[class*='col-'] { padding-right: 0; padding-left: 0; }
.ui-scrollbar-shadow { position: relative; pointer-events: none; }
.ui-scrollbar-shadow-left,.ui-scrollbar-shadow-right,.ui-scrollbar-shadow-top,.ui-scrollbar-shadow-bottom { position: absolute; }
.ui-scrollbar-shadow-h { width: 30px; z-index: 1; }
.ui-scrollbar-shadow-v { height: 30px; z-index: 1; }
.ui-scrollbar-shadow-left { background: linear-gradient(90deg,#00000010,transparent)}
.ui-dark .ui-scrollbar-shadow-left { background: linear-gradient(90deg,#0000006b,transparent)}
.ui-scrollbar-shadow-right { background: linear-gradient(90deg,transparent,#00000010)}
.ui-dark .ui-scrollbar-shadow-right { background: linear-gradient(90deg,transparent,#0000006b)}
.ui-scrollbar-shadow-top { background: linear-gradient(#00000010,transparent)}
.ui-dark .ui-scrollbar-shadow-top { background: linear-gradient(#0000006b,transparent)}
.ui-scrollbar-shadow-bottom { background: linear-gradient(transparent,#00000010)}
.ui-dark .ui-scrollbar-shadow-bottom { background: linear-gradient(transparent,#0000006b)}
.ui-scrollbar:hover>.ui-scrollbar-path { visibility: visible; }
.ui-scrollbar-noscroll>.ui-scrollbar-area { overflow: hidden!important; }
.ui-scrollbar-noscroll>.ui-scrollbar-path { display: none!important; }
.ui-scrollbar-noscroll>.ui-scrollbar-shadow { display: none!important; }

.monospace { font-family: Menlo,Consolas,monospace; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.pointer { cursor: pointer; }
.ui-disabled.pointer,.ui-disabled .pointer { cursor: not-allowed!important; }

.grid-lg-1,.grid-md-1,.grid-sm-1,.grid-xs-1,.grid-lg-2,.grid-md-2,.grid-sm-2,.grid-xs-2,.grid-lg-3,.grid-md-3,.grid-sm-3,.grid-xs-3,.grid-lg-4,.grid-md-4,.grid-sm-4,.grid-xs-4, .grid-lg-6,.grid-md-6,.grid-sm-6,.grid-xs-6, .grid-lg-7,.grid-md-7,.grid-sm-7,.grid-xs-7,.grid-lg-8,.grid-md-8,.grid-sm-8,.grid-xs-8, .grid-lg-9,.grid-md-9,.grid-sm-9,.grid-xs-9, .grid-lg-10,.grid-md-10,.grid-sm-10,.grid-xs-10,.grid-lg-11,.grid-md-11,.grid-sm-11,.grid-xs-11,.grid-lg-12,.grid-md-12,.grid-sm-12,.grid-xs-12,.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12 { display: grid; column-gap: var(--gap); }
.jc-xs .grid-1, .jc-sm .grid-1, .jc-md .grid-1, .jc-lg .grid-1 { grid-template-columns: repeat(1, minmax(0,1fr)); }
.jc-xs .grid-2, .jc-sm .grid-2, .jc-md .grid-2, .jc-lg .grid-2 { grid-template-columns: repeat(2, minmax(0,1fr)); }
.jc-xs .grid-3, .jc-sm .grid-3, .jc-md .grid-3, .jc-lg .grid-3 { grid-template-columns: repeat(3, minmax(0,1fr)); }
.jc-xs .grid-4, .jc-sm .grid-4, .jc-md .grid-4, .jc-lg .grid-4 { grid-template-columns: repeat(4, minmax(0,1fr)); }
.jc-xs .grid-5, .jc-sm .grid-5, .jc-md .grid-5, .jc-lg .grid-5 { grid-template-columns: repeat(5, minmax(0,1fr)); }
.jc-xs .grid-6, .jc-sm .grid-6, .jc-md .grid-6, .jc-lg .grid-6 { grid-template-columns: repeat(6, minmax(0,1fr)); }
.jc-xs .grid-7, .jc-sm .grid-7, .jc-md .grid-7, .jc-lg .grid-7 { grid-template-columns: repeat(7, minmax(0,1fr)); }
.jc-xs .grid-8, .jc-sm .grid-8, .jc-md .grid-8, .jc-lg .grid-8 { grid-template-columns: repeat(8, minmax(0,1fr)); }
.jc-xs .grid-9, .jc-sm .grid-9, .jc-md .grid-9, .jc-lg .grid-9 { grid-template-columns: repeat(9, minmax(0,1fr)); }
.jc-xs .grid-10, .sm .grid-10, .md .grid-10, .jc-lg .grid-10 { grid-template-columns: repeat(10, minmax(0,1fr)); }
.jc-xs .grid-11, .sm .grid-11, .md .grid-11, .jc-lg .grid-11 { grid-template-columns: repeat(11, minmax(0,1fr)); }
.jc-xs .grid-12, .sm .grid-12, .md .grid-12, .jc-lg .grid-12 { grid-template-columns: repeat(12, minmax(0,1fr)); }
.jc-xs .grid-xs-12, .jc-sm .grid-sm-12, .jc-md .grid-md-12, .jc-lg .grid-lg-12 { grid-template-columns: repeat(12, minmax(0,1fr)); }
.jc-xs .grid-xs-11, .jc-sm .grid-sm-11, .jc-md .grid-md-11, .jc-lg .grid-lg-11 { grid-template-columns: repeat(11, minmax(0,1fr)); }
.jc-xs .grid-xs-10, .jc-sm .grid-sm-10, .jc-md .grid-md-10, .jc-lg .grid-lg-10 { grid-template-columns: repeat(10, minmax(0,1fr)); }
.jc-xs .grid-xs-9, .jc-sm .grid-sm-9, .jc-md .grid-md-9, .jc-lg .grid-lg-9 { grid-template-columns: repeat(9, minmax(0,1fr)); }
.jc-xs .grid-xs-8, .jc-sm .grid-sm-8, .jc-md .grid-md-8, .jc-lg .grid-lg-8 { grid-template-columns: repeat(8, minmax(0,1fr)); }
.jc-xs .grid-xs-7, .jc-sm .grid-sm-7, .jc-md .grid-md-7, .jc-lg .grid-lg-7 { grid-template-columns: repeat(7, minmax(0,1fr)); }
.jc-xs .grid-xs-6, .jc-sm .grid-sm-6, .jc-md .grid-md-6, .jc-lg .grid-lg-6 { grid-template-columns: repeat(6, minmax(0,1fr)); }
.jc-xs .grid-xs-5, .jc-sm .grid-sm-5, .jc-md .grid-md-5, .jc-lg .grid-lg-5 { grid-template-columns: repeat(5, minmax(0,1fr)); }
.jc-xs .grid-xs-4, .jc-sm .grid-sm-4, .jc-md .grid-md-4, .jc-lg .grid-lg-4 { grid-template-columns: repeat(4, minmax(0,1fr)); }
.jc-xs .grid-xs-3, .jc-sm .grid-sm-3, .jc-md .grid-md-3, .jc-lg .grid-lg-3 { grid-template-columns: repeat(3, minmax(0,1fr)); }
.jc-xs .grid-xs-2, .jc-sm .grid-sm-2, .jc-md .grid-md-2, .jc-lg .grid-lg-2 { grid-template-columns: repeat(2, minmax(0,1fr)); }
.jc-xs .grid-xs-1, .jc-sm .grid-sm-1, .jc-md .grid-md-1, .jc-lg .grid-lg-1 { grid-template-columns: repeat(1, minmax(0,1fr)); }

.d-xs .grid-1, .d-sm .grid-1, .d-md .grid-1, .d-lg .grid-1 { grid-template-columns: repeat(1, minmax(0,1fr)) !important; }
.d-xs .grid-2, .d-sm .grid-2, .d-md .grid-2, .d-lg .grid-2 { grid-template-columns: repeat(2, minmax(0,1fr)) !important; }
.d-xs .grid-3, .d-sm .grid-3, .d-md .grid-3, .d-lg .grid-3 { grid-template-columns: repeat(3, minmax(0,1fr)) !important; }
.d-xs .grid-4, .d-sm .grid-4, .d-md .grid-4, .d-lg .grid-4 { grid-template-columns: repeat(4, minmax(0,1fr)) !important; }
.d-xs .grid-5, .d-sm .grid-5, .d-md .grid-5, .d-lg .grid-5 { grid-template-columns: repeat(5, minmax(0,1fr)) !important; }
.d-xs .grid-6, .d-sm .grid-6, .d-md .grid-6, .d-lg .grid-6 { grid-template-columns: repeat(6, minmax(0,1fr)) !important; }
.d-xs .grid-7, .d-sm .grid-7, .d-md .grid-7, .d-lg .grid-7 { grid-template-columns: repeat(7, minmax(0,1fr)) !important; }
.d-xs .grid-8, .d-sm .grid-8, .d-md .grid-8, .d-lg .grid-8 { grid-template-columns: repeat(8, minmax(0,1fr)) !important; }
.d-xs .grid-9, .d-sm .grid-9, .d-md .grid-9, .d-lg .grid-9 { grid-template-columns: repeat(9, minmax(0,1fr)) !important; }
.d-xs .grid-10, .sm .grid-10, .md .grid-10, .d-lg .grid-10 { grid-template-columns: repeat(10, minmax(0,1fr)) !important; }
.d-xs .grid-11, .sm .grid-11, .md .grid-11, .d-lg .grid-11 { grid-template-columns: repeat(11, minmax(0,1fr)) !important; }
.d-xs .grid-12, .sm .grid-12, .md .grid-12, .d-lg .grid-12 { grid-template-columns: repeat(12, minmax(0,1fr)) !important; }
.d-xs .grid-xs-12, .d-sm .grid-sm-12, .d-md .grid-md-12, .d-lg .grid-lg-12 { grid-template-columns: repeat(12, minmax(0,1fr)) !important; }
.d-xs .grid-xs-11, .d-sm .grid-sm-11, .d-md .grid-md-11, .d-lg .grid-lg-11 { grid-template-columns: repeat(11, minmax(0,1fr)) !important; }
.d-xs .grid-xs-10, .d-sm .grid-sm-10, .d-md .grid-md-10, .d-lg .grid-lg-10 { grid-template-columns: repeat(10, minmax(0,1fr)) !important; }
.d-xs .grid-xs-9, .d-sm .grid-sm-9, .d-md .grid-md-9, .d-lg .grid-lg-9 { grid-template-columns: repeat(9, minmax(0,1fr)) !important; }
.d-xs .grid-xs-8, .d-sm .grid-sm-8, .d-md .grid-md-8, .d-lg .grid-lg-8 { grid-template-columns: repeat(8, minmax(0,1fr)) !important; }
.d-xs .grid-xs-7, .d-sm .grid-sm-7, .d-md .grid-md-7, .d-lg .grid-lg-7 { grid-template-columns: repeat(7, minmax(0,1fr)) !important; }
.d-xs .grid-xs-6, .d-sm .grid-sm-6, .d-md .grid-md-6, .d-lg .grid-lg-6 { grid-template-columns: repeat(6, minmax(0,1fr)) !important; }
.d-xs .grid-xs-5, .d-sm .grid-sm-5, .d-md .grid-md-5, .d-lg .grid-lg-5 { grid-template-columns: repeat(5, minmax(0,1fr)) !important; }
.d-xs .grid-xs-4, .d-sm .grid-sm-4, .d-md .grid-md-4, .d-lg .grid-lg-4 { grid-template-columns: repeat(4, minmax(0,1fr)) !important; }
.d-xs .grid-xs-3, .d-sm .grid-sm-3, .d-md .grid-md-3, .d-lg .grid-lg-3 { grid-template-columns: repeat(3, minmax(0,1fr)) !important; }
.d-xs .grid-xs-2, .d-sm .grid-sm-2, .d-md .grid-md-2, .d-lg .grid-lg-2 { grid-template-columns: repeat(2, minmax(0,1fr)) !important; }
.d-xs .grid-xs-1, .d-sm .grid-sm-1, .d-md .grid-md-1, .d-lg .grid-lg-1 { grid-template-columns: repeat(1, minmax(0,1fr)) !important; }
