.ui-textboxlist-label { margin-bottom: 3px; font-size: 12px; text-align: left; }
.ui-textboxlist-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textboxlist-label i { margin-right: 5px; }
.ui-textboxlist-items > div:first-child { border-radius: var(--radius) var(--radius) 0 0; }
.ui-textboxlist-item { height: 36px; background-color: #FFF; border: 1px solid #E0E0E0; border-bottom: 0; }
.ui-textboxlist-item > div:first-child { float: right; width: 36px; text-align: center; color: #555; font-size: 14px; height: 35px; border-left: 1px solid #E0E0E0; }
.ui-textboxlist-remove { color: #DA4453; }
.ui-textboxlist-item > div:last-child { padding: 4px 0 0 0; margin-right: 36px; }
.ui-textboxlist-item i { cursor: pointer; display: block; line-height: 35px; text-align: center; float: left; width: 36px; border-left: 1px solid #E0E0E0; }
.ui-textboxlist-item i:first-child { border-left: 0; }
.ui-textboxlist-item i:active { margin-top: 1px; }
.ui-textboxlist-item input { width: 100%; background-color: transparent; border: 0; padding: 1px 10px 0; border-radius: var(--radius); outline: 0; font-size: 13px; color: #000; line-height: 26px; }
.ui-textboxlist-base { border-radius: 0 0 var(--radius) var(--radius); border-bottom: 1px solid #E0E0E0; }
.ui-textboxlist-base > div:first-child { display: none; }
.ui-textboxlist-helper { margin-top: 8px; font-size: 11px; color: red !important; text-align: left; }
.ui-textboxlist-empty .ui-textboxlist-base { border-radius: var(--radius); }
.ui-textboxlist-item-invalid input { color: red; }
.ui-textboxlist-movable .ui-textboxlist-item > div:last-child { margin-right: 110px; }
.ui-textboxlist-movable .ui-textboxlist-item > div:first-child { width: 110px; }

.ui-dark .ui-textboxlist-item { border-color: #404040; }
.ui-dark .ui-textboxlist-item { background-color: #202020; border-color: #404040; }
.ui-dark .ui-textboxlist-item > div:first-child { color: #999; border-left-color: #404040; }
.ui-dark .ui-textboxlist-item input { background-color: transparent; color: #FFF; }
.ui-dark .ui-textboxlist-base { border-bottom-color: #404040; }
.ui-dark .ui-textboxlist-helper { color: red !important; }
.ui-dark .ui-textboxlist-item i { border-left-color: #404040; }