.ui-paper { font-size: 15px; font-family: Arial; padding: 15px 0; }
.ui-paper [contenteditable] { outline: 0; }
.ui-paper section { padding-bottom: 10px; }
.ui-paper .paper-html { min-height: 16px; display: inline-block; width: 100%; }
.ui-paper-first { height: 10px; }
