.ui-detail-container { padding: 0 0 20px 0; }
.ui-detail-group:first-child { margin-top: 10px; }
.ui-detail-group:lastchild-child section { margin-bottom: 0; }
.ui-detail-group { padding: 0; margin-bottom: 20px; border: 1px solid #E0E0E0; border-radius: 2px; }
.ui-detail-group label { display: block; padding: 10px 15px; font-size: 16px; font-weight: bold; background-color: #F8F8F8; }
.ui-detail-group label i { width: 22px; }
.ui-detail-group label i:before { content: '\f146'; }
.ui-detail-hidden label i:before { content: '\f0fe' !important; }
.ui-detail-hidden section { display: none; }
.ui-detail-item { padding: 6px 0; background-color: #FFFFFF; margin-bottom: 1px; font-size: 13px; border-top: 1px solid #E0E0E0; }
.ui-detail-key { float: left; width: 170px; line-height: 24px; padding: 0 5px 0 15px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #707070; }
.ui-detail-key i { margin-right: 7px; }
.ui-detail-value { margin: 0 10px 0 170px; line-height: 21px; }
.ui-detail-note { color: gray; font-size: 11px; line-height: 13px; font-weight: normal; }
.ui-detail-password { cursor: pointer; }
.ui-detail-string, .ui-detail-password, .ui-detail-number, .ui-detail-date, .ui-detail-list, .ui-detail-file { padding: 0; }
.ui-detail-date > i { float: right; width: 18px; margin: 4px 0 0 0; text-align: right; font-size: 12px; }
.ui-detail-date > div { margin-right: 18px; }
.ui-detail-bool, .ui-detail-list, .ui-detail-color, .ui-detail-fontawesome, .ui-detail-emoji, .ui-detail-file { line-height: 22px; }
.ui-detail-bool span { width: 15px; height: 15px; display: inline-block; border: 1px solid #D0D0D0; line-height: 15px; font-size: 9px; text-align: center; margin: 4px 0 5px 0; border-radius: 2px; position: relative; color: #FFFFFF; vertical-align: top; }
.ui-detail-bool.checked span { background-color: #4285F4; border-color: #4285F4; }
.ui-detail-fontawesome, .ui-detail-emoji, .ui-detail-color { line-height: 22px; display: block; font-size: 20px; position: relative; text-align: left; margin-bottom: 2px; }
.ui-detail-list i { float: right; width: 20px; line-height: 23px; text-align: right; font-size: 12px; }
.ui-detail-list span { display: block; margin-right: 25px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-detail-color { padding: 3px 0 0; }
.ui-detail-color span b { height: 18px; display: block; border-radius: 1px; color: gray; width: 60px }

.ui-detail-small .ui-detail-value { line-height: 20px; }
.ui-detail-small .ui-detail-bool { line-height: 18px; }
.ui-detail-small .ui-detail-bool span { width: 13px; height: 13px; line-height: 12px; font-size: 7px; margin: 4px 0px 3px;  }
.ui-detail-small .ui-detail-group label { padding: 5px 8px; font-size: 13px; }
.ui-detail-small .ui-detail-item { font-size: 12px; padding: 3px 0; min-height: 24px; }
.ui-detail-small .ui-detail-key { padding-left: 8px; line-height: 20px; }
.ui-detail-small .ui-detail-color span b { height: 15px; width: 40px; }
.ui-detail-small .ui-detail-fontawesome { font-size: 14px; line-height: 16px; padding-top: 2px; }
.ui-detail-small .ui-detail-emoji { font-size: 14px; line-height: 16px; padding-top: 2px; }
.ui-detail-small .ui-detail-list { line-height: 18px; }

.ui-dark .ui-detail-group { border-color: #404040; }
.ui-dark .ui-detail-item { border-color: #404040; }
.ui-dark .ui-detail-item { background-color: #202020; }
.ui-dark .ui-detail-group label { background-color: #282828; }
.ui-dark .ui-detail-bool span { color: #202020; border-color: #404040; }
.ui-dark .ui-detail-bool.checked span { color: #FFFFFF; border-color: #4285F4; }
.ui-dark .ui-detail-note { color: #606060; }