.ui-detail-group-nolabel .ui-detail-item:first-child { border-radius: var(--radius) var(--radius) 0 0; }
.ui-detail-group:last-child, .ui-detail-group:last-child section { margin-bottom: 0; }
.ui-detail-group { padding: 0; margin-bottom: 20px; border: 1px solid #E0E0E0; border-radius: var(--radius); background-color: #FFF; }
.ui-detail-group label { display: block; padding: 10px 15px; font-size: 16px; font-weight: bold; background-color: #F8F8F8; border-bottom: 1px solid #E0E0E0; border-radius: var(--radius) var(--radius) 0 0; }
.ui-detail-group label i { width: 22px; }
.ui-detail-group label i:before { content: '\f146'; }
.ui-detail-hidden label i:before { content: '\f0fe' !important; }
.ui-detail-hidden section { display: none; }
.ui-detail-item { padding: 6px 0; background-color: #FFF; margin-bottom: 1px; font-size: 13px; border-top: 1px solid #E0E0E0; }
.ui-detail-item:first-child { border-top: 0; }
.ui-detail-note { color: gray; font-size: 11px; line-height: 13px; font-weight: normal; }
.ui-detail-password { cursor: pointer; }
.ui-detail-string, .ui-detail-password, .ui-detail-number, .ui-detail-date, .ui-detail-list, .ui-detail-file { padding: 0; }
.ui-detail-date > i { float: right; width: 18px; margin: 4px 0 0 0; text-align: right; font-size: 12px; }
.ui-detail-date > div { margin-right: 18px; }
.ui-detail-bool, .ui-detail-list, .ui-detail-color, .ui-detail-fontawesome, .ui-detail-emoji, .ui-detail-file { line-height: 22px; }
.ui-detail-bool span { width: 15px; height: 15px; display: inline-block; border: 1px solid #D0D0D0; line-height: 15px; font-size: 9px; text-align: center; margin: 4px 0 5px 0; border-radius: var(--radius); position: relative; color: #FFF; vertical-align: top; }
.ui-detail-bool.checked span { background-color: var(--color); border-color: var(--color); }
.ui-detail-fontawesome, .ui-detail-emoji, .ui-detail-color { line-height: 22px; display: block; font-size: 20px; position: relative; text-align: left; margin-bottom: 2px; }
.ui-detail-list i { float: right; width: 20px; line-height: 23px; text-align: right; font-size: 12px; }
.ui-detail-list span { display: block; margin-right: 25px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-detail-color { padding: 3px 0 0; }
.ui-detail-color span b { height: 18px; display: block; border-radius: var(--radius); color: gray; width: 60px }
.ui-detail-colorize { padding: 2px 3px; border-radius: var(--radius); color: #FFF; }

.ui-detail-style-1 .ui-detail-item { padding: 6px 0; margin-bottom: 1px; font-size: 13px; border-top: 1px solid #E0E0E0; }
.ui-detail-style-1 .ui-detail-item:first-child { border-top: 0; }
.ui-detail-style-1 .ui-detail-key { float: left; width: 170px; line-height: 24px; padding: 0 5px 0 15px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #707070; }
.ui-detail-style-1 .ui-detail-key i { margin-right: 7px; }
.ui-detail-style-1 .ui-detail-value { margin: 0 10px 0 170px; line-height: 21px; }
.ui-detail-style-2 .ui-detail-item { padding: 10px 0; background-color: #FFF; margin-bottom: 1px; font-size: 12px; border-top: 1px solid #E0E0E0; }
.ui-detail-style-2 .ui-detail-item:first-child { border-top: 0; }
.ui-detail-style-2 .ui-detail-key { line-height: 14px; padding: 0 5px 0 15px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #707070; }
.ui-detail-style-2 .ui-detail-key i { margin-right: 7px; }
.ui-detail-style-2 .ui-detail-value { margin: 0 15px; line-height: 17px; }
.ui-detail-style-2 .ui-detail-color span b { border-radius: 5px; width: 20px; }
.ui-detail-style-2 .ui-detail-fontawesome { padding-top: 5px; }
.ui-detail-style-2 .ui-detail-bool span { width: 18px; height: 18px; line-height: 18px; font-size: 12px; }
.ui-detail-style-3 { background-color: #F0F0F0; padding: 5px 0; }
.ui-detail-style-3 .ui-detail-group { background-color: #F0F0F0; border: 0; padding: 0 5px; margin-bottom: 0; }
.ui-detail-style-3 .ui-detail-group label { padding: 3px 5px 0; font-size: 12px; background-color: transparent; border: 0; }
.ui-detail-style-3 .ui-detail-group section { padding: 5px 0; }
.ui-detail-style-3 .ui-detail-item { padding: 0; margin: 1px 5px; border: none; background-color: #FFF; font-size: 12px; }
.ui-detail-style-3 .ui-detail-item:first-child { border-top: 0; border-top-left-radius: var(--radius); border-top-right-radius: var(--radius); }
.ui-detail-style-3 .ui-detail-item:last-child { border-bottom-left-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.ui-detail-style-3 .ui-detail-note { display: none; }
.ui-detail-style-3 .ui-detail-key { float: left; width: 150px; line-height: 20px; padding: 0 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #707070; }
.ui-detail-style-3 .ui-detail-key i { margin-right: 7px; }
.ui-detail-style-3 .ui-detail-value { margin: 0 10px 0 150px; line-height: 20px; border-left: 1px solid #E0E0E0; padding: 0 5px; height: 22px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ui-detail-style-3 .ui-detail-fontawesome, .ui-detail-style-3 .ui-detail-emoji, .ui-detail-style-3 .ui-detail-color { line-height: 20px; font-size: 14px; margin-bottom: 0; }
.ui-detail-style-3 .ui-detail-color span b { height: 14px; }

.ui-detail-style-4 .ui-detail-item { padding: 1px 0; margin-bottom: 1px; font-size: 13px; border-top: 0; }
.ui-detail-style-4 .ui-detail-item:first-child { border-top: 0; }
.ui-detail-style-4 .ui-detail-key { float: left; width: 170px; line-height: 20px; padding: 0 5px 0 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #999; }
.ui-detail-style-4 .ui-detail-key i { margin-right: 7px; }
.ui-detail-style-4 .ui-detail-value { margin: 0 0 0 170px; line-height: 18px; }
.ui-detail-style-4 .ui-detail-group { background-color: transparent; border: 0; padding: 0 5px; margin-bottom: 0; }
.ui-detail-style-4 .ui-detail-group label { background-color: transparent; border: 0; border-bottom: 1px solid #E0E0E0; padding: 6px 0; margin-bottom: 5px; }
.ui-detail-style-4 .ui-detail-group section { padding: 5px 0; }
.ui-detail-style-4.ui-detail-small .ui-detail-item { font-size: 12px; padding: 2px 0; min-height: 14px; }
.ui-detail-style-4.ui-detail-small .ui-detail-key { padding-left: 8px; line-height: 14px; }
.ui-detail-style-4.ui-detail-small .ui-detail-value { line-height: 14px; }

.ui-detail-small .ui-detail-value { line-height: 20px; }
.ui-detail-small .ui-detail-bool { line-height: 18px; }
.ui-detail-small .ui-detail-bool span { width: 13px; height: 13px; line-height: 12px; font-size: 7px; margin: 4px 0px 3px;  }
.ui-detail-small .ui-detail-group label { padding: 8px; font-size: 13px; }
.ui-detail-style-1.ui-detail-small .ui-detail-item { font-size: 12px; padding: 3px 0; min-height: 24px; }
.ui-detail-style-2.ui-detail-small .ui-detail-item { font-size: 12px; padding: 5px 0; min-height: 24px; }
.ui-detail-style-1.ui-detail-small .ui-detail-key { padding-left: 8px; line-height: 20px; }
.ui-detail-style-2.ui-detail-small .ui-detail-key { padding-left: 8px; }
.ui-detail-style-2.ui-detail-small .ui-detail-value { margin: 0 8px; }
.ui-detail-style-3.ui-detail-small .ui-detail-key { width: 120px; font-size: 11px; }
.ui-detail-style-3.ui-detail-small .ui-detail-value { margin-left: 120px; font-size: 11px; }
.ui-detail-style-3.ui-detail-small .ui-detail-group label { padding: 3px 5px 0; font-size: 11px; }
.ui-detail-small .ui-detail-color span b { height: 15px; width: 40px; }
.ui-detail-small .ui-detail-fontawesome { font-size: 14px; line-height: 16px; padding-top: 2px; }
.ui-detail-small .ui-detail-emoji { font-size: 14px; line-height: 16px; padding-top: 2px; }
.ui-detail-small .ui-detail-list { line-height: 18px; }

.ui-dark .ui-detail-group { border-color: #404040; background-color: #202020; }
.ui-dark .ui-detail-item { background-color: #202020; border-color: #404040; }
.ui-dark .ui-detail-group label { background-color: #282828; border-color: #404040; }
.ui-dark .ui-detail-bool span { color: #202020; border-color: #404040; }
.ui-dark .ui-detail-bool.checked span { color: #FFF; border-color: #4285F4; }
.ui-dark .ui-detail-note { color: #606060; }
.ui-dark .ui-detail-style-3 { background-color: #282828; }
.ui-dark .ui-detail-style-3 .ui-detail-group { background-color: transparent; }
.ui-dark .ui-detail-style-3 .ui-detail-group label { background-color: transparent; }
.ui-dark .ui-detail-style-3 .ui-detail-item { background-color: #333; }
.ui-dark .ui-detail-style-3 .ui-detail-key { color: #999; }
.ui-dark .ui-detail-style-3 .ui-detail-value { border-left-color: #282828; }
.ui-dark .ui-detail-style-4 .ui-detail-key { color: #999; }
.ui-dark .ui-detail-style-4 .ui-detail-group { background-color: transparent; }
.ui-dark .ui-detail-style-4 .ui-detail-group label { background-color: transparent; border-bottom-color: #404040; }