.tabmenu { border-bottom: 1px solid #D0D0D0; padding: 0; margin: 0; display: block; position: relative; }
.tabmenu li { position: relative; display: inline-block; border: 1px solid #E0E0E0; border-bottom: 0; margin: 0 0 0 10px; padding: 0; border-radius: 4px 4px 0 0; background-color: #F8F8F8; text-align: center; }
.tabmenu li:first-child { margin-left: 0; }
.tabmenu li a { display: block; padding: 12px 20px; color: silver; text-decoration: none; }
.tabmenu li a:hover { text-decoration: none; }
.tabmenu .selected { background-color: white; top: 1px; border-color: #D0D0D0; border-top: 3px solid #0E67CE; }
.tabmenu .selected a { color: #1F6BC5 !important; }
.tabmenu .fa { margin-right: 8px; }