.jsontree-tree { background-color: #f8f8f8; border-radius: var(--radius); padding: 12px; color: #000; height: 400px; overflow-y: scroll; }
.jsontree-tree .spacer { width: 25px; height: 25px; float: left; }
.jsontree-tree .treeitem { width: 100%; height: 25px; }
.jsontree-tree .treeitem > div > img { margin-left: 10px; }
.jsontree-tree .treeitem span { padding: 6px; }
.jsontree-tree .treeitem span:hover { background-color: lightblue; cursor: pointer; }
.jsontree-tree .treeitem img { height: 25px; width: 25px; }
.jsontree-textarea { height: 400px; }
.jsontree-label { padding-bottom: 10px; }
.jsontree-label > button { float:right; background: red; color: #FFF; cursor: pointer; padding: 2px 5px; outline: 0; font-size: 11px; border: 0; border-radius: 3px; }
.ti-rotate-90 { -webkit-transform: rotate(90deg); transform: rotate(90deg); }