.ui-drawer { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(100,100,100,0.5); z-index: 10; transition: 0.2s all; opacity: 0; }
.ui-drawer-nav { height: 100%; background-color: #FFF; box-shadow: 15px 0 20px rgba(0,0,0,0.05); padding: 10px 0; position: absolute; transition: 0.3s all; }
.ui-drawer-aleft .ui-drawer-nav { left: -300px; }
.ui-drawer-aright .ui-drawer-nav { right: -300px; }
.ui-drawer-atop .ui-drawer-nav { left: 0; right: 0; height: auto; width: auto; top: -1000px; }
.ui-drawer-abottom .ui-drawer-nav { left: 0; right: 0; bottom: -1000px; width: auto; height: auto; }
.ui-drawer-visible { opacity: 1; }
.ui-drawer-visible.ui-drawer-aleft .ui-drawer-nav { left: 0; }
.ui-drawer-visible.ui-drawer-aright .ui-drawer-nav { right: 0; }
.ui-drawer-visible.ui-drawer-atop .ui-drawer-nav { top: 0; }
.ui-drawer-visible.ui-drawer-abottom .ui-drawer-nav { bottom: 0; }
.ui-drawer-nav button, .ui-drawer-nav a { display: block; width: 100%; text-align: left; padding: 0 10px 0; height: 40px; text-decoration: none; border: 0; background-color: transparent; font-size: 16px; color: #606060; outline: 0; }
.ui-drawer-nav a { padding-top: 11px; }
.ui-drawer-nav hr { margin: 10px 0; }
.ui-drawer-nav button:hover, .ui-drawer-nav a:hover { background-color: rgba(0,0,0,0.05); text-decoration: none; color: #000; }
.ui-drawer .selected { background-color: rgba(0,0,0,0.07); color: #000; }
.ui-drawer-nav .ti, .ui-drawer-nav .ti { width: 25px; margin: 0 10px; }

.ui-dark .ui-drawer { background-color: rgba(0,0,0,0.5); }
.ui-dark .ui-drawer-nav { background-color: #303030; }
.ui-dark .ui-drawer-nav button, .ui-dark .ui-drawer-nav a { color: #C0C0C0; }
.ui-dark .ui-drawer-nav button:hover, .ui-dark .ui-drawer-nav a:hover { background-color: rgba(100,100,100,0.15); color: #FFF; }
.ui-dark .ui-drawer .selected { background-color: rgba(0,0,0,0.2); color: #FFF; }
