.ui-serverlist { border: 1px solid #E0E0E0; border-radius: var(--radius); font-size: 13px; background: #FFF; position: relative; }
.ui-serverlist-filter { display: flex; border-bottom: 1px solid #E0E0E0; align-items: center; height: 22px; gap: 0; background: #FFF; }
.ui-serverlist-filter:last-child { border-right: 1px solid #E0E0E0; }
.ui-serverlist-filter input { border: 0; background: transparent; outline: 0; font-size: 11px; height: 21px; padding: 0 5px; margin: 0; width: 100%; }
.ui-serverlist-filter input[readonly] { cursor: pointer; user-select: none; caret-color: transparent; }
.ui-serverlist-filter input:disabled { background: #F9F9F9 repeating-linear-gradient(45deg,#FFF,#FFF 10px,#F9F9F9 10px,#F9F9F9 20px); }
.ui-serverlist-clear { position: absolute; right: 5px; top: 4px; cursor: pointer; color: #D72727; visibility: hidden; }
.ui-serverlist-row { display: flex; border-bottom: 1px solid #E0E0E0; align-items: center; border-right: 1px solid #E0E0E0; gap: 0; }
.ui-serverlist-row-empty { border-bottom: 1px solid #F0F0F0; align-items: center; border-right: 1px solid #E0E0E0; height: 32px; }
.ui-serverlist-noscroll .ui-serverlist-rows { overflow-y: hidden; }
.ui-serverlist-noscroll .ui-scrollbar-y span { visibility: hidden; }
.ui-serverlist-items { margin-bottom: 15px; }
.ui-serverlist-rows, .ui-serverlist-header { padding-right: 15px; }
.ui-serverlist-rows { background: #FFF; }
.ui-serverlist-header { background: #F4F4F4; }
.ui-serverlist-th, .ui-serverlist-td { border: 1px solid transparent; border-left-color: #E0E0E0; height: 32px; line-height: 32px; padding: 0 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ui-serverlist-tf { border-left: 1px solid #E0E0E0; position: relative; background-color: #FFF; }
.ui-serverlist-tf-is input { padding-right: 20px; }
.ui-serverlist-tf-is { background-color: rgb(255,245,167,0.26); }
.ui-serverlist-tf-is .ui-serverlist-clear { visibility: visible; }
.ui-serverlist-th { height: 36px; line-height: 36px; font-weight: bold; }
.ui-serverlist-th > div { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ui-serverlist-th.ui-serverlist-sort > div { padding-right: 15px; }
.ui-serverlist-th:first-child, .ui-serverlist-td:first-child { border-left: 0 }
.ui-serverlist-th { background: #F4F4F4; position: relative; }
.ui-serverlist-th > div i { margin-right: 5px; color: #999; }
.ui-serverlist-rows .ui-serverlist-row:hover { background: #F8F8F8; }
.ui-serverlist-row.selected .ui-serverlist-number { visibility: visible; }
.ui-serverlist-container { overflow: scroll; -ms-overflow-style: none; scrollbar-width: none; }
.ui-serverlist-rows::-webkit-scrollbar { display: none; }
.ui-serverlist-rows { overflow: scroll; -ms-overflow-style: none; scrollbar-width: none; }
.ui-serverlist-number { width: 40px; font-size: 11px; color: #999; text-align: center; }
.ui-serverlist-checkbox { margin: 7px 0 0 7px; display: block; border: 1px solid #D0D0D0; border-radius: var(--radius); width: 16px; height: 16px; line-height: 14px; text-align: center; background: #FFF; cursor: pointer; font-size: 11px; }
.ui-serverlist-checkbox i { visibility: hidden; }
.ui-serverlist-checkboxes .ui-serverlist-number:hover em { display: block; }
.ui-serverlist-checkboxes .ui-serverlist-number:hover span { display: none; }
.ui-serverlist-item.selected .ui-serverlist-checkbox { color: var(--color); border-color: var(--color); }
.ui-serverlist-item.selected .ui-serverlist-checkbox i { visibility: visible !important; }
.ui-serverlist-item.selected .ui-serverlist-number span { display: none; }
.ui-serverlist-th-number { width: 20px; justify-content: center; text-align: center; }
.ui-serverlist-th-number i { margin-right: 0 !important; color: #000; }
.ui-serverlist-sort { cursor: pointer; }
.ui-serverlist-btn-sort { position: absolute; right: 4px; top: 0; color: #999; }
.ui-serverlist-left { text-align: left; }
.ui-serverlist-right { text-align: right; }
.ui-serverlist-center { text-align: center; }
.ui-serverlist-pagination { height: 36px; line-height: 36px; border-top: 1px solid #E0E0E0; padding: 0 5px; }
.ui-serverlist-pagination-pages { color: #999; }
.ui-serverlist-pagination-count { float: right; color: #999; }
.ui-serverlist-pagination input { width: 50px; height: 24px; line-height: 24px; outline: 0; text-align: center; border: 0; margin-right: 5px; font-size: 12px; background: #F0F0F0; border-radius: var(--radius); }
.ui-serverlist-pagination button { width: 25px; border: 0; background: #F0F0F0; transparent; padding: 0; height: 24px; border-radius: var(--radius); margin-right: 5px; line-height: 24px; }
.ui-serverlist-pagination button:hover { background: #F8F8F8; }
.ui-serverlist-pagination button:disabled, .ui-serverlist-pagination input:disabled { background: #F8F8F8; cursor: not-allowed; color: #999; }
.ui-serverlist-td.highlight { border-color: #156EE1; }
.ui-serverlist-row.highlight { background-color: rgb(255,245,167,0.26); }
.ui-serverlist-noborder { border: 0; border-radius: 0; }
.ui-serverlist-th-number em { margin: 10px 0 0 7px; border: 1px solid #D0D0D0; border-radius: var(--radius); width: 16px; height: 16px; line-height: 14px; text-align: center; background: #FFF; cursor: pointer; display: block; font-size: 11px; }
.ui-serverlist-th-number em i { visibility: hidden; }
.ui-serverlist-th-number.selected em { display: block; border-color: var(--color); }
.ui-serverlist-th-number.selected em i { visibility: visible; color: var(--color); }
.ui-serverlist-pointer .ui-serverlist-row { cursor: pointer; }
.ui-serverlist-checkboxes .ui-serverlist-th-number { width: 40px; }