.ui-viewbox { overflow: hidden; -ms-overflow-style: none; box-sizing: content-box }
.ui-viewbox-scroll .ui-viewbox-body { overflow-y: scroll; overflow-scrolling: touch; }
.ui-viewbox-disabled { z-index: 5; position: absolute; background-color: rgba(255,255,255,0.8); }
.ui-viewbox-hidden { visibility: hidden; }