.ui-stats12 { border-radius: var(--radius) var(--radius) 0 0; }
.ui-stats12-border { border: 1px solid #E0E0E0; }
.ui-stats12-container { display: table; width: 100%; table-layout: fixed; }
.ui-stats12-body { padding: 1px 0; }
.ui-stats12-border .ui-stats12-bar { border-left: 1px solid #F0F0F0; }
.ui-stats12-border .ui-stats12-body { padding: 0; }
.ui-stats12-border .ui-stats12-bar:first-child { border-left: 0 !important; }
.ui-stats12-border .ui-stats12-bar { padding: 0 2px 2px; }
.ui-stats12-bar { display: table-cell; vertical-align: bottom; padding: 0 1px 1px; width: 4.16%; font-size: 9px; text-align: center; color: gray; }
.ui-stats12-bar div { background-color: #D0D0D0; border-radius: var(--radius) var(--radius) 0 0; position: relative; text-align: left; color: gray; }
.ui-stats12-bar:hover { opacity: 0.8; }
.ui-stats12-bar div span { position: absolute; top: 3px; width: 100%; text-align: center; border-bottom: 1px solid #E0E0E0; padding: 0 0 1px 0; }
.ui-stats12-bar div.online { background-color: #4584F1 !important; color: #FFF; }
.ui-stats12-bar div.online span { border-bottom-color: #6398F4 !important; }
.ui-stats12-bar > span { background-color: #3D6ECC; padding: 1px 0; display: block; color: #FFF; font-weight: bold; }
.ui-stats12-bar div.now { background-color: red !important; }
.ui-stats12-bar div.now span { border-bottom-color: red !important; }

.ui-dark .ui-stats12-border { border-color: #404040; }
.ui-dark .ui-stats12-bar div { background-color: #404040; }
.ui-dark .ui-stats12-bar div span { border-bottom-color: #606060; }
.ui-dark .ui-stats12-border .ui-stats7-bar { border-left: 1px solid #404040; }