.ui-donutchart { position: relative; }
.ui-donutchart-tooltip { position: absolute; left: 50%; text-align: center; width: 60%; margin: -8% 0 0 -30%; top: 50%; }
.ui-donutchart .piece { transition: stroke-width 0.2s; }
.ui-donutchart .piece1 { stroke: #3182BD; fill: none; }
.ui-donutchart .piece2 { stroke: #FD8D3C; fill: none; }
.ui-donutchart .piece3 { stroke: #74C476; fill: none; }
.ui-donutchart .piece4 { stroke: #9E9AC8; fill: none; }
.ui-donutchart .piece5 { stroke: #969696; fill: none; }
.ui-donutchart .selected {}