.ui-tagger { margin-top: 5px; }
.ui-tagger-item { position: relative; margin: 8px 8px 0 0; font-size: 11px; background-color: #F0F0F0; padding: 0; color: #000; display: inline-block; line-height: 14px; font-size: 12px; height: 22px; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ui-tagger-item span { padding: 4px 8px; position: relative; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-tagger-item i { width: 22px; float: left; height: 22px; padding: 5px 0 0; text-align: center; background-color: #303030; cursor: pointer; color: #FFF; font-size: 10px; }
.ui-tagger-fullwidth .ui-tagger-item { display: block; max-width: inherit; margin: 0 0 1px; }
.ui-dark .ui-tagger-item i { background-color: #707070; }
.ui-dark .ui-tagger-item { background-color: #404040; color: silver; }
.ui-tagger-item .ti.ti-times { transform: scale(1); font-size: 12px; font-weight: bold; }