.ui-directory { position: absolute; opacity: 0; transition: 0.25s transform cubic-bezier(0.23, 1, 0.32, 1); left: -100; top: -100; z-index: 100; box-shadow: 0 1px 20px rgba(0,0,0,0.1); background-color: white; border-radius: 3px; border: 1px solid #E0E0E0; overflow: hidden; }
.ui-directory-search { height: 38px; background: white; border-radius: 3px 3px 0 0; border-bottom: 1px solid #E0E0E0; line-height: 22px; }
.ui-directory-search input { width: 100%; background-color: white; border: 0; font-size: 12px; outline: 0; padding: 0; margin: 0; line-height: 16px; outline: 0; }
.ui-directory-search > div { margin: 0 20px 0 35px; padding: 6px 10px 0 0; line-height: 24px; }
.ui-directory-search > span { float: left; width: 16px; text-align: center; padding: 8px 0 0 12px; font-size: 12px; }
.ui-directory-add { float: right !important; padding-left: 0 !important; color: gray; text-align: left !important; font-size: 11px !important; cursor: pointer; width: 22px !important; }
.ui-directory-add:hover { color: black; }
.ui-directory-search .fa-times { color: red; cursor: pointer; }
.ui-directory-visible { opacity: 1; }
.ui-directory-container { height: 150px; overflow-x: hidden; overflow-y: auto; overflow-scrolling: touch; margin: 0 30px 0 0; padding: 0; }
.ui-directory ul { list-style-type: none; margin: 0; padding: 0; }
.ui-directory .selected { background-color: #F0F0F0; color: black; }
.ui-directory li { border-top: 1px solid #F0F0F0; font-size: 12px; padding: 3px 10px; background-color: white; cursor: pointer; margin: 0; line-height: 16px; }
.ui-directory li:first-child { border-top: 0; }

.ui-dark .ui-directory { background-color: #303030; border-color: #404040; box-shadow: 1px 5px 10px rgba(0,0,0,0.2); }
.ui-dark .ui-directory-search { background: #303030; }
.ui-dark .ui-directory li { background-color: #303030; border-color: #404040; }
.ui-dark .ui-directory-search { border-bottom-color: #404040; }
.ui-dark .ui-directory-search input { background-color: #303030; }
.ui-dark .ui-directory-add:hover { color: white; }
.ui-dark .ui-directory .selected { background-color: #404040; color: white; }