input:-ms-input-placeholder, input:-webkit-input-placeholder, input:-moz-input-placeholder { color: silver; }
input[type="text"]:disabled, input[type="password"]:disabled, select:disabled { background-color: #F0F0F0; cursor: not-allowed; color: silver; }
.ui-textbox-container * { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.ui-textbox { border: 1px solid #E0E0E0; padding: 5px 2px 5px 5px; border-radius: 2px; position: relative; width: 100%; background-color: white; display: table; }
.ui-textbox input { display: table-cell; border: 0; outline: 0; font: normal 14px Arial; color: black; width: 100%; background-color: white; }
.ui-textbox div { width: 1%; position: relative; vertical-align: middle; display: table-cell; text-align: center; white-space: nowrap; text-overflow: clip; border-left: 1px solid #E0E0E0; width: 30px; color: silver; }
.ui-textbox .fa-times { color: red; cursor: pointer; }
.ui-textbox-label { margin-bottom: 5px; font-size: 12px; color: #656D78; text-align: left; }
.ui-textbox-label .fa { width: 14px; }
.ui-textbox-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-textbox-invalid { border-color: #E1A1A1 !important; background-color: #FFF3F3 !important; }
.ui-textbox-invalid input { background-color: #FFF3F3 !important; }
.ui-textbox .fa-caret-up, .ui-textbox .fa-caret-down { display:block; line-height:9px; cursor: pointer; }

.ui-right { text-align: right; }
.ui-center { text-align: center; }
.ui-disabled { background-color: #F0F0F0; cursor: not-allowed; }
.ui-disabled > div { background-color: #F0F0F0; }