input:-ms-input-placeholder, input:-webkit-input-placeholder, input:-moz-input-placeholder { color: silver; }
input[type="text"]:disabled, input[type="password"]:disabled { background-color: #F0F0F0; cursor: not-allowed; color: silver; }
input:invalid { box-shadow: none; }

.ui-textbox-container * { box-sizing: border-box; }
.ui-textbox { height: 32px; border: 1px solid #E0E0E0; border-radius: 2px; position: relative; width: 100%; background-color: white; display: table; }
.ui-textbox-input { display: table-cell; padding: 8px 2px 0 5px; }
.ui-textbox-input input { font: normal 14px Arial; border: 0; outline: 0; color: black; width: 100%; background-color: white; margin: 0; padding: 0; appearance: none; border-radius: 0; vertical-align: top; }
.ui-textbox-control { position: relative; vertical-align: middle; display: table-cell; text-align: center; white-space: nowrap; text-overflow: clip; border-left: 1px solid #E0E0E0; width: 32px; color: black; }
.ui-textbox .fa-times { color: red; cursor: pointer; }
.ui-textbox-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-textbox-label .fa { margin-right: 5px; }
.ui-textbox-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-textbox-label .fa { margin-right: 5px; }
.ui-textbox-required .ui-textbox-label { font-weight: bold; }
.ui-textbox-required .ui-textbox-label:before { color: red; content: '***'; margin-right: 5px; }
.ui-textbox-required .ui-textbox-control { border-color: #D0D0D0; }
.ui-textbox-required .ui-textbox { border-color: #D0D0D0; }
.ui-textbox-invalid .ui-textbox { border-color: #E1A1A1 !important; background-color: #FFF3F3 !important; }
.ui-textbox-invalid input { background-color: #FFF3F3 !important; }
.ui-textbox-invalid .ui-textbox-control { border-color: #E1A1A1 !important; }
.ui-textbox .fa-caret-up, .ui-textbox .fa-caret-down { display: block; line-height: 9px; cursor: pointer; }
.ui-textbox .fa-calendar { cursor: pointer; }
.ui-textbox-helper { margin-top: 8px; font-size: 11px; color: red; text-align: left; display: none; }
.ui-textbox-helper-show { display: block; }
.ui-textbox-container.ui-disabled .ui-textbox { background-color: #F0F0F0; cursor: not-allowed; }
.ui-textbox-container.ui-disabled .ui-textbox input { background-color: #F0F0F0; }

.ui-right { text-align: right; }
.ui-center { text-align: center; }

/* DARK MODE */
.ui-dark input:-ms-input-placeholder, .ui-dark input:-webkit-input-placeholder, .ui-dark input:-moz-input-placeholder { color: #707070; }
.ui-dark input[type="text"]:disabled, .ui-dark input[type="password"]:disabled { background-color: #282828; color: #707070; }

.ui-dark .ui-textbox { border-color: #3A3A3A; background-color: #202020; }
.ui-dark .ui-textbox-input input { color: white; background-color: #202020; }
.ui-dark .ui-textbox-control { border-left-color: #3A3A3A; color: white; }
.ui-dark .ui-textbox .fa-times { color: red; }
.ui-dark .ui-textbox-required .ui-textbox-label:before { color: red; }
.ui-dark .ui-textbox-required .ui-textbox-control { border-color: #303030; }
.ui-dark .ui-textbox-required .ui-textbox { border-color: #303030; }
.ui-dark .ui-textbox-invalid .ui-textbox { border-color: red !important; background-color: #202020 !important; }
.ui-dark .ui-textbox-invalid .ui-textbox input { background-color: #202020 !important; }
.ui-dark .ui-textbox-invalid .ui-textbox-control { border-color: red !important; background-color: #202020 !important; }
.ui-dark .ui-textbox-container.ui-disabled .ui-textbox { background-color: #282828; }
.ui-dark .ui-textbox-container.ui-disabled .ui-textbox input { background-color: #282828; }
