.ui-dropdownlist label { margin-bottom: 3px; font-size: 12px; color: #777; display: block; }
.ui-dropdownlist label i { margin-right: 5px; }
.ui-dropdownlist-required label:before { content: '*'; color: red; margin-right: 3px; }
.ui-dropdownlist-values { border: 1px solid #E0E0E0; border-radius: var(--radius); }
.ui-dropdownlist-required .ui-dropdownlist-values { border-color: #D0D0D0; }
.ui-dropdownlist-add { height: 34px; line-height: 33px; padding: 0 0 0 10px; font-size: 12px; color: #777; cursor: pointer; display: block; border-radius: var(--radius) var(--radius) 0 0; }
.ui-dropdownlist-empty { font-size: 11px; padding: 10px 0; color: #777; text-align: center; }
.ui-disabled .ui-dropdownlist-add, .ui-dropdownlist-limited .ui-dropdownlist-add { background-color: #F0F0F0; cursor: not-allowed; }
.ui-dropdownlist-control { float: right; width: 34px; height: 34px; line-height: 34px; text-align: center; border-left: 1px solid #E0E0E0; color: #000; cursor: pointer; }
.ui-dropdownlist-required .ui-dropdownlist-control { border-left-color: #D0D0D0; }
.ui-dropdownlist-item { line-height: 33px; height: 34px; border-top: 1px solid #E0E0E0; font-size: 12px; color: #000 }
.ui-disabled .ui-dropdownlist-item { background-color: #F8F8F8; color: #777; }
.ui-disabled .ui-dropdownlist-item .ui-dropdownlist-control { display: none; }
.ui-dropdownlist-required .ui-dropdownlist-item { border-top-color: #D0D0D0; }
.ui-dropdownlist-item .ui-dropdownlist-control { color: red; }
.ui-dropdownlist-item .name { margin-right: 34px; line-height: 33px; padding: 0 5px 0 10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-dropdownlist-item .name i { width: 14px; position: relative; display: inline-block; margin-right: 5px; text-align: center; }
.ui-dropdownlist-item .remove { width: 26px; float: right; text-align: center; line-height: 26px; color: red; cursor: pointer; }

.ui-dark .ui-dropdownlist label { color: #777; }
.ui-dark .ui-dropdownlist-required label:before { color: red; }
.ui-dark .ui-dropdownlist-values { border-color: #404040; }
.ui-dark .ui-dropdownlist-required .ui-dropdownlist-values { border-color: #505050; }
.ui-dark .ui-dropdownlist-add { color: #777; }
.ui-dark .ui-dropdownlist-empty { color: #777; }
.ui-dark .ui-disabled .ui-dropdownlist-add, .ui-dark .ui-dropdownlist-limited .ui-dropdownlist-add { background-color: #282828; }
.ui-dark .ui-dropdownlist-control { border-left-color: #404040; color: #777; }
.ui-dark .ui-dropdownlist-required .ui-dropdownlist-control { border-left-color: #505050; }
.ui-dark .ui-dropdownlist-item { border-top-color: #404040; color: #E0E0E0; }
.ui-dark .ui-disabled .ui-dropdownlist-item { background-color: #323232; color: #777; }
.ui-dark .ui-dropdownlist-required .ui-dropdownlist-item { border-top-color: #505050; }
.ui-dark .ui-dropdownlist-item .ui-dropdownlist-control { color: red; }
.ui-dark .ui-dropdownlist-item .remove { color: red; }