.ui-notification-container { position: fixed; right: 0; top: 0; width: 280px; z-index: 100; padding: 0 20px 0 0; }
.ui-notification { background-color: white; box-shadow: 0 3px 20px rgba(0,0,0,0.2); border-radius: 4px; border: 1px solid #D0D0D0; border-left-width: 5px; border-left-color: black; font-size: 12px; padding: 15px 15px 15px 10px; margin-top: 20px; position: relative; display: block; transition: 0.5s all; }
.ui-notification > i { position: absolute; right: 12px; top: 10px; color: #DB2724; font-size: 14px; cursor: pointer; }
.ui-notification > i:active { top: 11px; }
.ui-notification > i:hover { color: #DB2724; }
.ui-notification-icon { float: left; font-size: 11px; color: #AAB2BD; margin-right: 5px; }
.ui-notification-message { margin: 1px 0 0 10px; color: gray; max-height: 150px; line-height: 16px; }
.ui-notification-datetime { font-size: 11px; color: #A0A0A0; margin-bottom: 4px; }
.ui-notification-hide { opacity: 0; margin-top: -50px; }

@media(max-width: 767px) {
  .ui-notification-container { width: auto; left: 0; padding-left: 20px; }
}