.ui-restart { position: absolute; }
.ui-restart a { display: block; background-color: #E73323; color: #FFF; padding: 5px 10px; border-radius: var(--radius); font-size: 11px; border-bottom: 1px solid rgba(0,0,0,0.2); }
.ui-restart i { margin-right: 5px; }