.ui-emojibutton.ui-disabled { cursor: not-allowed !important; opacity: 0.6; border-color: #E0E0E0 !important; }
.ui-emojibutton { border: 1px solid #E0E0E0; height: 32px; border-radius: var(--radius); cursor: pointer; background-color: #FFF; color: #000; }
.ui-emojibutton-icon { height: 24px; margin: 0 32px 0 0; line-height: 32px; font-size: 20px; text-align: center; }
.ui-emojibutton:hover { border-color: #D0D0D0; }
.ui-emojibutton-arrow { width: 32px; float: right; display: block; text-align: center; line-height: 31px; height: 31px; border-left: 1px solid #E0E0E0; }

.ui-dark .ui-emojibutton.ui-disabled { border-color: #404040 !important; }
.ui-dark .ui-emojibutton { border-color: #404040; background-color: #303030; color: #FFF; }
.ui-dark .ui-emojibutton-arrow { border-left-color: #404040; }
.ui-dark .ui-emojibutton:hover { border-color: #505050; }