.ui-keyvalue-label { margin-bottom: 5px; font-size: 12px; }
.ui-keyvalue-label i { margin-right: 5px; }
.ui-keyvalue-items > div:first-child { border-radius: var(--radius) var(--radius) 0 0; }
.ui-keyvalue-item { height: 32px; background-color: #FFF; border: 1px solid #E0E0E0; border-bottom: 0; }
.ui-keyvalue-item-remove { float: right; width: 32px; height: 32px; border-left: 1px solid #E0E0E0; text-align: center; color: #DA4453; font-size: 14px; }
.ui-keyvalue-item-key { height: 31px; padding: 3px 0 4px 0; float: left; width: 200px; border-right: 1px solid #E0E0E0; font-weight: bold; background-color: #F8F8F8; }
.ui-keyvalue-item-value { padding: 3px 0 0 0; margin: 0 32px 0 202px; }
.ui-keyvalue-item i { cursor: pointer; display: block; padding: 8px 0 0 0; }
.ui-keyvalue-item i:active { margin-top: 1px; }
.ui-keyvalue-item input { width: 100%; background-color: transparent; border: 0; padding: 3px 10px 0; outline: 0; font-size: 13px; color: #000; }
.ui-keyvalue-item:first-child .ui-keyvalue-item-key { border-top-left-radius: var(--radius); }
.ui-keyvalue-base .ui-keyvalue-item-remove { display: none; }
.ui-keyvalue-base { border-radius: 0 0 var(--radius) var(--radius); border-bottom: 1px solid #E0E0E0; }
.ui-keyvalue-base .ui-keyvalue-item-key { height: 30px; border-bottom-left-radius: var(--radius); }
.ui-keyvalue.ui-disabled input { color: #777; cursor: not-allowed; }
.ui-keyvalue.ui-disabled i { display: none; }
.ui-keyvalue .ui-keyvalue-base { border-radius: var(--radius); }

.ui-dark .ui-keyvalue-item { background-color: #202020; border-color: #444; }
.ui-dark .ui-keyvalue-item-remove { border-left-color: #444; color: #DA4453; }
.ui-dark .ui-keyvalue-item-key { border-right-color: #444; background-color: #282828; }
.ui-dark .ui-keyvalue-item input { background-color: transparent; color: #FFF; }
.ui-dark .ui-keyvalue-base { border-bottom-color: #444; }
.ui-dark .ui-keyvalue.ui-disabled input { color: #777; }