.ui-keyvalue-label { margin-bottom: 5px; font-size: 12px; }
.ui-keyvalue-label .fa { margin-right: 5px; }
.ui-keyvalue-items > div:first-child { border-radius: 2px 2px 0 0; }
.ui-keyvalue-item { height: 32px; background-color: white; border-radius: 2px; border: 1px solid #E0E0E0; border-bottom: 0; }
.ui-keyvalue-item-remove { float: right; width: 32px; height: 32px; border-left: 1px solid #E0E0E0; text-align: center; color: #DA4453; font-size: 14px; }
.ui-keyvalue-item-key { height: 31px; padding: 3px 0 4px 0; float: left; width: 200px; border-right: 1px solid #E0E0E0; font-weight: bold; }
.ui-keyvalue-item-value { padding: 3px 0 0 0; margin: 0 32px 0 202px; }
.ui-keyvalue-item .fa { cursor: pointer; display: block; padding: 8px 0 0 0; }
.ui-keyvalue-item .fa:active { margin-top: 1px; }
.ui-keyvalue-item input { width: 100%; background-color: transparent; border: 0; padding: 2px 10px 0; outline: 0; font-size: 14px; color: black; }
.ui-keyvalue-base .ui-keyvalue-item-remove { display: none; }
.ui-keyvalue-base { border-radius: 0 0 2px 2px; border-bottom: 1px solid #E0E0E0; }
.ui-keyvalue.ui-disabled input { color: gray; cursor: not-allowed; }
.ui-keyvalue.ui-disabled .fa { display: none; }
.empty .ui-keyvalue-base { border-radius: 2px; }