.ui-checkpath { z-index: 1000; position: fixed; padding: 15px 10px; text-align: left; border-radius: var(--radius); background-color: #fff; font-size: 12px; box-shadow: 0px 8px 8px rgba(0,0,0,0.05); border: 1px solid #E0E0E0; }
.ui-checkpath-1 { top: 30px; right: 30px; }
.ui-checkpath-2 { bottom: 30px; right: 30px; }
.ui-checkpath-3 { bottom: 30px; left: 30px; }
.ui-checkpath-4 { top: 30px; left: 30px; }
.ui-checkpath > i { float: left; height: 50px; width: 40px; font-size: 30px; text-align: center; line-height: 50px; color: var(--color); }
.ui-checkpath > div { margin-left: 50px; height: 18px; }
.ui-checkpath > div > span { float: left; max-width: 400px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-left: 15px; }
.ui-checkpath > div > span > span { margin-right: 5px; background-color: #F0F0F0; padding: 2px 3px; border-radius: var(--radius); }
.ui-checkpath > div .fa-copy { float: right; margin: 2px 0 0 10px; cursor: pointer; transition: all 0.2s; }
.ui-checkpath > div b { width: 70px; float: left; }
.ui-checkpath-animate { transform: scale(1.3); }

.ui-dark .ui-checkpath { background: #333; box-shadow: 0px 8px 8px rgba(0,0,0,0.1); border-color: #404040; }