.ui-switchbutton *:focus { outline: none; }
.ui-switchbutton { display: flex; align-items: center; min-height: 60px; }
.ui-switchbutton > .ui-switchbutton-label { order: 1; margin-left: 15px; font-size: 12px; color: #6A7280; cursor: pointer; }
.ui-switchbutton > .ui-switchbutton-label > span { font-weight: 700; font-size: 14px; display: block; }
.ui-switchbutton label { position: relative; display: inline-block; cursor: pointer; user-select: none; min-width: 40px; height: 20px; }
.ui-switchbutton label > input { opacity: 0; }
.ui-switchbutton label > .ui-switchbutton-slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #FFF; border: 1px solid #E0E0E0; border-radius: 12px; transition: background-color 0.4s, transform 0.4s; }
.ui-switchbutton label > .ui-switchbutton-slider:before { position: absolute; content: ""; height: 14px; width: 14px; border-radius: 50%; left: 2px; bottom: 2px; background-color: #F8F8F8; border: 1px solid #E0E0E0; transition: background-color 0.4s, transform 0.4s; }
.ui-switchbutton-checked label > .ui-switchbutton-slider { background-color: #4285F4; border-color: #4285F4; }
.ui-switchbutton-checked label > .ui-switchbutton-slider:before { background-color: #ffffff; border-color: #FFF; transform: translateX(20px); }
.ui-switchbutton-checked > .ui-switchbutton-label > span { color: black; }
.ui-switchbutton-focused label > .ui-switchbutton-slider { border-color: rgba(66,133,244, 0.5); box-shadow: 0 0 0px 4px rgba(66,133,244, 0.2); }
.ui-switchbutton-focused.ui-switchbutton-invalid label > .ui-switchbutton-slider { border-color: rgba(236, 44, 40, 0.5); box-shadow: 0 0 0px 4px rgba(236, 44, 40, 0.2); }
.ui-switchbutton-invalid label > .ui-switchbutton-slider { border-color: #EC2C28; }
.ui-switchbutton.ui-disabled > .ui-switchbutton-label { color: #C0C0C0; cursor: not-allowed; }
.ui-switchbutton.ui-disabled label > .ui-switchbutton-slider { background-color: #F8F8F8; border-color: #E0E0E0; cursor: not-allowed; }
.ui-switchbutton.ui-disabled label > .ui-switchbutton-slider:before { background-color: #E0E0E0; border-color: #E0E0E0; }
.ui-switchbutton.ui-disabled > .ui-switchbutton-label > span { color: #C0C0C0; }
.ui-switchbutton-align-right { justify-content: space-between; }
.ui-switchbutton-align-right > label { order: 2; }
.ui-switchbutton-align-right .ui-switchbutton-label { order: 1; margin-left: 0; margin-right: 15px; }
.ui-switchbutton-border { border-bottom: 1px solid #E0E0E0; }

.ui-dark .ui-switchbutton > .ui-switchbutton-label { color: #e0e0e0; }
.ui-dark .ui-switchbutton-checked > .ui-switchbutton-label > span { color: #FFF; }
.ui-dark .ui-switchbutton label > .ui-switchbutton-slider:before { background-color: #666; border-color: #888; }
.ui-dark .ui-switchbutton-checked label > .ui-switchbutton-slider:before { background-color: #ffffff; border-color: #FFF; }
.ui-dark .ui-switchbutton.ui-disabled label > .ui-switchbutton-slider:before { background-color: #E0E0E0; border-color: #E0E0E0; }