.bg-smoke { background-color: #F8F8F8; }
.ui-dark .bg-smoke { background-color: #282828; }

.panel { background-color: #FFF; border-radius: var(--radius); border: 1px solid #E0E0E0; }
.panel > .toolbar { float: right; margin: 10px 10px 0 10px; }
.panel > .toolbar button { height: 22px; line-height: 20px; min-width: 60px; }
.panel > label { display: block; padding: 10px 10px; border-bottom: 1px solid #E0E0E0; font-size: 15px; color: #000; font-weight: bold; border-radius: var(--radius) var(--radius) 0 0; }
.panel > label i { margin-right: 7px; }
.panel .padding { padding: 15px 10px; }
.ui-dark .panel { background-color: #202020; border-color: #404040; }
.ui-dark .panel > label { border-bottom-color: #404040; color: #FFF; }

.toolbar { height: 26px; }
.toolbar button { outline: 0; background: #FFF; border: 1px solid #E0E0E0; border-left: 0; font-size: 11px; height: 26px; padding: 0 8px; color: #000; min-width: 80px; text-align: center; vertical-align: top; background-color: #FFF; line-height: 24px; float: left; text-align: center !important; }
.toolbar button i { margin-right: 5px; }
.toolbar button .fa-plus-circle, .toolbar button .fa-check-circle { color: #68B25B; }
.toolbar button:first-child { border-left: 1px solid #E0E0E0; border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); }
.toolbar button:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }
.toolbar button:hover { border-color: #D0D0D0; }
.toolbar button:active { background: #F0F0F0; color: #888; border-color: #DFDFDF; }
.toolbar button:disabled { color: silver; cursor: not-allowed; border-color: #E0E0E0 !important; background: #F8F8F8; }
.toolbar button:disabled i { color: silver !important; }
.toolbar button.right { float: right; margin-left: 5px; margin-right: 0; text-align: center; }

.ui-dark .toolbar button { background: #202020; border-color: #333; color: #C0C0C0; }
.ui-dark .toolbar button:first-child { border-left-color: #333; }
.ui-dark .toolbar button:hover { border-color: #404040; color: #FFF; }
.ui-dark .toolbar button:active { background: #222; color: #A0A0A0; border-color: #333; }
.ui-dark .toolbar button:disabled { color: #666; border-color: #404040 !important; background: #303030; }
.ui-dark .toolbar button:disabled i { color: #666 !important; }

.toolbar-bg { height: 44px; background-color: #F0F0F0; padding: 10px 10px 0; }
.ui-dark .toolbar-bg { background-color: #282828; }

.nav { background-color: #F0F0F0; }
.nav nav { padding: 10px 5px; display: block; }
.nav nav > div, .nav nav > a { display: block; height: 30px; margin: 0 5px 2px; line-height: 30px; padding: 0 10px; border-radius: var(--radius); cursor: pointer; font-size: 13px; color: #888; border: 0; text-decoration: none !important; }
.nav nav > div > i, .nav nav > a i { width: 14px; text-align: center; margin-right: 10px; }
.nav nav > div:hover, .nav nav > a:hover { background-color: rgba(0,0,0,0.05); color: #000; text-decoration: none !important; }
.nav nav > div.ui-disabled, .nav nav > a.ui-disabled, .nav nav > div.disabled, .nav nav > a.disabled { cursor: not-allowed; color: #C0C0C0; background-color: transparent !important; }
.nav nav .selected { background-color: rgba(100,100,100,0.1); color: #000; }
.nav label { font-size: 12px; color: #999; display: block; margin: 0 15px 10px; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.nav label i { margin-right: 5px; }

.ui-dark .nav { background-color: #282828; }
.ui-dark .nav nav > div, .ui-dark .nav nav > a { color: #999; }
.ui-dark .nav nav > div:hover { background-color: rgba(255,255,255,0.05); color: #FFF; }
.ui-dark .nav nav > div.ui-disabled, .ui-dark .nav nav > a.ui-disabled, .ui-dark .nav nav > div.disabled, .ui-dark .nav nav > a.disabled { color: #555; background-color: transparent !important; }
.ui-dark .nav nav .selected { background-color: rgba(255,255,255,0.1); color: #FFF; }
.ui-dark .nav label { color: #777; }

.listing { z-index: 2; position: relative; overflow: hidden; }
.listing figure { cursor: pointer; }
.listing figure > section { margin: -1px 10px 0; border-bottom: 1px solid #E0E0E0; padding: 10px 0; }
.listing figure:first-child section { margin-top: 0; }
.listing figure.selected { background-color: #F8F8F8; border-radius: var(--radius); }
.listing figure:hover { background-color: #F0F0F0; border-radius: var(--radius); }
.listing figure.selected > section, .listing figure:hover > section { border-bottom-color: transparent !important; }
.listing figure:last-child > section { border-bottom-color: transparent; }

.ui-dark .listing figure > section { border-color: #303030; }
.ui-dark .listing figure.selected { background-color: #272727; }
.ui-dark .listing figure:hover { background-color: #303030; }
.ui-dark .listing figure:last-child > section { border-bottom-color: transparent; }

.listing2 figure { cursor: pointer; background-color: rgba(0,0,0,0.05); margin-bottom: 2px; border-radius: var(--radius); }
.listing2 figure > section { padding: 10px; }
.listing2 figure:first-child section { margin-top: 0; }
.listing2 figure.selected { background-color: rgba(0,0,0,0.09); }
.listing2 figure:hover { background-color: rgba(0,0,0,0.08); }
.listing2 figure.selected > section, .listing2 figure:hover > section { border-bottom-color: transparent !important; }
.listing2 figure:last-child > section { border-bottom-color: transparent; }

.ui-dark .listing2 figure { background-color: rgba(100,100,100,0.1); }
.ui-dark .listing2 figure.selected { background-color: rgba(120,120,120,0.2); }
.ui-dark .listing2 figure:hover { background-color: rgba(150,150,150,0.2); }

.configuration { background-color: #FFF; border-radius: var(--radius); border: 1px solid #E0E0E0; }
.configuration p { margin: 0 0 15px 0; font-size: 13px; padding: 0; color: #666; }
.configuration > section > .toolbar { float: right; margin: 10px 10px 0 10px; }
.configuration > section > .toolbar button { height: 22px; line-height: 20px; min-width: 60px; }
.configuration > section label { display: block; padding: 10px; font-size: 15px; color: #000; font-weight: bold; border-top: 1px solid #E0E0E0; }
.configuration > section label i { margin: 3px 6px 0 0; width: 15px; text-align: center; float: left; }
.configuration > section:first-child label { border-top: 0; border-radius: var(--radius) var(--radius) 0 0; }
.configuration > section > article { border-top: 1px solid #E0E0E0; }
.configuration > section:first-child article:first-child { border-top: 0; border-radius: var(--radius) var(--radius) 0 0; }
.configuration .padding { padding: 15px 10px; }
.configuration > .toolbar { float: right; margin: 10px 10px 0 10px; }
.configuration > .toolbar button { height: 22px; line-height: 20px; min-width: 60px; }

.ui-dark .configuration p { color: #A0A0A0; }
.ui-dark .configuration { background-color: #202020; border-color: #404040; }
.ui-dark .configuration > section:first-child label { border-top-color: #404040; }
.ui-dark .configuration > section > article { border-top-color: #404040; }
.ui-dark .configuration > section label { color: #FFF; border-top-color: #404040; }

.message { padding: 10px; border: 2px solid #E0E0E0; border-radius: var(--radius); font-size: 12px; margin-bottom: 10px; }
.message i { margin-right: 5px; }
.message-error { border-color: #D63A32; color: #A72C26; }
.message-alert { border-color: #DEBA31; color: #8c7727; }
.message-success { border-color: #68B25B; color: #4A7543; }

.ui-dark .message { border-color: #666; color: #999; }
.ui-dark .message-error { border-color: #D63A32; color: #DC7772; }
.ui-dark .message-alert { border-color: #DEBA31; color: #D2BA62; }
.ui-dark .message-success { border-color: #68B25B; color: #6DAD63; }

.badge { font-size: 12px; padding: 4px 6px; border-radius: var(--radius); background-color: var(--color); line-height: 12px; vertical-align: middle; margin-top: -2px; position: relative; display: inline-block; color: #FFF; }
.badge i { margin-right: 3px; }
.badge-blue { background-color: #0E68A6; }
.badge-red { background-color: #D63B32; }
.badge-green { background-color: #8CC152; }
.badge-yellow { background-color: #EFDC05; }
.badge-orange { background-color: #F49519; }
.badge-gray { background-color: #606060; }
.badge-purple { background-color: #967ADC; }
.badge-pink { background-color: #D770AD; }
.badge-silver { background-color: #E0E0E0; color: gray; }
.badge-large, .badge.large { padding: 3px 8px; font-size: 14px; line-height: 16px; }
.badge-large i, .badge.large i { margin-right: 5px; }
.badge-small, .badge.small { font-size: 10px; padding: 0px 3px 1px; }
.badge-medium, .badge.medium { font-size: 11px; padding: 2px 6px; }
.badge-medium i, .badge.medium i { margin-right: 5px; }
.ui-dark .badge-silver { background-color: #666; color: #FFF; }

.caption > .toolbar { float: right; margin: 10px 0 0 10px; }
.caption > .toolbar button { height: 22px; line-height: 20px; min-width: 60px; }
.caption > label { display: block; padding: 10px 0; border-bottom: 1px solid #E0E0E0; font-size: 15px; color: #000; font-weight: bold; }
.caption > label i { margin-right: 7px; }
.ui-dark .caption > label { border-bottom-color: #404040; color: #FFF; }

.keyvalue.small { font-size: 11px; min-height: 14px; line-height: 14px; }
.keyvalue.small > span i { width: 12px; }
.keyvalue.small > div i { width: 12px; }
.keyvalue.small .badge { padding: 2px 4px; }
.keyvalue.small .badge.small { padding: 0 3px 1px; }
.keyvalue { min-height: 20px; font-size: 13px; margin-bottom: 2px; line-height: 17px; }
.keyvalue > span { width: 120px; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #777; }
.keyvalue > span i { width: 14px; margin-right: 5px; }
.keyvalue > div { margin-left: 120px; }
.keyvalue > div i { width: 14px; margin-right: 5px; }

p { font-size: 13px; color: #777; margin: 0 0 15px 0; }

.iconmenu { height: 54px; text-align: center; }
.iconmenu i { font-size: 20px; display: block; padding: 8px 0 0; }
.iconmenu span { font-size: 11px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 3px 5px 0; color: #777; }
.iconmenu > div.selected { background-color: rgba(0,0,0,0.07); }
.iconmenu > div { height: 54px; width: 75px; border: 1px solid #E0E0E0; border-left-width: 0; float: left; cursor: pointer; }
.iconmenu > div:first-child { border-left-width: 1px; border-top-left-radius: var(--radius); border-bottom-left-radius: var(--radius); }
.iconmenu > div:last-child { border-top-right-radius: var(--radius); border-bottom-right-radius: var(--radius); }

.ui-dark .iconmenu > div.selected { background-color: rgba(255,255,255,0.1); }
.ui-dark .iconmenu > div { border-color: #404040; }

.detail figure { min-height: 35px; padding: 8px 0 5px; border-top: 1px solid #E0E0E0; font-size: 13px; }
.detail figure > p { margin: 0 0 20px; }
.detail figure:first-child { border-top: 0; }
.detail figure > span { float: left; width: 140px; color: #777; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding-right: 5px; }
.detail figure > span i { width: 14px; margin-right: 5px; text-align: center; }
.detail figure > div { margin-left: 150px; }
.ui-dark .detail figure { border-top-color: #404040; }
