.ui-colorpicker-container { position: absolute; z-index: 109; }
.ui-colorpicker { border: 1px solid #E0E0E0; font-size: 14px; color: black; width: 272px; z-index: 10; background-color: white; box-shadow: 0 5px 10px rgba(0,0,0,0.08); border-radius: 4px; z-index: 80; overflow: hidden; margin: 0; padding: 0; }
.ui-colorpicker-body { padding: 12px 13px 15px 10px; margin: 0; text-align: right; }
.ui-colorpicker-body div:nth-child(1) { margin-bottom: 6px; }
.ui-colorpicker-body div:nth-child(2) { margin-bottom: 13px; }
.ui-colorpicker-body span { cursor: pointer; width: 19px; height: 21px; display: inline-block; border: 1px solid rgba(0,0,0,0.2); margin: 2px; padding: 0; margin-bottom: -6px; margin-left: -1px; transition: transform .2s ease-in; }
.ui-colorpicker-body span:hover { transform: scale(1.25); }
.ui-dark .ui-colorpicker { background-color: #303030; border-color: #353535; }