.ui-range { width: 100%; }
.ui-range-label { margin-bottom: 0; font-size: 12px; color: #656D78; text-align: left; }
.ui-range-label .ti { width: 14px; }
.ui-range-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-range input[type=range] { appearance: none; margin: 10px 0; width: 100%; }
.ui-range input[type=range]:focus { outline: none; }
.ui-range input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 10px; cursor: pointer; animate: 0.2s; box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d; background: #E0E0E0; border-radius: 25px; border: 0px solid #000101; }
.ui-range input[type=range]::-webkit-slider-thumb { box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d; border: 0px solid #000; height: 17px; width: 39px; border-radius: 7px; background: #505050; cursor: pointer; -webkit-appearance: none; margin-top: -3.6px; }
.ui-range input[type=range]:focus::-webkit-slider-runnable-track { background: #E0E0E0; }
.ui-range input[type=range]::-moz-range-track { width: 100%; height: 10px; cursor: pointer; animate: 0.2s; box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d; background: #E0E0E0; border-radius: 25px; border: 0px solid #000101; }
.ui-range input[type=range]::-moz-range-thumb { box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d; border: 0px solid #000; height: 17px; width: 39px; border-radius: 7px; background: #505050; cursor: pointer; }
.ui-range input[type=range]::-ms-track { width: 100%; height: 10px; cursor: pointer; animate: 0.2s; background: transparent; border-color: transparent; border-width: 39px 0; color: transparent; }
.ui-range input[type=range]::-ms-fill-lower { background: #E0E0E0; border: 0px solid #000101; border-radius: 50px; box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d; }
.ui-range input[type=range]::-ms-fill-upper { background: #E0E0E0; border: 0px solid #000101; border-radius: 50px; box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d; }
.ui-range input[type=range]::-ms-thumb { box-shadow: 0px 0px 0px #000, 0px 0px 0px #0d0d0d; border: 0px solid #000; height: 17px; width: 39px; border-radius: 7px; background: #505050; cursor: pointer; }
.ui-range input[type=range]:focus::-ms-fill-lower { background: #E0E0E0; }
.ui-range input[type=range]:focus::-ms-fill-upper { background: #E0E0E0; }

.ui-dark .ui-range input { background-color: #303030; }
.ui-dark .ui-range input[type=range]::-webkit-slider-runnable-track { background: #303030; }
.ui-dark .ui-range input[type=range]:focus::-webkit-slider-runnable-track { background: #303030; }
.ui-dark .ui-range input[type=range]::-webkit-slider-runnable-track { background: #303030; }
.ui-dark .ui-range input[type=range]::-moz-range-track { background: #303030; }
.ui-dark .ui-range input[type=range]::-ms-fill-lower { background: #303030; }
.ui-dark .ui-range input[type=range]::-ms-fill-upper { background: #303030; }
.ui-dark .ui-range input[type=range]:focus::-ms-fill-lower { background: #303030; }
.ui-dark .ui-range input[type=range]:focus::-ms-fill-upper { background: #303030; }
