.markdown { font-size: 16px; line-height: 22px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: #404040; overflow-x: hidden; }
.markdown code { font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; }
.markdown h1 { cursor: default; margin: 0 0 20px; font-size: 30px; padding: 0 0 13px; border-bottom: 1px solid #E0E0E0; color: black; line-height: 38px; font-family: -apple-systm, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; line-height: 32px; font-weight: bold; }
.markdown h2 { cursor: default; margin: 30px 0 18px; font-weight: bold; font-size: 25px; padding: 0 0 8px; border-bottom: 1px solid #E0E0E0; color: black; line-height: 28px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }
.markdown h3 { cursor: default; margin: 30px 0 10px; font-size: 20px; padding: 0 0 5px; color: #404040; font-weight: bold; line-height: 22px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }
.markdown h4, .markdown h5 { cursor: default; margin: 20px 0 10px; font-size: 17px; color: #404040; font-weight: bold; line-height: 22px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; background-color: #F0F0F0; padding: 4px 3px; border-radius: 3px; border-bottom: 1px solid #E0E0E0; }
.markdown p { margin: 10px 0 20px; padding-left: 0; padding-right: 0; }
.markdown p code, .markdown li code, .markdown section code, .markdown blockquote code, .markdown h1 code, .markdown h2 code, .markdown h3 code, .markdown h4 code, .markdown td code { background-color: #E0E0E0; padding: 1px 4px 2px; border-radius: 3px; font-size: 14px; }
.markdown p code, .markdown section code, .markdown li code, .markdown blockquote code, .markdown td code { border: 1px solid #E0E0E0; background-color: #F5F5F5; }
.markdown pre { padding: 0; border-radius: 4px; margin: 20px 0; width: 100%; }
.markdown pre code { padding: 10px; font-size: 14px; line-height: 18px; overflow-scrolling: touch; border-radius: 3px; }
.markdown table { margin: 0 0 20px; width: auto !important; }
.markdown ul { margin: 0 0 20px 0; padding: 0 0 0 2em; }
.markdown ul ul { margin-bottom: 0; }
.markdown img { max-width: 100%; }
.markdown th { background-color: #F8F8F8; }
.markdown blockquote { color: black; margin: 10px 0 20px; padding: 10px 0 0 15px; position: relative; }
.markdown blockquote:before { content: '\201C'; position: absolute; margin-left: -14px; margin-top: -13px; font: 45px 'PT Sans', sans-serif; color: #A0A0A0; }
.markdown section { padding: 15px 20px; background-color: #FFFED1; margin: 10px 0 20px; border-radius: 3px; }
.markdown hr { border-color: #E0E0E0; border-width: 2px; }
.markdown h1 code { font-size: 28px; font-weight: normal; background-color: #DAE8F8; }
.markdown h2 code { font-size: 23px; font-weight: normal; background-color: #DAE8F8; }
.markdown h3 code { font-size: 18px; font-weight: normal; background-color: #DAE8F8; }
.markdown h4 code { font-size: 17px; font-weight: normal; background-color: #DAE8F8; }
.markdown a code { background-color: #DAE8F8; text-decoration: none !important; border-color: #D5DFEB; }
.markdown .footnote { background-color: rgba(0,0,0,0.1); padding: 0 2px; border-radius: 2px; cursor: help; }
.markdown .footnotebody { font-size: 11px; border-top: 1px solid #E0E0E0; font-family: Arial; color: #505050; }

.markdown .showsecret { cursor: pointer; display: block; padding: 8px 15px; user-select: none; }
.markdown .showsecret b { margin-left: 8px; }
.markdown .showsecret .pull-right { margin: 2px 0 0; }
.markdown .secret { padding: 0; border-radius: 2px; border: 1px solid #E0E0E0; }
.markdown .secret > div { padding: 15px 5px 1px; border-radius: 0 0 2px 2px; background-color: #F8F8F8; }

.ui-dark .markdown { color: #C0C0C0; }
.ui-dark .markdown blockquote { color: white; }
.ui-dark .markdown blockquote:before { color: #707070; }
.ui-dark .markdown th { background-color: #404040; }
.ui-dark .markdown h2 { color: white; border-bottom-color: #404040; }
.ui-dark .markdown h1 { color: white; border-bottom-color: #404040; }
.ui-dark .markdown h1 code { background-color: #404040; }
.ui-dark .markdown hr { border-color: #404040; }
.ui-dark .markdown h2 code { background-color: #404040; }
.ui-dark .markdown h3 code { background-color: #404040; }
.ui-dark .markdown h4 code { background-color: #404040; }
.ui-dark .markdown section { background-color: #404040; }
.ui-dark .markdown a code { background-color: #303030; border-color: #454545; }
.ui-dark .markdown h4, .ui-dark .markdown h5 { color: #C0C0C0; background-color: #505050; border-bottom: 1px solid #404040; }
.ui-dark .markdown p code, .ui-dark .markdown section code, .ui-dark .markdown li code, .ui-dark .markdown blockquote code, .ui-dark .markdown td code { border-color: #404040; background-color: #505050; }
.ui-dark .markdown .footnote { background-color: rgba(255,255,255,0.1); }
.ui-dark .markdown .footnotebody { border-top-color: #505050; color: #888888; }

.ui-dark .markdown .secret { border: 1px solid #404040; }
.ui-dark .markdown .secret > div { background-color: #303030; }