.hidden { display: none; }
.ui-selectbox * { box-sizing: border-box; }
.ui-selectbox { border: 1px solid #E0E0E0; font-size: 14px; color: black; }
.ui-selectbox ul { list-style-type: none; width: 50%; height: 100%; float: left; overflow: auto; margin: 0; padding: 0; border-left: 1px solid #E0E0E0; font-weight: bold; overflow-scrolling: touch; }
.ui-selectbox ul:first-child { border-left: 0; font-weight: normal; }
.ui-selectbox li { border-bottom: 1px solid #E0E0E0; padding: 5px 10px; cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ui-selectbox li:hover { background-color: #F0F0F0; }
.ui-selectbox-selected { color: #A0A0A0; }
.ui-selectbox-search { border-bottom: 1px solid #E0E0E0; height: 34px; background-color: white; }
.ui-selectbox-search input { width: 100%; outline: 0; background-color: white; font: normal normal 12px Arial; border: 0; margin: 0; padding: 0; }
.ui-selectbox-search span { float: left; width: 30px; text-align: center; height: 30px; padding: 8px 0 0 0; font-size: 12px; color: #A0A0A0; }
.ui-selectbox-search .fa-times { color: red; cursor: pointer; }
.ui-selectbox-search div { margin-left: 30px; padding: 6px 10px 0 0; }
.ui-selectbox-invalid { border-color: #E1A1A1; background-color: #FFF3F3 !important; }
.ui-selectbox-invalid .ui-selectbox-search { border-color: #E1A1A1; }
.ui-selectbox.ui-disabled input { background-color: #F0F0F0; color: gray; }
.ui-selectbox.ui-disabled .ui-selectbox-search { background-color: #F0F0F0; }
.ui-selectbox.ui-disabled ul { color: gray; overflow: hidden; }
.ui-selectbox.ui-disabled li:hover { background-color: white !important; }