.objecttree { font-family: Menlo, Consolas, monospace; font-size: 10px; color: #000; overflow: hidden; white-space: pre-wrap; }
.objecttree-item { margin-left: 16px; position: relative; }
.objecttree-item-key:hover { background-color: #f6f6f6; }
.objecttree-key { color: #1A8B95; }
.objecttree-number { color: #6d49ff; }
.objecttree-boolean { color: #1B7F16; }
.objecttree-null { color: #777; font-style: italic; }
.objecttree-string { color: #ff6e6e; }
.objecttree-date { color: #acacac; }
.objecttree-item > div:not(.objecttree-item):hover > .toolbox, .objecttree-item:hover > .toolbox { display: block; }
.objecttree .toolbox { display: none; position: absolute; right: 0; top: -3px; background-color: #e2e2e2; padding: 2px 4px; border-radius: 3px; font-size: 12px; color: #8e8e8e; cursor: pointer; }
.objecttree .toolbox i { margin-right: 4px; }
.objecttree .toolbox i:hover { margin-right: 4px; color: black; }
.objecttree .toolbox i:last-child{ margin-right: 0; }
.objecttree .ml { margin-left: 16px; }
.objecttree .fa.fa-chevron-down { font-size: 10px; margin-right: 4px; padding: 1px 2px; background-color: #c6c6c6; border-radius: 2px; cursor: pointer; }
.objecttree .fa.fa-chevron-down.fa-rotate-270 { background-color: #9fb0ff; }
.ui-dark .objecttree { color: #A0A0A0; background-color: #404040; }
.ui-dark .objecttree-item-key:hover { background-color: #353535; }
.ui-dark .objecttree .toolbox { background-color: #6e6e6e; color: #cbcbcb; }
.ui-dark .objecttree .fa.fa-chevron-down { background-color: #414141; }
.ui-dark .objecttree .fa.fa-chevron-down.fa-rotate-270 { background-color: #9fb0ff; color: #e5e5e5; }
.ui-dark .objecttree .toolbox i:hover { color: white; }