.ui-mainprogress { position: fixed; left: 0; top: 0; height: 2px; z-index: 1001; background-color: var(--color); box-shadow: 0 2px 10px rgba(66,130,244,0.8); }
.ui-mainprogress-bottom { bottom: 0; top: unset; box-shadow: 0 -2px 10px rgba(66,130,244,0.8); }
