.ui-dropdowncheckbox-container * { box-sizing: border-box; }
.ui-dropdowncheckbox-container { display: block; text-align: left; position: relative; font-size:14px; }
.ui-dropdowncheckbox { border: 1px solid #E0E0E0; padding: 0 10px; border-radius: 2px; outline: 0; overflow: hidden; width: 100%; background-color: white; height: 32px; cursor: pointer; }
.ui-dropdowncheckbox div { padding: 5px 0 0 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: black; }
.ui-dropdowncheckbox .fa { float: right; width: 20px; text-align: right; margin: 8px 0 0 0; }
.ui-dropdowncheckbox-label .fa { width: 14px; }
.ui-dropdowncheckbox-label { margin-bottom: 5px; font-size: 12px; color: gray; }
.ui-dropdowncheckbox-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-dropdowncheckbox-values { position: absolute; width: 100%; z-index: 2; background-color: white; border: 1px solid #E0E0E0; padding: 5px 10px; border-radius: 0 0 3px 3px; line-height: 18px; margin-top: -1px; box-shadow: 0 3px 5px rgba(0,0,0,0.08); overflow: auto; max-height: 250px; font-size: 12px; }
.ui-dropdowncheckbox-item { cursor: pointer; padding-bottom: 2px; }
.ui-dropdowncheckbox-item span { cursor: pointer; vertical-align: middle; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; margin-left: 20px; }
.ui-dropdowncheckbox-item div { float: left; width: 16px; height: 16px; border: 2px solid #E0E0E0; margin: 1px 6px 0 0; vertical-align: middle; cursor: pointer; color: white; font-size: 11px; text-align: center; padding: 1px 0 0 1px; background-color: white; border-radius: 3px; }
.ui-dropdowncheckbox-item .fa { display: none; }
.ui-dropdowncheckbox-checked div { background-color: #017CCA; border-color: #017CCA; }
.ui-dropdowncheckbox-checked .fa { display: block !important; }
.ui-dropdowncheckbox-invalid { border: 1px solid #E1A1A1 !important; background-color: #FFF3F3 !important; }
.ui-dropdowncheckbox-values-empty { text-align: center; padding: 10px 0; color: #A0A0A0; }

.ui-disabled .ui-dropdowncheckbox-selected { color: #A0A0A0; cursor: not-allowed; }
.ui-disabled .ui-dropdowncheckbox { background-color: #F0F0F0; }
.ui-disabled .ui-dropdowncheckbox .fa { color: #A0A0A0; cursor: not-allowed; }

.hidden { display: none; }