.ui-table2-wrapper { overflow: scroll; -ms-overflow-style: none; scrollbar-width: none; }
.ui-table2-wrapper::-webkit-scrollbar { display: none; }
.ui-table2-header { display: block; cursor: default; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; font-size: 11px; color: #8b8b8b; font-weight: 300; position: sticky; top: 0; background-color: #fff; margin-bottom: 2px; padding: 0 15px; }
.ui-table2-th { padding: 5px; font-weight: 400; font-family: monospace sans-serif; }
.ui-table2-tr { display: block; padding: 0 15px; cursor: pointer; }
.ui-table2-tr:nth-child(even) { display: block; background-color: #f4f5f5; border-radius: 5px; }
.ui-table2 .monospace { font-family: monospace; }
.ui-table2 .center { text-align: center; }
.ui-table2 .right { text-align: right; }
.ui-table2 .bold { font-weight: bold; }