.ui-dropdowncheckbox-container { display: block; text-align: left; position: relative; font-size:14px; }
.ui-dropdowncheckbox-container * { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.ui-dropdowncheckbox { border: 1px solid #E0E0E0; padding: 0 10px; border-radius: 2px; outline: 0; overflow: hidden; width: 100%; background-color: white; height: 30px; cursor: pointer; }
.ui-dropdowncheckbox div { padding: 6px 0 0 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: black; }
.ui-dropdowncheckbox .fa { float: right; width: 20px; text-align: right; margin: 6px 0 0 0; }
.ui-dropdowncheckbox-label .fa { width: 14px; }
.ui-dropdowncheckbox-label { margin-bottom: 5px; font-size: 12px; color: gray; }
.ui-dropdowncheckbox-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-dropdowncheckbox-values { position: absolute; width: 100%; z-index: 2; background-color: white; border: 1px solid #E0E0E0; padding: 5px 10px; border-radius: 3px; line-height: 18px; margin-top: -1px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); font-size: 12px; }
.ui-dropdowncheckbox-values label { cursor: pointer; vertical-align: middle; }
.ui-dropdowncheckbox-values input { vertical-align: middle; }
.ui-dropdowncheckbox-values span { margin-left: 5px; vertical-align: middle; }
.ui-dropdowncheckbox-invalid { border: 1px solid #E1A1A1 !important; background-color: #FFF3F3 !important; }
.ui-dropdowncheckbox-selected span { color: silver; }

.hidden { display: none; }